.logo {
  float: left;
  width: 15%;
  margin: 2.5em 0 0;
}
.top-nav{
  float: left;
  width: 45%;
}
.top-nav ul{
	padding:0;
	margin:0;
}
.top-nav ul  li{
  display: inline-block;
  width: 18%;
  float: left;
}
.top-nav ul  li.active{
	background:#66a3ff;
}
.top-nav ul li a {
  color: #000;
  font-size: 1.3em;
  margin-right: .4em;
  float: left;
  padding: 3em 0em 1.5em 0em;
  text-align: center;
  width: 100%;
  font-family: 'Alegreya', serif;
}
.top-nav ul li a:hover{
	text-decoration:none;
	color: #fff;
}
.top-nav ul li.active a {
  color: #fff;
}
.sweep {
  display: inline-block;                                           
  vertical-align: middle;
  -webkit-transform: translateZ(0);
    -o-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
    -ms-osx-font-smoothing: grayscale;
        -o-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
    -o-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.sweep:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #66a3ff; 
  -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
    -o-transition-property: transform;
  -moz-transition-property: transform;
  -ms-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
        -o-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.sweep:hover:before, .sweep:focus:before, .sweep:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.login {
  float: right;
  background: #fff;
  width: 20%;
  margin: 2.8em 0 0;
  font-size: 18px;
}

.search {
  border: 1px solid #EEE;
  padding: 0.5em 0 0.5em 0;
  background: #fff;
  float: left;
  width: 15em;
  margin: 3.2em 0 0;
}
.search input[type="text"]{
	width: 80%;
	outline: none;
	padding: 0em 0.6em;
	font-size: 1em;
	color: #999;
	position: relative;
	border: none;
}
.search input[type="submit"]{
	background: url(../images/search-icon.png) no-repeat 0px 2px;
	border: none;
	height: 26px;
	width: 26px;
	display: inline-block;
	position: absolute;
	outline: none;
	cursor: pointer;
	top: 4px;
	right: 2px;
}

body {
  line-height: 0.8em;
}

#loginanimation.swing {
	-webkit-animation-name: swing;
	-moz-animation-name: swing;
	-ms-animation-name: swing;
	animation-name: swing;
}

#loginanimation{
	animation-duration: 1s;
			animation-delay: .2s;
			animation-timing-function: ease;
			animation-fill-mode: both;
}
