[submodule "provision/puppet/modules/accounts"]
	path = provision/puppet/modules/accounts
	url = https://github.com/puppetlabs/puppetlabs-accounts.git
[submodule "provision/puppet/modules/concat"]
	path = provision/puppet/modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "provision/puppet/modules/datacat"]
	path = provision/puppet/modules/datacat
	url = https://github.com/richardc/puppet-datacat.git
[submodule "provision/puppet/modules/elasticsearch"]
	path = provision/puppet/modules/elasticsearch
	url = https://github.com/elastic/puppet-elasticsearch.git
[submodule "provision/puppet/modules/epel"]
	path = provision/puppet/modules/epel
	url = https://github.com/stahnma/puppet-module-epel.git
[submodule "provision/puppet/modules/firewall"]
	path = provision/puppet/modules/firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall.git
[submodule "provision/puppet/modules/gcc"]
	path = provision/puppet/modules/gcc
	url = https://github.com/puppetlabs/puppetlabs-gcc.git
[submodule "provision/puppet/modules/inifile"]
	path = provision/puppet/modules/inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile.git
[submodule "provision/puppet/modules/java"]
	path = provision/puppet/modules/java
	url = https://github.com/puppetlabs/puppetlabs-java.git
[submodule "provision/puppet/modules/letsencrypt"]
	path = provision/puppet/modules/letsencrypt
	url = https://github.com/voxpupuli/puppet-letsencrypt.git
[submodule "provision/puppet/modules/logrotate"]
	path = provision/puppet/modules/logrotate
	url = https://github.com/yo61/puppet-logrotate.git
[submodule "provision/puppet/modules/motd"]
	path = provision/puppet/modules/motd
	url = https://github.com/puppetlabs/puppetlabs-motd.git
[submodule "provision/puppet/modules/mysql"]
	path = provision/puppet/modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "provision/puppet/modules/nginx"]
	path = provision/puppet/modules/nginx
	url = https://github.com/voxpupuli/puppet-nginx.git
[submodule "provision/puppet/modules/postfix"]
	path = provision/puppet/modules/postfix
	url = https://github.com/camptocamp/puppet-postfix.git
[submodule "provision/puppet/modules/python"]
	path = provision/puppet/modules/python
	url = https://github.com/stankevich/puppet-python.git
[submodule "provision/puppet/modules/redis"]
	path = provision/puppet/modules/redis
	url = https://github.com/arioch/puppet-redis.git
[submodule "provision/puppet/modules/selinux"]
	path = provision/puppet/modules/selinux
	url = https://github.com/voxpupuli/puppet-selinux.git
[submodule "provision/puppet/modules/stdlib"]
	path = provision/puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "provision/puppet/modules/uwsgi"]
	path = provision/puppet/modules/uwsgi
	url = https://github.com/rvdh/puppet-uwsgi.git
[submodule "provision/puppet/modules/vcsrepo"]
	path = provision/puppet/modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
