uwsgi
flask
flask-login
WTForms
Flask-WTF
redis
mysql
passlib
bcrypt
enum34
Pillow
markdown
bleach
elasticsearch>=2.0.0,<3.0.0 # We are using Elasticsearch 2.x
pycrypto
envelopes
sendgrid
xlsxwriter
pyexcel-xlsx
xkcdpass
celery[redis]
pystache
python-magic
pip-tools
django-htmlmin
Sphinx
