{% extends "base.html.j2" %}{% from 'macros.html.j2' import get_messages %}
{% block title %}Contact Administrators{% endblock %}
{% block content %}

<!-- Below Navbar -->
<div class="container">
	<form class="form-group white" action="{{ url_for('contactadmin_submit') }}" method="post">
		<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
		<h1>Contact Administrator</h1>
		<p>Your account's information will be recorded. Please be aware of this when you submit your contents.</p>
		{{ get_messages(['contact_admin'], br_after=True) }}
		<label for="content">Content:</label>
		<textarea class="form-control" rows="10" name="content" id="content"></textarea>
		<br>
		<p>*Your information will be directly sent to admininistrator.</p>
		<input type="submit" class="btn btn-success large_button" value="Submit">
	</form>
</div>

{% endblock %}
