{% extends "base.html" %}
{% block title %}Contact Creators{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(category_filter=["contact_creators"]) %}

<!-- Below Navbar -->
<div class="container" style="font-size:125%">
	<div class="col-sm-4">
		<center>
			<img src="static/images/advice.jpg" class="img-responsive img-thumbnail" alt="Advice">
		</center>
	</div>
	<div class="col-sm-8">
		<form class="form-group color-lightgrey" action="{{ url_for('contactcreators_submit') }}" method="post">
			<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
			<h1>Contact Creators</h1>
			{% if messages %}
			<ul class="list-group" style="color:black">
				{% for message in messages %}
				<li class="list-group-item">{{ message }}</li>
				{% endfor %}
			</ul>
			<br>
			{% endif %}
			<p>Your advice is important to oClubs.</p>
			<p>*Name and contact can be left blank if you want to stay anonymous.</p>
			<label for="name">Your Name:</label>
			<input type="text" class="form-control" name="name" id="name">
			<br>
			<label for="contact">Contact (email / wechat):</label>
			<input type="text" class="form-control" name="contact" id="contact">
			<br>
			<label for="content">*Content:</label>
			<textarea class="form-control" rows="10" name="content" id="content"></textarea>
			<br>
			<input type="submit" class="btn btn-success large_button" value="Submit">
		</form>
	</div>
</div>

{% endwith %}
{% endblock %}