{% extends "base.html" %}
{% block content %}

<!-- Below Navbar -->
<div class="container creators">
    <h1 class="title">Three creators of this website</h1>
    <h2 class="title_next">Here is some basic introduction for them.</h2>
    <div class="col-sm-4">
        <div class="panel">
            <div class="panel-heading blue">Ichiro Tai</div>
            <div class="panel-body bg">
                <center><img class="img-circle img-responsive" src="static/images/1.jpg" alt="Ichiro Tai"></center>
                <br>
                <p class="text-center">204 No Content</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel">
            <div class="panel-heading green">YiFei Zhu</div>
            <div class="panel-body bg">
                <center><img class="img-circle img-responsive" src="static/images/2.jpg" alt="YiFei Zhu"></center>
                <br>
                <p class="text-center">418 I'm a Teapot</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel">
            <div class="panel-heading red">Frank Lee</div>
            <div class="panel-body bg">
                <center><img class="img-circle img-responsive" src="static/images/3.jpg" alt="Frank Lee"></center>
                <br>
                <p class="text-center">404 Page Not Found</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
	<h2 class="title_next">We come. We code. Then -> oClubs.finished()</h2>
	<br>
</div>

<div class="container">
    <button class="btn btn-info btn-block btn-lg" onclick="location.href='http://www.shsid.org'">Check school homepage! - Shanghai High School International Division</button>
</div>

{% endblock %}