{% extends "base.html" %}
{% block title %}Creators{% endblock %}
{% block content %}

<!-- Below Navbar -->
<div class="container creators">
    <center><h1 class="title">Three creators of this website</h1></center>
    <center><h2 class="title_next">Here is some basic introduction for them.</h2></center>
    <div class="col-xs-4">
        <div class="panel">
            <div class="panel-heading blue">Ichiro "Derril" Tai</div>
            <div class="panel-body bg">
                <center><img class="img-circle img-responsive" src="static/images/1.jpg" alt="Ichiro Tai"></center>
                <br>
                <p class="text-center">404 Page Not Found</p>
            </div>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="panel">
            <div class="panel-heading green">YiFei Zhu</div>
            <div class="panel-body bg">
                <center><img class="img-circle img-responsive" src="static/images/2.jpg" alt="YiFei Zhu"></center>
                <br>
                <p class="text-center">418 I'm a Puppy</p>
            </div>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="panel">
            <div class="panel-heading red">Frank Lee</div>
            <div class="panel-body bg">
                <center><img class="img-circle img-responsive" src="static/images/3.jpg" alt="Frank Lee"></center>
                <br>
                <p class="text-center">403 Forbidden</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
	<center><h2 class="title_next">We come. We code. Then <code>>>> oClubs.created()</code></h2></center>
	<br>
</div>

<div class="container">
    <a style="white-space: normal" class="btn btn-info btn-block btn-lg" href="http://www.shsid.org">Check school homepage! - Shanghai High School International Division</a>
</div>

{% endblock %}