{% extends "base.html.j2" %}
{% from 'macros.html.j2' import get_messages %}

{% block additionalcssjs %}
<link href="{{ url_for('static', filename='css/errors.min.css') }}" rel="stylesheet" type="text/css" media="all">
{% endblock %}

{% block title %}
{% if error_type is equalto 500 %}
Poof! Something is burning!
{% endif %}
{% if error_type is equalto 404 %}
Nothing Here to Connect
{% endif %}
{% if error_type is equalto 403 %}
For Her Majesty Only!
{% endif %}
{% if error_type is equalto 401 %}
ID, Please?
{% endif %}
{% if error_type is equalto 418 %}
I'm a teapot
{% endif %}
{% if error_type is equalto 400 %}
Doesn't fit!
{% endif %}
{% endblock %}
{% block content %}

<!-- Below Navbar -->
<div class="container">
	{% if error_type is equalto 500 %}
	<br>
	<div class="row">
		<div class="col-md-4">
		</div>

		<div class="col-md-4">
			<p>
				<img class="img-thumbnail" src="{{ url_for('static', filename='images/errors/500.png')  }}">
			</p>
		</div>

		<div class="col-md-4">
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3">
		</div>

		<div class="col-md-6 text-center">
			<h4>500 Internal Server Error</h4>
			<div class="help-block">
				Uh oh, the outlet is broken!
				<br> Something went wrong on our side.
				<br>
				<br>
				Please help us fix this by <a class="title_link" target="_blank" href="{{ url_for('reportbug') }}">reporting this bug</a>. <br>
				Please include the following debug information:
			</div>
		</div>

		<div class="col-md-3">
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
		</div>

		<div class="col-md-6 text-center">
				<code> {{ get_messages(['500']) }} </code>
			</div>
		</div>

		<div class="col-md-3">
		</div>
	</div>
	{% endif %}
	{% if error_type is equalto 404 %}
	<br>
	<div class="row">
		<div class="col-md-4">
		</div>

		<div class="col-md-4">
			<p>
				<img class="img-thumbnail" src="{{ url_for('static', filename='images/errors/404.png')  }}">
			</p>
		</div>

		<div class="col-md-4">
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3">
		</div>

		<div class="col-md-6 text-center">
			<h4>404 Not Found</h4>
			<div class="help-block">
				Couldn't find any outlets here...
				<br> The page you were looking for doesn't exist.
				<br> Take me somewhere with outlets: <a href="{{ url_for('homepage') }}">Home</a>
			</div>
		</div>

		<div class="col-md-3">
		</div>
	</div>
	{% endif %}
	{% if error_type is equalto 403 %}
	<br>
	<div class="row">
		<div class="col-md-4">
		</div>

		<div class="col-md-4">
			<p>
				<img class="img-thumbnail" src="{{ url_for('static', filename='images/errors/403.png')  }}">
			</p>
		</div>

		<div class="col-md-4">
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3">
		</div>

		<div class="col-md-6 text-center">
			<h4>403 Forbidden</h4>
			<div class="help-block">
				This special outlet is for her majesty only! <br>
				The page you're trying visit requires special access.
			</div>
		</div>

		<div class="col-md-3">
		</div>
	</div>
	{% endif %}
	{% if error_type is equalto 401 %}
	<br>
	<div class="row">
		<div class="col-md-4">
		</div>

		<div class="col-md-4">
			<p>
				<img class="img-thumbnail" src="{{ url_for('static', filename='images/errors/401.png')  }}">
			</p>
		</div>

		<div class="col-md-4">
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3">
		</div>

		<div class="col-md-6 text-center">
			<h4>401 Unauthorized</h4>
			<div class="help-block">
				ID, please? <br>
				You may need to <a class="title_link" href="{{ url_for('login') }}">login</a>.
			</div>
		</div>

		<div class="col-md-3">
		</div>
	</div>
	{% endif %}
	{% if error_type is equalto 418 %}
	<br>
	<div class="row">
		<div class="col-md-4">
		</div>

		<div class="col-md-4">
			<p>
				<img class="img-thumbnail" src="{{ getpicture('teapot', 'png') }}">
			</p>
		</div>

		<div class="col-md-4">
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3">
		</div>

		<div class="col-md-6 text-center">
			<h4>418 I'm a teapot</h4>
			<div class="help-block">
				Connect is a little teapot. <br>
				The requested entity body is short and stout. ~ <br>
				The server refuses to brew coffee because it is a teapot.
				<br>
				<br>
				April 1st? <br>
				<a class="title_link" target="_blank" href="https://en.wikipedia.org/wiki/Hyper_Text_Coffee_Pot_Control_Protocol">Wikipedia: Hyper Text Coffee Pot Control Protocol (HTCPCP)</a>
			</div>
		</div>

		<div class="col-md-3">
		</div>
	</div>
	{% endif %}
	{% if error_type is equalto 400 %}
	<br>
	<div class="row">
		<div class="col-md-4">
		</div>

		<div class="col-md-4">
			<p>
				<img class="img-thumbnail" src="{{ url_for('static', filename='images/errors/400.png')  }}">
			</p>
		</div>

		<div class="col-md-4">
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3">
		</div>

		<div class="col-md-6 text-center">
			<h4>400 Bad Request</h4>
			<div class="help-block">
				Doesn't fit the outlet! <br>
				The server couldn't understand your request.
			</div>
		</div>

		<div class="col-md-3">
		</div>
	</div>
	{% endif %}
</div>

{% endblock %}
