{% extends "base.html" %}
{% block title %}
{% if error_type is equalto 500 %}
500 Internal Server Error
{% endif %}
{% if error_type is equalto 404 %}
404 Page Not Found
{% endif %}
{% if error_type is equalto 403 %}
403 Forbidden
{% endif %}
{% if error_type is equalto 401 %}
401 Unauthorized
{% endif %}
{% endblock %}
{% block content %}

<!-- Below Navbar -->
<div class="container error">
{% if error_type is equalto 500 %}
	{% with errors = get_flashed_messages(category_filter=["500"]) %}
	<h1 class="title text-center">500 Internal Server Error</h1>
	<center><img src="{{ getpicture('smiley_face', 'png') }}" class="img-responsive" alt="Sad face" width="40%"></center>
	<br><br>
	<center><p>Oops. This is an awkward moment. Please contact us and tell us about what you have done so far. Hopefully you can also send the content below to us. We will reply and fix this error as soon as possible. Please click advice/opinion at the bottom of this page to contact us. Thank you for your coorperation.</p></center>
	{% if errors %}
	<ul class="list-group">
		{% for message in errors %}
		<li class="list-group-item">{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
{% endif %}
{% if error_type is equalto 404 %}
	<h1 class="title text-center">404 Page Not Found</h1>
	<center><img src="{{ getpicture('norecord') }}" class="img-responsive img-thumbnail" alt="No Record" width="40%"></center>
	<br><br>
	<center><p>We are sorry to tell you. We do not have record for the address you entered. Please recheck if you entered correctly. Thank you for your cooperation.</p></center>
{% endif %}
{% if error_type is equalto 403 %}
	<h1 class="title text-center">403 Forbidden</h1>
	<center><img src="{{ getpicture('noaccess') }}" class="img-responsive img-thumbnail" alt="No Access" width="40%"></center>
	<br><br>
	<center><p>We are sorry to tell you. You have no access to the url you entered. Please login to check if you really have the access. If you are already logged in, then it is certain that you have no access.</p></center>
{% endif %}
{% if error_type is equalto 401 %}
	<h1 class="title text-center">401 Unauthorized</h1>
	<center><img src="{{ getpicture('notloggedin', 'png') }}" class="img-responsive" alt="Not Logged In" width="40%"></center>
	<br><br>
	<center><p>We are sorry to tell you. You are not logged in. Please login to check if you have the access to the url you entered.</p></center>
{% endif %}
</div>

{% endblock %}
