{% extends "base.jinja2" %}
{% block title %}FAQ{% endblock %}
{% block content %}

<div class="container">
	<center><h1 class="title">Frequently Asked Questions</h1></center>
	<center><img src="{{ getpicture('faq', 'png') }}" class="img-responsive img-thumbnail emptyline-lg" alt="FAQ"></center>
	<div class="white">
		<div class="faq">
		<h2 class="midtext">What is oClubs?</h2>
		<ul><li>
		<p class="smalltext emptyline">It is SHSID 9-12th grade's official online club management platform for both club leaders and club members. Each student has/will have an account. You MUST use the website to join clubs/activities (Eg. HongMei teaching), otherwise the school won't recognize your participation and you will not receive CAS hours. Leaders can easily manage members' information. It is currently hosted at https://www.oclubs.shs.cn.</p></li></ul>
		<h2 class="midtext">Why am I given a random string of characters as the username of my account?</h2>
		<ul><li>
		<p class="smalltext emptyline">Due to school regulations, we cannot use your school IDs or your real names as the usernames of the accounts. Thus, we can only give you random strings of characters as the usernames.<br></p></li></ul>
		<h2 class="midtext">What do I do when I lose the username or password of my account?</h2>
		<ul><li>
		<p class="smalltext emptyline">You can retrieve your account by contacting creators or administrators. The contact options are displayed at the bottom of the website.<br></p></li></ul>
		<h2 class="midtext">What?? Default?? Is the website experiencing any issues?</h2>
		<ul><li>
		<p class="smalltext">Roll down. No. It shows "Default" because no pictures are uploaded YET. Only new activity photos can be uploaded and seen. So create your activity and and upload the photo for your activity. Your activity's photo will then be shown on the homepage.</p></li></ul>
		<h2 class="midtext">What if a club has two (or more) leaders?</h2>
		<ul><li>
		<p class="smalltext">Only one person can create the club and he/she will be the leader. Only one leader can be stored on the website and do online management. Club leaders will have some additional club management pages.
		However, you can tell your grade's club administrator that your club has more than one leader. The school will document it after approval.</p></li></ul>
		</div>
	</div>
	<center><p class="largetext white">Have more questions? Contact creators or administrators below!</p></center>
</div>

{% endblock %}
