{% extends "base.html" %}
{% block title %}FAQ{% endblock %}
{% block content %}

<div class="container">
	<center><h1 class="title">Frequently Asked Questions</h1></center>
	<center><img src="{{ getpicture('faq', 'png') }}" class="img-responsive img-thumbnail emptyline-lg" alt="FAQ"></center>
	<div class="faq">
		<h2 class="largetext"><b>What is oClubs?</b></h2>
		<p class="midtext emptyline">It is SHSID 9-12th grade’s official online club management platform for both club leaders and club members.  Each student has/will have an account.You MUST use the website to join clubs/activities (Eg. HongMei teaching), otherwise the school won’t recognize your participation and you will not receive CAS hours.  Leaders can easily manage members’ information.  </p>
	</div>
	<div class="faq">
		<h2 class="largetext"><b>Why I can’t connect with 4G or connect at home?</b></h2>
		<p class="midtext emptyline">Yes you MUST use the school wifi “shs” to connect to oClubs. It is only open to SHSID students IN SCHOOL considering security reasons, since so much student and school info is stored on the website.  You can’t connect with any internet (外网), including 4G or any other wifi.  
		Tip: Use your phone, laptop, or the library’s computer (MAC YEAH) with “shs” signal</p>
	</div>
	<div class="faq">
		<h2 class="largetext"><b>Can 9-10th grade students use oClubs?</b></h2>
		<p class="midtext emptyline">Yes, from Sep. 5th, 9-12th grade SHSID students can all use oClubs.  Each student will have an account.  Your homeroom teacher will tell you your account and password.<br>  
		TIP: you better change the password!</p>
	</div>
	<div class="faq">
		<h2 class="largetext"><b>How can 9-10th graders connect if they don’t have a wifi account?</b></h2>
		<p class="midtext emptyline">
		Steps:<br>
		1. Find setting, Wi-Fi, choose “shs”<br>
		2. After a window of “account” and “password” pop out, choose cancel/close the window.<br>
		3. At this time, your phone will still have the full signal “shs”, but you cannot connect to any other website (Eg. Baidu…) because you don’t have the wifi account.  <br>
		4. However, when you input “oclubs.shs.cn" or "http://oclubs.shs.cn" in browser address bar, it can be connected.  (It’s because it’s considered 内网.  )<br>
		5. Login (upper right) and yeahhh you can use it.  </p>
	</div>
	<div class="faq">
		<h2 class="largetext"><b>What?? Default?? Does the website has any problem?</b></h2>
		<p class="midtext ">Roll down.  No.  It shows “Default” because no pictures are uploaded YET.  Only new activity photos can be uploaded and seen.  So create your activity and your activity’s photo will have a chance to be seen on the home page (randomly selected) </p>
	</div>
	<div class="faq">
		<h2 class="largetext"><b>What if a club has two (or more) leaders?</b></h2>
		<p class="midtext ">Only one person can create the club and he/she will be the leader.  Only one leader can be stored on the website and do online management.  Club leaders will have some different club management pages.  
		However, you can tell 洪淼老师or马凯成老师 (11th&amp;12th club administrator) that your club has more than one leader.  The school will document it after approval</p>
	</div>
	<div class="faq">
		<h2 class="largetext"><b>Have more questions? Contact creators or administrator below!</b></h2>
	</div>
</div>
{% endblock %}