{% extends "base.html" %}
{% block content %}
<!-- <div class="container">
	<div class="col-md-3 blockpic">
		<img src="static/images/intro1.jpg" class="img-responsive" alt="" />
		<div class="mask">
			<h2>Letraset sheets</h2>
			<p>with the release Letraset sheets Lorem</p>
		</div>
	</div>
	<div class="col-md-6 blockpic">
		<img src="static/images/intro9.jpg" class="img-responsive" alt="" />
		<div class="mask">
			<h2>sheets Lorem Ipsum containing</h2>
			<p> Letraset sheets with the release Letraset</p>
		</div>
	 </div>
	<div class="col-md-3 blockpic">
		<img src="static/images/intro3.jpg" class="img-responsive" alt="" />
		<div class="mask">
			<h2>sheets release</h2>
			<p>with the release Letraset sheets Lorem </p>
		</div>
	 </div>
	<div class="col-md-6 blockpic">
		<img src="static/images/intro7.jpg" class="img-responsive" alt="" />
		<div class="mask">
			<h2>Letraset sheets with</h2>
			<p>Lorem Ipsum containing Lorem Ipsum passages</p>
		</div>
	 </div>
	 <div class="col-md-3 blockpic">
		<img src="static/images/intro8.jpg" class="img-responsive" alt="" />
		<div class="mask">
			<h2>containing Lorem</h2>
			<p> sheets Lorem Ipsum containing Lorem passages</p>
		</div>
	 </div>
	 <div class="col-md-3 blockpic">
		<img src="static/images/intro2.jpg" class="img-responsive" alt="" />
		<div class="mask">
			<h2>with the release</h2>
			<p> Letraset sheets with the release Letraset sheets</p>
		</div>
	 </div>
</div> -->
<div class="container">
	<div class="homepage_image">
		{% for col in top_pic %}
		<div class="col-sm-3">
			{% for act in col %}
			<div class="drag" style="top:{{act*16}}em">
				<span class="drag-point">&nbsp;</span>
				<div class="picture">
					<a href="{{ url_for('actblueprint.activity', activity=act.callsign) }}">
						<img src="{{ act.pictures[0].location_external }}" alt="{{ act.name }}">
					</a>
				</div>
				<p>Lorem ipsum</p>
			</div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
</div>

<br><br>

<div class="container">
	<div style="border-top-style:dotted; border-color:#e4e6e7">
		<br>
		<div class="col-sm-4">
			<div class="panel" style="border-style:none">
				<div class="panel-heading" style="background-color:#1a75ff">
					<h2 class="title_next">Excellent Clubs</h2>
				</div>
				<div class="panel-body" style="background-color:#66a3ff">
					<div class="list-group">
						{% for club in ex_clubs %}
						<a href="{{ url_for('clubblueprint.clubintro', club=club.callsign) }}" class="list-group-item">
							<img src="{{ club.picture.location_external }}" class="img-responsive img-thumbnail" alt="Excellent Club" style="float:left; margin-right:2%" width="35%" height="35%">
							<h3>{{ club.name }}</h3>
							<p>{{ club.intro }}</p>
						</a>
						{% endfor %}
						<a href="{{ url_for('clubblueprint.clublist', club_type='excellent') }}" class="list-group-item">
							<h3 class="text-center">More</h3>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="homepage_block">
				<div class="col-sm-3">
					<img src="static/images/cover.jpg" class="img-responsive img-thumbnail" alt="SHSID|Times Cover">
				</div>
				<div class="col-sm-9">
					<div class="col-sm-10" style="padding-left:0">
						<h1 class="title_next">Clubs in SHSID</h1>
					</div>
					<div class="col-sm-2" style="padding-right:0">
						<a href="{{ url_for('clubblueprint.clublist', club_type='all') }}"><h1><span class="glyphicon glyphicon-list text-right"></span></h1></a>
					</div>
					<h3>Student-led, creative, and surprising</h3>
					<p>In SHSID, many of students participate in club activities. In academics, sports, and many other fields, students can always find what they are interested and join these clubs. All clubs are led by students, and yet they often give out surprising achievements. Let's explore the world of clubs on this website, oClubs!</p>
				</div>
				<div class="clearfix"></div>
			</div>
			<br>
			<div class="homepage_block">
				<h1 class="text-center title_next">Club Photos</h1>
				{% for act in pic_acts %}
				<div class="col-sm-4">
					<a href="{{ url_for('actblueprint.activity', activity=act.callsign) }}"><img src="{{ act.pictures[0].location_external }}" class="img-responsive img-thumbnail" alt="{{ act.name }}"></a>
				</div>
				{% endfor %}
				<div class="clearfix"></div>
				<br>
				<a href="{{ url_for('actblueprint.allphotos', page='1') }}"><button class="btn btn-block btn-primary">All Club Photos</button></a>
			</div>
		</div>
		<br>
	</div>
	<div class="clearfix"></div>
	<br>

	<div class="homepage_function">
		<br>
		<div class="col-sm-3">
			<h1><span class="glyphicon glyphicon-cd"></span></h1>
			<h2>Club Members</h2>
			<h4>Online application</h4>
		</div>
		<div class="col-sm-3">
			<h1><span class="glyphicon glyphicon-apple"></span></h1>
			<h2>Club Leaders</h2>
			<h4>Online management</h4>
		</div>
		<div class="col-sm-3">
			<h1><span class="glyphicon glyphicon-globe"></span></h1>
			<h2>Club Teachers</h2>
			<h4>Online operation</h4>
		</div>
		<a href="{{ url_for('about') }}">
			<div class="col-sm-3">
				<center><img src="static/images/more.jpg" class="img-responsive img-circle" alt="More"></center>
				<h2>Learn more</h2>
				<h4>oClubs's functions</h4>
			</div>
		</a>
		<br>
	</div>
</div>

{% endblock %}