{% extends "base.html" %}{% from 'macros.html' import get_messages %}
{% block title %}Markdown{% endblock %}
{% block content %}

<div class="container">
<h2 class="title">Markdown: What is markdown?</h1>
<h3 class="largetext white">Markdown is a lightweight markup language with plain text formatting syntax.</h3>
<h3 class="largetext white">OClubs supports markdown when writing club introduction or activity post.</h3>
<h3 class="title_next">Examples:</h2>
<div class="row">
	<div class="col-sm-6">
		<h3 class="white">What you write:</h3>
		<textarea class="form-control" rows="31" readonly="readonly">{{ raw }}</textarea>
	</div>
	<div class="col-sm-6">
		<h3 class="white">What you'll see:</h3>
		<div class="white">
			{{ rendered }}
		</div>
	</div>
</div>
<h3 class="white largetext">For more information, please visit <a class="white-a" href="https://en.wikipedia.org/wiki/Markdown">Markdown - Wikipedia</a></h3>
</div>

{% endblock %}
