<div class="row">
  <div class="col-md-6 col-xs-6">
    <div class="well">
      <h4>Plain text in markdown</h4>

      <hr class="separator">

      <p># Heading</p> <br>
      <p>## Sub-heading</p> <br>
      <p>### Sub-sub-heading</p>

      <br>

      <p>Blank line for new paragraph</p>
      <p>Two spaces for <br>
        line break</p>

        <br>

        <p>_italic_, *italic*, __bold__, **bold**, `monospace`.</p>

        <br>

        <p>Horizontal rule:</p>

        <p>---</p>

        <p>Bullet list: </p>

       <p>* apples <br>
          * oranges <br>
          * pears </p>


          <p>Numbered list: </p>

        <p> 1. apples <br>
            2. oranges <br>
            3. pears </p>

            <p>Example [site](http://www.example.com).</p>

          </div>
        </div>
        <div class="col-md-6 col-xs-6">
          <div class="well">
            <h4>Formatted text</h4>

            <hr class="separator">

            <h1>Heading</h1>
            <h2>Sub-heading</h2>
            <h3>Sub-sub-heading</h3>

            <p>Blank line for new paragraph</p>
            <p>Two spaces for<br>
              line break</p>

              <br>

              <p><em>italic</em>, <em>italic</em>, <strong>bold</strong>, <strong>bold</strong>, <code>monospace</code>.</p>

              <br>

              <p>Horizontal rule:</p>
              <hr>
              <p>Bullet list:</p>
              <ul>
                <li>apples</li>
                <li>oranges</li>
                <li>pears</li>
              </ul>
              <p>Numbered list:</p>
              <ol>
                <li>apples</li>
                <li>oranges</li>
                <li>pears</li>
              </ol>
              <p>Example <a href="http://www.example.com">site</a>.</p>
            </div>
          </div>
        </div>
