{% extends "base.html" %}{% from 'macros.html' import render_pagination %}
{% block title %}Search{% endblock %}
{% block content %}

<!-- Below Navbar -->
<div class="container">
	<h1 class="title text-center">Search Results</h1>
	<div class="search_bar clearfix">
		<form action="{{ url_for('search') }}" id="search_form" method="get" class="inline-block">
			<input type="text" name="keywords" placeholder="Search" value="{{ keywords }}">
			<span class="glyphicon glyphicon-search"><input type="submit" value=""></span>
		</form>
		<select name="search_type" form="search_form">
			<option value="club"{% if search_type == 'club' %} selected="selected"{% endif %}>Club</option>
			<option value="activity"{% if search_type == 'activity' %} selected="selected"{% endif %}>Activity</option>
		</select>
	</div>
	<br>
	<center>
	<p class="search_result">
		{% if search_result.instead %}We cannot find <u>{{ keywords }}</u>, so we find you <u>{{ search_result.instead }}</u>.{% endif %}
		oClubs has found {{ search_result.count }} related results.
	</p>
	</center>
	<br>
	{% for result in results %}
	<a href="{% if search_type == 'club' %}{{ url_for('clubblueprint.clubintro', club=result.obj.callsign) }}{% else %}{{ url_for('actblueprint.actintro', activity=result.obj.callsign) }}{% endif %}">
	<div class="search_block">
		<h1>{{ result.name }}{% if result.date %} - <span class="comment">{{ result.date }}</span>{% endif %}</h1>
		{% if result.pic %}
		<div class="col-xs-2">
			<img src="{{ result.pic.location_external }}" class="img-responsive img-thumbnail" alt="{{ result.name }}">
		</div>
		{% endif %}
		<div class="col-xs-10">
			{{ result.desc }}
		</div>
		<div class="clearfix"></div>
	</div>
	</a>
	<div class="clearfix"></div>
	{% endfor %}
	<center>{{ render_pagination(pagination) }}</center>
</div>

{% endblock %}
