{% extends "base.html.j2" %}
{% from 'macros.html.j2' import render_pagination %}

{% block additionalcssjs %}
<link href="{{ url_for('static', filename='cdn/cdnjs/select2/4.0.5/css/select2.min.css') }}" rel="stylesheet" type="text/css" media="all" integrity="sha384-HIipfSYbpCkh5/1V87AWAeR5SUrNiewznrUrtNz1ux4uneLhsAKzv/0FnMbj3m6g">
<script src="{{ url_for('static', filename='cdn/cdnjs/select2/4.0.5/js/select2.min.js') }}" integrity="sha384-xMX6VHK1HYyCMM8zHAVkLHgg2rIDhN01+z4rI70RV2dwzzVlHP95uaDOc5ds7Pow"></script>
<script src="{{ url_for('static', filename='js/selection.min.js') }}"></script>
<link href="{{ url_for('static', filename='css/form.min.css') }}" rel="stylesheet" type="text/css" media="all">
{% endblock %}

{% block title %}Search{% endblock %}


{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-10">
			<div class="form-group" id="search_form_group_footer">
				<form action="{{ url_for('search') }}" method="get">
					<div class="row">
						<div class="col-md-9">
							<div id="search_bar_beside_title">
								<div class="input-group">
									<input type="text" name="keywords" placeholder="Search" value="{{ keywords }}" class="form-control search_textbox">
									<span class="input-group-btn">
										<button class="btn btn-default" id="search_btn" type="submit"><span class="glyphicon glyphicon-search"></span></button>
									</span>
								</div>
							</div>
						</div>
						<!-- /.col-md-9 -->

						<div class="col-md-3">
							<div id="search_bar_beside_title">
								<select class="form-group" name="search_type">
									<option value="club"{% if search_type == 'club' %} selected="selected"{% endif %}>Club</option>
									<option value="activity"{% if search_type == 'activity' %} selected="selected"{% endif %}>Activity</option>
								</select>
							</div>
						</div>
						<!-- /.col-md-3 -->
					</div>
					<!-- /.row -->
				</form>
			</div>
		</div>
		<!-- /.col-md-10 -->

		<div class="col-md-1">
		</div>
	</div>
	<!-- /.row -->

	{% if keywords != '' %}
	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-10">
			<hr class="separator" id="separator_title">
			<span class="help-block">
				{% if search_result.instead %}We cannot find <u>{{ keywords }}</u>, so we find you <u>{{ search_result.instead }}</u>.{% endif %}
				Found {{ search_result.count }} related results
			</span>
		</div>

		<div class="col-md-1">
		</div>
	</div>
	<!-- /.row -->
	{% endif %}

	{% for result in results %}
	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-10">
			{% if search_type == 'club' %}
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="media">
						<div class="media-body">
							<div class="row">
								<div class="col-md-3 col-xs-12">
									<center>
										<div class="club_list_image">
											{% if result.pic.location_external == '/static/images/icons/icon101.jpg' %}
											<img class="img-thumbnail" src="{{ url_for('static', filename='cdn/picsum/640/640/' + range(10, 50)|random|string) }}" alt="{{ result.name }}">
											<a tabindex="0" class="btn btn-xs" role="button" data-toggle="popover" data-trigger="focus" title="This is a placeholder image" data-content="No image was uploaded because the club leader is lazy. <br> Image source: <a href='https://picsum.photos'>Lorem Picsum</a>"><span class="glyphicon glyphicon-info-sign"></span></a>
											{% else %}
											<a class="" href="{{ result.pic.location_external }}">
												<img class="img-thumbnail" src="{{ result.pic.location_external }}" alt="{{ result.name }}">
											</a>
											{% endif %}
										</div>
									</center>
								</div>

								<div class="col-md-9 col-xs-12">
									<br class="visible-xs">
									<br class="visible-xs">
									<h4 class="media-heading"><a class="title_link" href="{{ url_for('clubblueprint.clubintro', club=result.obj.callsign) }}">{{ result.name }}</a></h4>
									<hr class="separator">
									<p>{{ result.desc }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
			{% elif search_type == 'activity' %}
			{% if result.pic == None %}
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="media">
						<div class="media-body">
							<div class="row">
								<div class="col-xs-12">
									<h4 class="media-heading"><a class="title_link" href="{{ url_for('actblueprint.actintro', activity=result.obj.callsign) }}">{{ result.name }}</a></h4>
									<hr class="separator">
									<p>{{ result.obj.date.strftime("%Y-%m-%d, %A") }}, {{ result.obj.time.format_name }}</p>
									<p><a class="title_link" href="{{ url_for('clubblueprint.clubintro', club=result.obj.club.callsign) }}">{{ result.obj.club.name }}</a></p>
									<br>
									<p>{{ result.desc }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
			{% else %}
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="media">
						<div class="media-body">
							<div class="row">
								<div class="col-md-9 col-xs-12">
									<h4 class="media-heading"><a class="title_link" href="{{ url_for('actblueprint.actintro', activity=result.obj.callsign) }}">{{ result.name }}</a></h4>
									<hr class="separator">
									<p>{{ result.obj.date.strftime("%Y-%m-%d, %A") }}, {{ result.obj.time.format_name }}</p>
									<p><a class="title_link" href="{{ url_for('clubblueprint.clubintro', club=result.obj.club.callsign) }}">{{ result.obj.club.name }}</a></p>
									<br>
									<p>{{ result.desc }}</p>
								</div>

								<div class="col-md-3 col-xs-12">
									<center>
										<div class="club_list_image">
											<a class="" href="{{ result.pic.location_external }}">
												<img class="img-thumbnail" src="{{ result.pic.location_external }}" alt="{{ result.name }}">
											</a>
										</div>
									</center>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.panel-body -->
			</div>
			{% endif %}
			{% endif %}
		</div>
		<!-- /.col-md-10 -->

		<div class="col-md-1">
		</div>
	</div>
	<!-- /.row -->
	{% endfor %}

	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-10">
			<center>{{ render_pagination(pagination) }}</center>
		</div>

		<div class="col-md-1">
		</div>
	</div>
	<!-- /.row -->

</div>
<!-- /.container -->

{% endblock %}
