:root {
	--white: #f2f2f2;
	--lightgrey: #e2e2e2;
	--grey: #ccc;
	--darkgrey: #999; /* foreground of header & sidenav */
	--black: #222;

	--blue: #337ab7;

	--color-white-prop: {
		color: var(--white);
	};

	--bg-white-hover-grey: {
		background-color: var(--white);

		&:hover {
			background-color: var(--grey);
		}
	};

	--bg-white-border-lightgrey: {
		background-color: var(--white);
		border: 1px solid var(--lightgrey);
	};

	--color-white-hover-grey: {
		color: var(--white);

		&:hover {
			color: var(--grey);
		}
	};

	--fancy-font: 'Kalam';
	--serious-font: var(--fancy-font);
}

a, a:hover, a:focus {
	text-decoration: none;
}

body {
	background: rgb(1,39,58);
	background: linear-gradient(to right, rgb(1,39,58) 0%, rgb(2,103,154) 50%, rgb(1,39,58) 100%);

	font-family: var(--fancy-font);
}

.title {
	@apply --color-white-prop;

	margin-bottom: 2%;
	/* font-family: var(--serious-font); */
	font-weight: bold;
	font-size: 500%;

	@media screen and (max-width: 800px) {
		font-size: 400%;
	}

	@media screen and (max-width: 650px) {
		font-size: 300%;
	}

	@media screen and (max-width: 525px) {
		font-size: 250%;
	}

	@media screen and (max-width: 400px) {
		font-size: 200%;
	}

	@media screen and (max-width: 350px) {
		font-size: 175%;
	}
}

.title_next {
	@apply --color-white-prop;

	margin-bottom: 2%;
	/* font-family: var(--serious-font); */
	font-size: 300%;

	@media screen and (max-width: 800px) {
		font-size: 250%;
	}

	@media screen and (max-width: 650px) {
		font-size: 200%;
	}

	@media screen and (max-width: 525px) {
		font-size: 175%;
	}

	@media screen and (max-width: 400px) {
		font-size: 150%;
	}

	@media screen and (max-width: 350px) {
		font-size: 125%;
	}
}
.pagination > li > a {
   @media screen and (max-width: 500px) {
        padding: 5px 8.5px;
   }
   @media screen and (max-width: 325px) {
        padding: 5px 7px;
   }
}
.pagination > li > a.page-hide-2 {
	@media screen and (max-width: 725px) {
        display: none;
   }
}
.pagination > li > a.page-hide-1 {
	@media screen and (max-width: 400px) {
        display: none;
   }
}

.list-group .list-group-item.selected {
	font-weight: bold;
	background-color: var(--lightgrey);
}
.clubblocks .col-xs-6 {
	@media screen and (max-width: 1425px) and (min-width: 1200px) {
		width: 33.33333%;
	}
	@media screen and (max-width: 1050px) {
		padding-left: 10px;
		padding-right: 10px;
	}
	@media screen and (max-width: 500px) {
		padding-left: 5px;
		padding-right: 5px;
	}
	@media screen and (max-width: 325px) {
		padding-left: 2px;
		padding-right: 2px;
	}
}
.clubblocks.row {
	@media screen and (max-width: 1050px) {
		margin-left: -10px;
		margin-right: -10px;
	}
	@media screen and (max-width: 500px) {
		margin-left: -5px;
		margin-right: -5px;
	}
	@media screen and (max-width: 325px) {
		margin-left: -2px;
		margin-right: -2px;
	}
}
.smallblock {
	@apply --bg-white-border-lightgrey;
	height: 120px;
	padding: 15px;
	width: 100%;
	float: left;
	border-radius: 5px;
	margin-bottom: 15px;
	font-weight: bold;
	display: inline-block;
	line-height: 1.2;
	/* box-shadow: 0 1px 1px rgba(0, 0, 0, .05) inset; FIXME: NOOP? */

	& p {
		margin-bottom: 5px;
	}
	& .minitext {
		font-weight: 500;
	}
	& > a {
		@apply --bg-white-hover-grey;

		max-width: 100%;

		& > p {
			line-height: 1em;
		}
	}

	& img {
		min-width: 45px;
		max-width: 90px;
		width: 30%;
		vertical-align: middle;
		margin-right: 15px;
		float: left;
		border-radius: 2px;
		padding-bottom: 50%;
	}
	@media screen and (max-width: 1200px) {
		padding: 10px;
		height: 110px;
	}
	@media screen and (max-width: 992px) {
		& img {
			width: 25%;
		}
		height: 100px;
	}
	@media screen and (max-width: 650px) {
		margin-bottom: 7.5px;
		& img {
			margin-right: 10px;
		}
		height: 80px;
		& .clubname {
			font-size: 125%;
		}

		& p {
			margin-bottom: 2px;
		}
	}

	@media screen and (max-width: 525px) {
		padding: 5px;
		height: 70px;
		& img {
			margin-right: 5px;
		}
	}

	@media screen and (max-width: 400px) {
		padding: 3px;
		& img {
			margin-right: 3px;
		}
		height: 60px;
	}

	@media screen and (max-width: 350px) {
		& img {
			min-width: 35px;
		}
		height: 55px;
	}
}

.header {
	margin-bottom: 20px;
	background-color: var(--black);
	color: var(--darkgrey);

	& .container {
		padding-right: 0;
		padding-left: 0;

		& .logo {
			float: left;
			margin: 1.5em 0.5em 0 0.5em;
			width: 12%;
			min-width: 50px;
		}

		& .top-nav {
			float: left;
			width: 45%;
			margin-right: 1em;

			& ul {
				padding: 0;
				margin: 0;

				& li {
					display: inline-block;
					width: 20%;
					float: left;
					padding: 3em 0.2em 1.5em 0.2em;

					&.active {
						background: #66a3ff;

						& a {
							color: var(--white);
						}
					}

					& a {
						color: var(--darkgrey);
						font-size: 1em;
						margin-right: .4em;
						float: left;
						text-align: center;
						width: 100%;
						/* font-family: var(--fancy-font); */
						font-weight: bold;
						white-space: nowrap;

						&:hover {
							color: var(--white);
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: 992px) {
		font-size: 90%;
	}

	@media screen and (max-width: 800px) {
		& .logo {
			width: 16%;
		}
	}

	@media screen and (max-width: 650px) {
		font-size: 77.5%;

		& .logo {
			width: 20%;
		}
	}

	@media screen and (max-width: 600px) {
		& .top-nav {
			display: none;
			height: 0px;
			transition: 0.8s;

			& li {
				width: 0%;
			}
		}

		& .container {
			padding: 0 0 0.5em 0;
		}
	}
}

.sweep {
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	box-shadow: 0, 0, 1px, rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	/*
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    */
	position: relative;
	transition-property: color;
	transition-duration: 0.3s;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #66a3ff;
		transform: scaleY(0);
		transform-origin: 50%, 0;
		transition-property: transform;
		transition-duration: 0.3s;
		transition-timing-function: ease-out;
	}

	&:hover, &:focus, &:active {
		&:before {
			transform: scaleY(1);
		}
	}

	@media screen and (max-width: 650px) {
		font-size: 0.8em;
	}
}

.login {
	float: right;
	background: #0000b3;
	margin: 2em 0 0;
	font-size: 1.2em;
	background-color: var(--black);
	/* font-family: var(--fancy-font); */
	padding: 0 0.5em 0.5em;

	& a {
		color: var(--darkgrey);
	}

	@media screen and (max-width: 600px) {
		margin-top: 1.5em;
	}
}

.search {
	position: relative;
	border: 1px solid #a6a6a6;
	padding: 0.25em 0;
	float: left;
	margin-top: 2.4em;
	background-color: var(--black);

	& input {
		&[type="text"] {
			width: 88%;
			outline: none;
			padding: 0em 0.5em;
			font-size: 1em;
			color: var(--darkgrey);
			position: relative;
			border: none;
			background-color: var(--black);
		}

		&[type="submit"] {
			border: none;
			height: 26px;
			width: 26px;
			display: inline-block;
			position: absolute;
			outline: none;
			cursor: pointer;
			top: -5px;
			right: -4px;
			background-color: transparent;
		}
	}

	@media screen and (max-width: 992px) {
		width: 18%;
	}

	@media screen and (max-width: 600px) {
		width: 40%;
		margin-top: 2em;
		margin-left: 2em
	}
	@media screen and (max-width: 500px) {
		margin-top: 1.5em;
		margin-left: 1em;
	}
	@media screen and (max-width: 400px) {
		margin-left: 0;
	}
}

.blockpic {
	padding: 0;
	height: 300px;
	margin: 0px;
	float: left;
	border: 0px solid var(--white);
	overflow: hidden;
	position: relative;
	text-align: center;
	box-shadow: 1px 1px 2px var(--lightgrey);
	cursor: default;

	& .mask {
		width: 100%;
		height: 100%;
		position: absolute;
		overflow: hidden;
		left: 0;
		padding-top: 115px;
		background-color: rgba(25, 140, 204, 0.55);
		top: -66.66%;
		opacity: 0;
		transition: all 0.3s ease-out 0.5s;
	}

	& .img {
		display: block;
		position: relative;
		min-width: 100%;
		min-height: 100%;
		background-position: center;
		background-size: cover;
	}

	& h2 {
		@apply --color-white-prop;

		text-transform: uppercase;
		text-align: center;
		position: relative;
		font-size: 1.21em;
		padding: 0 0 10px 0;
		margin: 0;
		transition: all 0.2s ease-in-out 0.1s;
	}

	& p {
		@apply --color-white-prop;

		/* font-family: Georgia, serif; */
		font-style: italic;
		font-size: 0.86em;
		position: relative;
		padding: 0;
		text-align: center;
		transition: all 0.2s ease-in-out 0.2s;
	}

	& h2, & p {
		transform: translateY(-66.6%);
	}

	&:hover {
		& .mask {
			opacity: 1;
			top: 0px;
			transition-delay: 0s;
			animation: bounceY 0.9s linear;
		}

		& h2, & p {
			transform: translateY(0px);
		}

		& h2 {
			transition-delay: 0.4s;
		}

		& p {
			transition-delay: 0.2s;
		}
	}

	@media screen and (max-width: 992px) {
		&, & .mask {
			height: 250px;
		}

		& .mask {
			padding-top: 90px;
		}
	}

	@media screen and (max-width: 720px) {
		&, & .mask {
			height: 200px;
		}

		& .mask {
			padding-top: 65px;
		}
	}

	@media screen and (max-width: 600px) {
		&, & .mask {
			height: 160px;
			font-size: 90%;
		}

		& .mask {
			padding-top: 48.5px;
		}
	}

	@media screen and (max-width: 525px) {
		&, & .mask {
			height: 130px;
			font-size: 80%;
		}

		& .mask {
			padding-top: 37px;
		}
	}

	@media screen and (max-width: 400px) {
		&, & .mask {
			height: 100px;
			font-size: 70%;
		}
		& .mask {
			padding-top: 25px;
		}
	}
}

@keyframes bounceY {
	0% { transform: translateY(-68.3%);}
	40% { transform: translateY(-33.3%);}
	65% { transform: translateY(-17.3%);}
	82% { transform: translateY(-8.33%);}
	92% { transform: translateY(-4%);}
	55%, 75%, 87%, 97%, 100% { transform: translateY(0px);}
}
/*till here is picture part*/

#page-content {
	min-height: calc(100vh - 400px);
}

.footer {
	padding: 4em 0;
	background-color: var(--black);
	margin: 1.75em 0 0 0;
	position: relative;
	font-size: 125%;

	& h3 {
		color: var(--lightgrey);
		font-size: 1.7em;
		margin: 0 0 0.5em;
		font-weight: 600;
		/* font-family: var(--fancy-font); */
	}

	& p {
		font-size: 0.9em;
		color: #a6a6a6;
		line-height: 1.9em;
		margin: 1em 0;

		& a {
			color: #a6a6a6;
			text-decoration: underline;

			&:hover {
				color: #8c8c8c;
			}
		}
	}

	@media screen and (max-width: 650px) {
		font-size: 100%;
	}

	@media screen and (max-width: 525px) {
		padding: 2.5em 0;
	}
}

.photo {
	@apply --bg-white-hover-grey;
	@apply --bg-white-border-lightgrey;

	float: left;
	width: 100%;
	min-height: 20px;
	border-radius: 4px;
	text-align: center;

	& img {
		padding-top: 10px;
		width: 150px;
		height: 100px;
		display: block;
		margin-left: auto;
		margin-right: auto;

		&.no-padding {
			padding-top: 0;
		}
	}
}

.photoblocks.row {
	@media screen and (max-width: 500px) {
		margin-left: -10px;
		margin-right: -10px;
	}
	@media screen and (max-width: 400px) {
		margin-left: -5px;
		margin-right: -5px;
	}

}
.photoblocks .col-xs-6 {
	@media screen and (max-width: 500px) {
		padding-left: 10px;
		padding-right: 10px;
	}
	@media screen and (max-width: 400px) {
		padding-left: 5px;
		padding-right: 5px;
	}
}

.huge_block {
	@apply --color-white-prop;

	background-color: #000080;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-left: 20%;
	margin-right: 20%;
	border-radius: 50px;
	border-style: solid;
	border-color: #0066cc;
	border-width: 20px;
	text-align: center;
	text-shadow: -1px 0 #666699, 0 1px #666699, 1px 0 #666699, 0 -1px #666699;
	margin-bottom: 3%;

	& img {
		margin-left: auto;
		margin-right: auto;
		width: 20%;
	}

	@media screen and (max-width: 600px) {
		margin: 0 10%;
	}
}

.radio_block {
	@apply --bg-white-hover-grey;
	@apply --bg-white-border-lightgrey;

	display: block;
	padding-bottom: 1%;
	width: 17%;
	cursor: pointer;
	border-radius: 5%;
	margin-right: 3%;
	margin-bottom: 3%;
	float: left;

	& img {
		border-radius: 10%;
		padding: 5%;
	}

	& p {
		text-align: center;
	}
}

.function_block {
	display: block;
	width: 25%;
	height: 20%;
	padding: 0;
	margin: 2%;

	&:hover {
		opacity: 0.8;
	}

	& div {
		width: 96%;
		height: 30%;
		position: absolute;
		bottom: 0;
		margin: 5px;
		padding: 6%;

		& p {
			font-size: 150%;
			font-weight: bold;
			color: var(--white);
			margin: 0;
			@media screen and (max-width:992px) {
				font-size: 120%;
			}
			@media screen and (max-width:768px) {
				font-size: 100%;
			}
			@media screen and (max-width:600px) {
				font-size: 80%;
			}
			@media screen and (max-width:400px) {
				font-size: 60%;
			}
		}
	}

	& img {
		position: relative;
		width: 100%;
		z-index: -1;
	}

	@media screen and (max-width: 992px) {
		margin: 1%;

		& p {
			font-size: 120%;
		}
	}

	@media screen and (max-width: 800px) {
		width: 31%;
	}

	@media screen and (max-width: 720px) {
		& p {
			font-size: 90%;
		}
	}

	@media screen and (max-width: 600px) {
		& div {
			margin: 1px;
		}
	}

	@media screen and (max-width: 500px) {
		& p {
			font-size: 80%;
		}
	}

	@media screen and (max-width: 450px) {
		& p {
			font-size: 75%;
		}

		& div {
			height: auto;
		}
	}
}

.homepage_block {
	@apply --color-white-prop;

	display: block;
	background-color: #66a3ff;
	padding: 0.05% 2% 2% 2%;

	& #shsidtimes {
		margin-top: 15px;
	}

	& img.homepage_clubphotos {
		height: 10vw;

		&:hover {
			opacity: 0.6;
		}
	}

	& #homepage_allclubphotos {
		@apply --color-white-hover-grey;
	}

	@media screen and (max-width: 768px) {
		& > .col-xs-9 {
			padding-left: 0;
		}
	}

	@media screen and (max-width: 525px) {
		& > .col-xs-3 {
			padding: 0 5px;
		}
		& .col-xs-2 {
			padding: 0;
		}
		& h3 {
			font-size: 150%;
		}
		& h1 {
			font-size: 200%;
		}
		& .col-xs-10 {
			padding-left: 0;
		}
	}
}

#homepage_functions {
	border-top-style: dotted;
	border-color: var(--lightgrey);
	text-align: center;
	white-space: nowrap;

	& .homepage_function {
		@apply --color-white-prop;

		padding: 0;
		width: 20%;
		height: 20%;
		margin: 2%;
		background-color: #66a3ff;

		& h2 {
			font-size: 2.14em;
		}

		& h4 {
			font-size: 1.29em;
		}

		& span.glyphicon {
			font-size: 3em;
		}

		& img {
			width: 3em;
			height: 3em;
		}

		&.clickable:hover {
			background-color: #3385ff;
		}

		@media screen and (max-width: 1200px) {
			font-size: 80%;
		}

		@media screen and (max-width: 992px) {
			font-size: 70%;
		}

		@media screen and (max-width: 720px) {
			font-size: 100%;
			width: 45%;
		}

		@media screen and (max-width: 525px) {
			font-size: 85%;

			& span.glyphicon {
				font-size: 2.5em;
			}

			& img {
				width: 2.5em;
				height: 2.5em;
			}
		}

		@media screen and (max-width: 400px) {
			font-size: 75%;
		}

		@media screen and (max-width: 350px) {
			font-size: 60%;
		}
	}
}

.checkbox_block label {
	@apply --bg-white-hover-grey;
	@apply --bg-white-border-lightgrey;

	width: 24%;
	padding: 2%;
	margin-bottom: 3px;
	border-style: solid;
	font-weight: bold;
	display: inline-block;
	cursor: pointer;

	& p {
		font-size: 150%;
		white-space: nowrap;
	}

	& input[type=checkbox] {
		transform: scale(1.5);
		padding: 10%;
	}

	@media screen and (max-width: 992px) {
		& p {
			font-size: 125%;
		}
		& input[type=checkbox] {
			transform: scale(1.25);
		}
	}

	@media screen and (max-width: 650px) {
		padding: 1%;
		& p {
		 	font-size: 100%;
		}
		& input[type=checkbox] {
			transform: scale(1);
		}
	}

	@media screen and (max-width: 550px) {
		width: 31%;
	}

	@media screen and (max-width: 425px) {
		& p {
			font-size: 80%;
		}
		& input[type=checkbox] {
			transform: scale(0.8);
		}
	}
}

.clickable {
	cursor: pointer;
}

tbody {
	/* bootstrap assumes white background */
	background-color: white;
}

thead {
	background-color: var(--grey)
}

.personal_info {
	& h2 {
		@apply --color-white-prop;

		@media screen and (max-width: 720px) {
			font-size: 24px;
		}

		@media screen and (max-width: 525px) {
			font-size: 20px;
		}

		@media screen and (max-width: 450px) {
			font-size: 16px;
		}
	}

	& a {
		font-size: 125%;
		width: 100%;
		margin: 5px 0;
	}
	& .btn {
		padding: 10px 12px;
		@media screen and (max-width: 768px) {
			padding: 6px 12px;
		}
	}
}

#profilepic {
	max-width: 225px;
	min-width: 55px;

	@media screen and (max-width: 525px) {
		padding: 0 5px 0 0;
	}
}

.clearfix-bordered {
	border-bottom-style: solid;
	border-color: var(--white);
}

#teacher_clubs div.teacher_club {
	@apply --bg-white-border-lightgrey;

	width: 100%;
	padding: 4%;
	border-radius: 10px;
	font-weight: bold;
	margin-bottom: 2%;
	display: inline-block;

	& h1 {
		font-size: 300%;
		margin-bottom: 2%;
		margin-top: 0;
	}

	& h2 {
		font-size: 200%;
		margin-bottom: 1%;
	}

	& p {
		font-size: 150%;
	}

	& img {
		vertical-align: middle;
		margin-right: 10%;
		float: left;
	}

	& .btn {
		width: 100%;
		padding: 10px;
		font-size: 125%;
	}

	@media screen and (max-width: 800px) {
		& h1 {
			font-size: 250%;
		}
	}

	@media screen and (max-width: 720px) {
		& h2 {
			font-size: 175%;
		}
		& p {
			font-size: 135%;
		}
	}

	@media screen and (max-width: 600px) {
		& .btn {
			font-size: 100%;
		}
		& h1 {
			font-size: 200%;
		}
	}

	@media screen and (max-width: 525px) {
		& h2 {
			font-size: 150%;
		}
		& p {
			font-size: 120%;
		}
	}

	@media screen and (max-width: 450px) {
		& h1 {
			font-size: 150%;
		}
		& h2 {
			font-size: 125%;
		}
		& p {
			font-size: 100%;
		}
	}

	@media screen and (max-width: 425px) {
		& h2 {
			font-size: 100%;
		}
	}

	@media screen and (max-width: 400px) {
		& p {
			font-size: 85%;
		}
		& h1 {
			font-size: 130%;
		}
	}
}
.aboutlist {
	@media screen and (max-width: 768px) {
		max-width: 590px;
	}
}
.large_list p {
	font-size: 1.4em;
	margin: 0;
	@media screen and (max-width: 1200px) {
		font-size: 0.95em;
	}
	@media screen and (max-width: 992px) {
		font-size: 0.75em;
	}
	@media screen and (max-width: 768px) {
		font-size: 1em;
	}
	@media screen and (max-width: 400px) {
		font-size: 0.8em;
	}
	@media screen and (max-width: 325px) {
		font-size: 0.7em;
	}
}

.large_list .list-group-item {
	@media screen and (max-width: 992px) {
		padding: 7.5px 11.25px;
	}
}

.large_button {
	padding: 3%;
	font-size: 125%;
}

.error {
	min-height: 95%;
	height: auto;
}

.error p {
	@apply --color-white-prop;

	font-size: 125%;
}

.creators {
	& p {
		font-size: 150%;
	}

	& .panel {
		border-style: solid;
		border-color: var(--blue);
	}

	& .bg {
		background-color: transparent;
	}

	& .blue {
		@apply --color-white-prop;

		background-color: #009999;
		border-style: solid;
		border-color: #009999;
		font-size: 150%;
		/* font-family: var(--serious-font); */
	}

	& .green {
		@apply --color-white-prop;

		background-color: #33cc33;
		border-style: solid;
		border-color: #33cc33;
		font-size: 150%;
		/* font-family: var(--serious-font); */
	}

	& .red {
		@apply --color-white-prop;

		background-color: #990000;
		border-style: solid;
		border-color: #990000;
		font-size: 150%;
		/* font-family: var(--serious-font); */
	}

	@media screen and (max-width: 600px) {
		& > div {
			padding-left: 2px;
			padding-right: 2px;
		}
		& .panel-heading {
			font-size: 125%;
		}

		& p {
			font-size: 110%;
		}
	}

	@media screen and (max-width: 600px) {
		& .bg {
			padding: 10px;
		}
	}

	@media screen and (max-width: 450px) {
		& .bg {
			padding: 5px;
		}
	}

	@media screen and (max-width: 400px) {
		& .panel-heading {
			font-size: 80%;
		}
	}
}

.upload_button {
	@apply --color-white-prop;

	background-color: #66a3ff;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	float: left;

	&:hover {
		background-color: #0099cc;
	}
}

#upload_content {
	@apply --color-white-prop;

	font-size: 150%;
	font-weight: bold;
	margin: 0.3em 0 0 9em;
}

.login_block {
	@apply --color-white-prop;

	padding: 2%;
	margin: 4% auto;
	border-radius: 10px;
	border-style: solid;
	border-color: var(--blue);
	width: 37.5%;
	font-size: 110%;

	& #forgotpw, & #remember {
		@apply --color-white-prop;

		margin-top: 5px;
		font-weight: normal;
	}

	& input[type="submit"] {
		@apply --color-white-prop;

		width: 100%;
		padding: 2.5%;
		margin-top: 10px;
		font-size: 125%;
	}

	@media screen and (max-width: 992px) {
		width: 50%;
	}

	@media screen and (max-width: 720px) {
		width: 80%;
		font-size: 100%;
	}
}

.login_message {
	width: 30%;
	margin: 0 auto;
	@media screen and (max-width: 992px) {
		width: 40%;
	}
	@media screen and (max-width: 720px) {
		width: 70%;
	}
}
.search_bar {
	& select, & form {
		@apply --color-white-prop;

		padding: 0.5em;
		font-size: 120%;
		background-color: transparent;
		border-style: solid;
		border-color: var(--blue);
		border-radius: 5px;
	}

	& select {
		width: 20%;
		border-width: 3px;
		margin-right: 12%;
	}

	& form {
		width: 50%;
		margin-left: 12%;
	}

	& option {
		color: black;
	}

	& input[type="text"] {
		width: 80%;
		background-color: transparent;
		border: none;
		padding: 0px;
	}

	& input[type="submit"] {
		width: 1em;
		height: 1em;
		border: none;
		outline: none;
		background-color: transparent;
		position: absolute;
		left: 1px;
	}

	& .glyphicon {
		padding: 0.2em;
		float: right;
	}

	@media screen and (max-width: 525px) {
		& select {
			width: 30%;
			border-width: 3px;
			margin-right: 0%;
		}
		& form {
			width: 65%;
			margin-left: 0%;
		}
	}
}

.search_result {
	@apply --color-white-prop;

	font-size: 110%;
	font-weight: bold;
}

.search_block {
	@apply --color-white-prop;

	padding: 0 2% 2% 2%;
	margin-bottom: 15px;
	border-radius: 10px;
	border-style: solid;
	border-color: var(--blue);

	& h1 {
		@apply --color-white-prop;

		font-size: 150%;
		border-bottom-style: solid;
		border-color: var(--white);
	}

	&:hover {
		background-color: #003380;
	}

	@media screen and (max-width: 992px) {
		& h1 {
			margin-top: 10px;
		}
	}


	@media screen and (max-width: 720px) {
		& .col-xs-2 {
			width: 40%;
		}
		& .col-xs-10 {
			width: 60%;
		}
	}

	@media screen and (max-width: 525px) {
		& .col-xs-10 {
			padding: 0;
		}
	}
}

.admin_function {
	padding: 0 2% 2% 2%;
	margin: 0 3% 0 3%;
	border-style: solid;
	border-color: var(--white);
	border-radius: 5px;
	border-width: 5px;

	& p {
		@apply --color-white-prop;

		/* font-family: var(--serious-font); */
	}

	& h2 {
		@apply --color-white-prop;
	}
}

.admin_button {
	margin: 1em;
	float: left;

	& .btn {
		padding: 0.75em;
		font-size: 200%;

		@media screen and (max-width: 500px) {
			font-size: 150%;
			white-space: normal;
		}

		@media screen and (max-width: 400px) {
			font-size: 100%;
			white-space: normal;
		}
	}
}

#sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	background-color: black;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
	white-space: nowrap;

	& a {
		padding: 8px 8px 8px 32px;
		font-size: 25px;
		color: var(--darkgrey);
		display: block;
		transition: 0.3s;

		&:hover {
			color: var(--white);
		}
	}

	& .active {
		color: var(--white);
	}

	@media screen and (max-width: 450px) {
		padding-top: 15px;

		& a {
			font-size: 18px;
		}
	}
}

#closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#floatmenu {
	float: right;
	position: fixed;
	top: 65%;
	left: 0;
	z-index: 100;
	border: 2px solid var(--grey);
	padding: 10px;
	background: var(--white);
	border-radius: 25px;
	font-size: 110%;

	@media screen and (min-width: 600px) {
		display: none !important;
	}

	@media screen and (max-width: 600px) {
		display: block;
	}
}

#emptyclose {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
	background-color: transparent;
	overflow-x: hidden;
}
.float-right.about, .float-left.about {
	@media screen and (max-width: 768px) {
		float: none;
	}
}
#slidecont {
	transition: 0.5s;
	width: 45%;
	max-width: 1170px;

	& .carousel-indicators {
		bottom: 0;
	}

	@media screen and (max-width: 1500px) {
		width: 55%;
	}

	@media screen and (max-width: 1200px) {
		width: 65%;
	}

	@media screen and (max-width: 992px) {
		width: 75%;
	}

	@media screen and (max-width: 768px) {
		width: 80%;
	}

	@media screen and (max-width: 600px) {
		& .carousel-caption {
			padding-bottom: 15px;
		}
		& .carousel-indicators li {
			&, &.active {  // Priority
				width: 9px;
				height: 9px;
			}
		}
	}

	@media screen and (max-width: 525px) {
		& .carousel-caption {
			padding-bottom: 10px;
		}
		& .carousel-indicators li {
			&, &.active {
				width: 8px;
				height: 8px;
			}
		}
	}

	@media screen and (max-width: 500px) {
		width: 90%;
	}

	@media screen and (max-width: 400px) {
		padding: 0 15px;

		& .carousel-caption {
			padding-bottom: 5px;
		}
		& .carousel-indicators li {
			&, &.active {
				width: 7px;
				height: 7px;
			}
		}
	}
}
#act-club-list {
	& .title {
		margin-top: 0;
		clear: right;
		margin-right: 30px;
		@media screen and (max-width: 768px) {
			margin-right: 15px;
		}

	}
	& .white.midtext {
		margin-top: -20px;
		@media screen and (max-width: 800px) {
			margin-top: -10px;
		}

		@media screen and (max-width: 650px) {
			margin-top: -5px;
		}

		@media screen and (max-width: 525px) {
			margin-top: 0px;
		}

		@media screen and (max-width: 400px) {
			margin-top: -5px;
		}

		@media screen and (max-width: 350px) {
			margin-top: -10px;
		}
	}
	& .btn.refresh {
		@apply --color-white-prop;

		/* font-family: var(--serious-font); */
		font-weight: bold;
		margin-bottom: 40px;
		@media screen and (max-width: 800px) {
			margin-bottom: 30px;
		}

		@media screen and (max-width: 650px) {
			margin-bottom: 25px;
		}

		@media screen and (max-width: 525px) {
			margin-bottom: 20px;
		}

		@media screen and (max-width: 400px) {
			margin-bottom: 15px;
		}

		@media screen and (max-width: 350px) {
			margin-bottom: 10px;
		}
	}
	@media screen and (max-width: 400px) {
		padding-right: 0;
		padding-left: 0;
	}
}

.large_container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 90%;

	& #intropage {
		& .jumbotron {
			background-color: #3366ff;
			color: var(--white);
			border-radius: 5px;
			padding-left: 30px;
			padding-right: 30px;
		}

		& .longdesc {
			@apply --color-white-prop;

			font-size: 150%;
			margin: 1.25em 0;
			line-height: 1.2
		}

		& .selection_bar {
			font-size: 120%;
			margin-bottom: 2%;
			background-color: transparent;
			border-color: var(--blue);
			border-style: solid;
			border-width: 3px;
			width: 40%;
		}

		& .intro_function {
			text-align: center;

			& .col-sm-4, & .col-sm-6 {
				padding-bottom: 0.75em;

				& .btn {
					width: 80%;
					white-space: normal;
				}

				@media screen and (max-width: 450px) {
					padding-left: 0;
					padding-right: 0;

					& .btn {
						width: 100%;
						font-size: 15px;
					}
				}
			}
		}
	}

	&#allphotospage .jumbotron {
		& img {
			float: left;
			width: 90%;
			margin-left: 5%;
			margin-right: 5%;
			margin-bottom: 5%;
		}

		& #photodesc {
			margin-left: 2em;
			margin-right: 2em;
		}
	}

	& select.mobileselect {
		padding: 0.5em;
		border-style: solid;
		border-color: var(--blue);
		border-radius: 5px;
		width: 100%;
		border-width: 3px;
		display: none;
		height: 0px;

		@media screen and (max-width: 992px) {
			display: inline-block;
			height: auto;
		}
	}

	& #sidebar {
		& .list-group {
			margin-top: 50px;

			@media screen and (max-width: 991px) {
				display: none;
			}
		}

		& img {
			width: 250px;
		}

		@media screen and (max-width: 768px) {
			& img {
				width: 30%;
			}
		}
	}
}

#clubmanage {
	margin: 0 12.5% 0 12.5%;

	@media screen and (max-width: 800px) {
		margin: 0;
		padding: 0;
	}
}

#hminfoinput {
	width: 50%;
	padding: 0;

	@media screen and (max-width: 800px) {
		width: 65%;
	}

	@media screen and (max-width: 650px) {
		width: 80%;
	}

	@media screen and (max-width: 525px) {
		width: 90%;
	}
}

#memberinfotable {
	font-size: 150%;

	@media screen and (max-width: 800px) {
		font-size: 125%;
	}

	@media screen and (max-width: 650px) {
		font-size: 100%;
	}

	@media screen and (max-width: 500px) {
		font-size: 85%;
	}

	@media screen and (max-width: 400px) {
		font-size: 75%;
	}
}

#actinfotable {
	@media screen and (max-width: 800px) {
		font-size: 90%;
	}

	@media screen and (max-width: 650px) {
		font-size: 80%;
	}

	@media screen and (max-width: 500px) {
		font-size: 75%;
	}

	@media screen and (max-width: 400px) {
		font-size: 70%;
	}
}

#attendancetable, #actstatustable {
	font-size: 150%;

	@media screen and (max-width: 768px) {
		font-size: 125%;
	}

	@media screen and (max-width: 500px) {
		font-size: 100%;
	}

	@media screen and (max-width: 400px) {
		font-size: 80%;
	}

	& span {
		margin-right: 10px;
	}

	& form {
		display: inline;
		& input {
			@media screen and (max-width: 400px) {
				font-size: 75%;
			}
		}
	}
}


.downloadbtn {
	padding: 3% 4%;
	font-size: 200%;
	white-space: normal;

	@media screen and (max-width: 720px) {
		font-size: 150%;
	}
	@media screen and (max-width: 500px) {
		font-size: 125%;
	}
}

.downloadbtn-sm {
	padding: 2% 3%;
	font-size: 125%;
	white-space: normal;

	@media screen and (max-width: 720px) {
		font-size: 110%;
	}
	@media screen and (max-width: 500px) {
		font-size: 100%;
	}
}

.student-clubbtn {
	padding: 5% 10% 5% 10%;
	font-size: 125%;
}

#hpexlist {
	& h3 {
		margin-top: 10px;
	}

	@media screen and (max-width: 720px) {
		margin-bottom: 0;

		& h3 {
			margin: 0px;
		}
	}
}

#stuclubmeeting {
	& p {
		font-size: 22px;
		@media screen and (max-width: 768px) {
			font-size: 18px;
		}
		@media screen and (max-width: 450px) {
			font-size: 14px;
		}
	}
}

/*#stuclubmeeting:after {
	@media screen and (min-width: 992px) {
		content: "";
		position: absolute;
		bottom: 0; top: 0; left: 0; right: -4px;
		border-right:4px solid var(--white);
	}
} FIXME: Breaks clickable */
#stuactlist {
	border-color: var(--white);
	border-left-style: solid;
	@media screen and (max-width: 992px) {
		border-left-style: none;
		border-top-style: solid;
	}
	& a.btn {
		margin-bottom: 15px;
		font-size: 125%;
		padding: 20px 40px;
		@media screen and (max-width: 768px) {
			font-size: 100%;
			padding: 15px 30px;
		}
		@media screen and (max-width: 400px) {
			padding: 10px 20px;
		}
	}
}

#stuactlist, #stuclubmeeting {
	@media screen and (max-width: 400px) {
		padding-right: 0;
		padding-left: 0;
	}
	& table {
		@media screen and (max-width: 768px) {
			font-size: 80%;
		}
	}
}

#newhm {
	margin-top: 20px;
	margin-bottom: 30px;

	@media screen and (max-width: 400px) {
		& > h1 {
			font-size: 1.75em;
		}
	}
}

.notification {
	@apply --color-white-prop;

	padding: 2%;
	margin-bottom: 15px;
	border-radius: 10px;
	border-style: solid;
	border-color: var(--blue);

	& p {
		font-size: 200%;
		margin: 0;
	}

	&.notification-read:hover {
		background-color: #003380;
	}

	&.notification-unread {
		background-color: #5882FA;

		&:hover {
			background-color: #0174DF;
		}
	}
}

.panel-heading {
	@media screen and (max-width: 720px) {
		& > h2 {
			margin-top: 10px;
		}
	}

	@media screen and (max-width: 600px) {
		padding: 9px;
	}

	@media screen and (max-width: 400px) {
		padding: 5px;
	}
}

.img-thumbnail {
	@media screen and (max-width: 600px) {
		padding: 0;
	}
}

#logoutlink {
	@apply --color-white-hover-grey;

	float: right;
	font-size: 50%;
	margin-right: 4%;
}

.largetext {
	font-size: 200%;
	@media screen and (max-width: 850px) {
		font-size: 175%;
	}

	@media screen and (max-width: 650px) {
		font-size: 150%;
	}

	@media screen and (max-width: 525px) {
		font-size: 130%;
	}

	@media screen and (max-width: 400px) {
		font-size: 110%;
	}

	@media screen and (max-width: 350px) {
		font-size: 100%;
	}
	@media screen and (max-width: 275px) {
		font-size: 90%;
	}
}

.midtext {
	font-size: 150%;
	@media screen and (max-width: 850px) {
		font-size: 130%;
	}

	@media screen and (max-width: 650px) {
		font-size: 110%;
	}

	@media screen and (max-width: 525px) {
		font-size: 100%;
	}

	@media screen and (max-width: 400px) {
		font-size: 90%;
	}

	@media screen and (max-width: 350px) {
		font-size: 80%;
	}
	@media screen and (max-width: 275px) {
		font-size: 70%;
	}
}

.smalltext {
	font-size: 130%;
	@media screen and (max-width: 850px) {
		font-size: 110%;
	}

	@media screen and (max-width: 650px) {
		font-size: 100%;
	}

	@media screen and (max-width: 525px) {
		font-size: 90%;
	}

	@media screen and (max-width: 400px) {
		font-size: 80%;
	}

	@media screen and (max-width: 350px) {
		font-size: 70%;
	}
	@media screen and (max-width: 275px) {
		font-size: 60%;
	}
}

.tinytext {
	font-size: 110%;
	@media screen and (max-width: 850px) {
		font-size: 100%;
	}

	@media screen and (max-width: 650px) {
		font-size: 90%;
	}

	@media screen and (max-width: 525px) {
		font-size: 80%;
	}

	@media screen and (max-width: 400px) {
		font-size: 72.5%;
	}
	@media screen and (max-width: 350px) {
		font-size: 65%;
	}
	@media screen and (max-width: 275px) {
		font-size: 55%;
	}
}

.minitext {
	font-size: 100%;
	@media screen and (max-width: 850px) {
		font-size: 90%;
	}

	@media screen and (max-width: 650px) {
		font-size: 80%;
	}

	@media screen and (max-width: 525px) {
		font-size: 72.5%;
	}

	@media screen and (max-width: 400px) {
		font-size: 65%;
	}

	@media screen and (max-width: 350px) {
		font-size: 60%;
	}
	@media screen and (max-width: 350px) {
		font-size: 50%;
	}
}

#hminfoinput > form {
	background-color: #66a3ff;
	padding: 5%;
	border-style: solid;
	border-color: #b3cce6;
}

.comment {
	font-size: 80%;
}

.empty-left {
	margin-left: 5px;
}
.white {
	@apply --color-white-prop;
}

.black {
	color: var(--black);
}

.no-top-margin {
	margin-top: 0px;
}

.noemptyline {
	margin-bottom: 0px;
}
.personal-name {
	margin-bottom: 0px;
	padding-left: 3%;
}
.emptyline {
	margin-bottom: 15px;
}

.emptyline-lg {
	margin-bottom: 30px;
}

.width-100 {
	width: 100%;
}
.width-75 {
	width: 75%;
}
.width-70 {
	width: 70%;
}
.width-25 {
	width: 25%;
}
.width-20 {
	width: 20%;
}
.width-15 {
	width: 15%;
}
.width-10 {
	width: 10%;
}
.width-5 {
	width: 5%;
}

.hide {
	display: none;
}

.nowrap {
	white-space: nowrap;
}

.dowrap {
	white-space: normal;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}
.no-padding {
	padding: 0;
}

.inline {
	display: inline;
}
.inline-block{
	display: inline-block;
}
.middle {
	margin: 0 auto;
}

.padding-3 {
	padding: 3%;
}

.list-group-item.active.about-title {
	background-color: #5bc0de;
	font-weight: bold;
	padding: 15px;
	@media screen and (max-width: 992px) {
		padding: 10px;
	}
}

.table-photo {
	width: 3em;
}
.table-photo-lg {
	width: 4em;
}

.cm-bg-1 {
	background-color: rgba(77, 77, 77, 0.5)
}
.cm-bg-2 {
	background-color: rgba(0, 153, 153, 0.5)
}
.cm-bg-3 {
	background-color: rgba(153, 0, 61, 0.5)
}
.cm-bg-4 {
	background-color: rgba(38, 153, 0, 0.5)
}
.cm-bg-5 {
	background-color: rgba(0, 0, 153, 0.5)
}
.cm-bg-6 {
	background-color: rgba(115, 77, 38, 0.5)
}

.hp-lrnmr {
	margin-top: 27px;
	@media screen and(max-width: 768px) {
		margin-top: 29px;
	}
}
.hp-container {
	border-top-style: dotted;
	border-color: var(--lightgrey);
}
.hp-container .panel-heading {
	background-color: #1a75ff
}
.hp-container .panel-body {
	background-color: #66a3ff
}
.hp-excclub-pic {
	width: 35%;
	height: 35%;
	margin-right: 2%;
	float: left;
}

.no-border {
	border-style: none;
}

.admin_function a.btn {
	padding: 5%;
}

@media screen and (max-width: 992px) {
	/* FIXME: what is this? */
	.col-md-10 > center > img {
		max-width: 60%;
	}
}

@media screen and (max-width: 600px) {
	.large_container, .large_container > .main-content {
		padding-left: 0;
		padding-right: 0;
	}
}

@media screen and (max-width: 400px) {
	/* apply to all table in general */
	.table > tbody > tr > td, .table > thead > tr > th {
		padding: 4px !important;
	}
}
