:root {
	--color-lightgrey: #f2f2f2;

	--color-lightgrey-prop: {
		color: var(--color-lightgrey);
	};

	--fancy-font: 'Kalam';
	--serious-font: var(--fancy-font);
}

a, a:hover, a:focus {
	text-decoration: none;
}

.color-lightgrey {
	@apply --color-lightgrey-prop;
}

body {
	background: rgb(1,39,58);
	background: linear-gradient(to right, rgba(1,39,58,1) 0%, rgba(2,103,154,1) 50%, rgba(1,39,58,1) 100%);

	font-family: var(--fancy-font);
}

.title {
	@apply --color-lightgrey-prop;

	margin-bottom: 2%;
	/* font-family: var(--serious-font); */
	font-weight: bold;
	font-size: 500%;

	@media screen and (max-width: 800px) {
		font-size: 400%;
	}

	@media screen and (max-width: 650px) {
		font-size: 300%;
	}

	@media screen and (max-width: 525px) {
		font-size: 250%;
	}

	@media screen and (max-width: 400px) {
		font-size: 200%;
	}

	@media screen and (max-width: 350px) {
		font-size: 175%;
	}
}

.title_next {
	@apply --color-lightgrey-prop;

	margin-bottom: 2%;
	/* font-family: var(--serious-font); */
	font-size: 300%;

	@media screen and (max-width: 800px) {
		font-size: 250%;
	}

	@media screen and (max-width: 650px) {
		font-size: 200%;
	}

	@media screen and (max-width: 525px) {
		font-size: 175%;
	}

	@media screen and (max-width: 400px) {
		font-size: 150%;
	}

	@media screen and (max-width: 350px) {
		font-size: 125%;
	}
}

.list-group .list-group-item.selected {
	font-weight: bold;
	background-color: #eee;
}

.smallBlock {
	& p {
		margin-bottom: 0.05vw;
	}

	& > div,
	& > a {
		width: 24em;
		height: 9em;
		padding: 1.5em;
		float: left;
		background-color: #f5f5f5;
		border: 1px solid #e3e3e3;
		border-radius: 5px;
		margin-right: 3%;
		margin-bottom: 3%;
		font-weight: bold;
		display: inline-block;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .05) inset;

	}

	& > a {
		max-width: 100%;

		&:hover {
			background-color: #cccccc;
			text-decoration: none;
		}
		& > p {
			line-height: 1em;
		}
	}

	& img {
		max-width: 9em;
		max-height: 6.5em;
		vertical-align: middle;
		margin-right: 10%;
		float: left;
	}

	& .clubname {
		font-size: 150%;
	}


	@media screen and (max-width: 650px) {
		& > div {
			padding: 1em;
		}

		& .clubname {
			font-size: 125%;
		}
	}

	@media screen and (max-width: 600px) {
		& > a {
			padding: 1em;
		}
		& img {
			margin-right: 0.7em;
		}
	}

	@media screen and (max-width: 525px) {
		& > div {
			padding: 0.5em;
		}
	}

	@media screen and (max-width: 400px) {
		& > div {
			padding: 1px;
		}
	}
}

.header {
	margin-bottom:20px;
	background-color: #222;
	border-color: #080808;
	color: #9d9d9d;

	& .container {
		padding-right: 0;
		padding-left: 0;

		& .logo {
			float: left;
			margin: 1.5em 0.5em 0 0.5em;
			width: 12%;
			min-width: 50px;
		}

		& .top-nav {
			float: left;
			width: 45%;
			margin-right: 1em;

			& ul {
				padding: 0;
				margin: 0;

				& li {
					display: inline-block;
					width: 20%;
					float: left;
					padding: 3em 0.2em 1.5em 0.2em;

					&.active {
						background: #66a3ff;

						& a {
							color: #fff;
						}
					}

					& a {
						color: #999;
						font-size: 1em;
						margin-right: .4em;
						float: left;
						text-align: center;
						width: 100%;
						/* font-family: var(--fancy-font); */
						font-weight: bold;
						white-space: nowrap;

						&:hover {
							text-decoration: none;
							color: #fff;
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: 992px) {
		font-size: 90%;
	}

	@media screen and (max-width: 800px) {
		& .logo {
			width: 16%;
		}
	}

	@media screen and (max-width: 650px) {
		font-size: 77.5%;

		& .logo {
			width: 20%;
		}
	}

	@media screen and (max-width: 600px) {
		& .top-nav {
			display: none;
			height: 0px;
			transition: 0.8s;

			& li {
				width: 0%;
			}
		}

		& .container {
			padding: 0 0 0.5em 0;
		}
	}
}

.sweep {
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	box-shadow: 0, 0, 1px, rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	/*
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    */
	position: relative;
	transition-property: color;
	transition-duration: 0.3s;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #66a3ff;
		transform: scaleY(0);
		transform-origin: 50%, 0;
		transition-property: transform;
		transition-duration: 0.3s;
		transition-timing-function: ease-out;
	}

	&:hover, &:focus, &:active {
		&:before {
			transform: scaleY(1);
		}
	}

	@media screen and (max-width: 650px) {
		font-size: 0.8em;
	}
}

.login {
	float: right;
	background: #0000b3;
	margin: 2em 0 0;
	font-size: 1.2em;
	background-color: #222;
	/* font-family: var(--fancy-font); */
	padding: 0 0.5em 0.5em;

	& a {
		color: #999;
	}

	@media screen and (max-width: 600px) {
		margin-top: 1.5em;
	}
}

.search {
	position: relative;
	border: 1px solid #a6a6a6;
	padding: 0.25em 0;
	float: left;
	margin-top: 2.4em;
	background-color: #222;

	& input {
		&[type="text"] {
			width: 88%;
			outline: none;
			padding: 0em 0.5em;
			font-size: 1em;
			color: #999;
			position: relative;
			border: none;
			background-color: #222;
		}

		&[type="submit"] {
			border: none;
			height: 26px;
			width: 26px;
			display: inline-block;
			position: absolute;
			outline: none;
			cursor: pointer;
			top: -5px;
			right: -4px;
			background-color: transparent;
		}
	}

	@media screen and (max-width: 992px) {
		width: 18%;
	}

	@media screen and (max-width: 600px) {
		width: 40%;
		margin-top: 2em;
		margin-left: 2em
	}
	@media screen and (max-width: 500px) {
		margin-top: 1.5em;
		margin-left: 1em;
	}
	@media screen and (max-width: 400px) {
		margin-left: 0;
	}
}

.blockpic {
	float: left;
	padding: 0;
	border: 1px solid #fff;
	height: 300px;
	margin: 0px;
	float: left;
	border: 0px solid #fff;
	overflow: hidden;
	position: relative;
	text-align: center;
	box-shadow: 1px 1px 2px #e6e6e6;
	cursor: default;

	& .mask {
		width: 100%;
		height: 100%;
		position: absolute;
		overflow: hidden;
		left: 0;
		padding-top: 115px;
		background-color: rgba(25, 140, 204, 0.55);
		top: -66.66%;
		opacity: 0;
		transition: all 0.3s ease-out 0.5s;
	}

	& .img {
		display: block;
		position: relative;
		min-width: 100%;
		min-height: 100%;
		background-position: center;
		background-size: cover;
	}

	& h2 {
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		position: relative;
		font-size: 1.21em;
		padding: 0 0 10px 0;
		margin: 0;
		transition: all 0.2s ease-in-out 0.1s;
	}

	& p {
		/* font-family: Georgia, serif; */
		font-style: italic;
		font-size: 0.86em;
		position: relative;
		color: #fff;
		padding: 0;
		text-align: center;
		transition: all 0.2s ease-in-out 0.2s;
	}

	& h2, & p {
		transform: translateY(-66.6%);
	}

	&:hover {
		& .mask {
			opacity: 1;
			top: 0px;
			transition-delay: 0s;
			animation: bounceY 0.9s linear;
		}

		& h2, & p {
			transform: translateY(0px);
		}

		& h2 {
			transition-delay: 0.4s;
		}

		& p {
			transition-delay: 0.2s;
		}
	}

	@media screen and (max-width: 992px) {
		&, & .mask {
			height: 250px;
		}

		& .mask {
			padding-top: 90px;
		}
	}

	@media screen and (max-width: 720px) {
		&, & .mask {
			height: 200px;
		}

		& .mask {
			padding-top: 65px;
		}
	}

	@media screen and (max-width: 600px) {
		&, & .mask {
			height: 160px;
			font-size: 90%;
		}

		& .mask {
			padding-top: 48.5px;
		}
	}

	@media screen and (max-width: 525px) {
		&, & .mask {
			height: 130px;
			font-size: 80%;
		}

		& .mask {
			padding-top: 37px;
		}
	}

	@media screen and (max-width: 400px) {
		&, & .mask {
			height: 100px;
			font-size: 70%;
		}
		& .mask {
			padding-top: 25px;
		}
	}
}

@keyframes bounceY {
	0% { transform: translateY(-68.3%);}
	40% { transform: translateY(-33.3%);}
	65% { transform: translateY(-17.3%);}
	82% { transform: translateY(-8.33%);}
	92% { transform: translateY(-4%);}
	55%, 75%, 87%, 97%, 100% { transform: translateY(0px);}
}
/*till here is picture part*/

#content {
	min-height: calc(100vh - 400px);
}

.footer {
	padding: 4em 0;
	background-color: #333333;
	margin: 1.75em 0 0 0;
	position: relative;
	font-size: 125%;

	& h3 {
		color: #e4e6e7;
		font-size: 1.7em;
		margin: 0 0 0.5em;
		font-weight: 600;
		/* font-family: var(--fancy-font); */
	}

	& p {
		font-size: 0.9em;
		color: #a6a6a6;
		line-height: 1.9em;
		margin: 1em 0;

		& a {
			color: #a6a6a6;
			text-decoration: underline;

			&:hover {
				color: #8c8c8c;
			}
		}
	}

	@media screen and (max-width: 650px) {
		font-size: 100%;
	}

	@media screen and (max-width: 525px) {
		padding: 2.5em 0;
	}
}

thead {
	&.list {
		background-color: var(--color-lightgrey);
	}

	&.darklist {
		background-color: #595959;
		color: white;
	}
}

.photo {
	float: left;
	width: 17.25%;
	min-height: 20px;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	margin: 1vw;
	text-align: center;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05) inset;

	&.bright {
		background-color: var(--color-lightgrey);

		&:hover {
			background-color: #cccccc;
		}
	}

	&.dark {
		background-color: #bfbfbf;

		&:hover {
			background-color: #999999;
		}
	}

	& img {
		padding-top: 10px;
		width: 150px;
		height: 100px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	@media screen and (max-width: 720px) {
		width: 33%;
	}

	@media screen and (max-width: 500px) {
		width: 50%;
	}
}

.huge_block {
	background-color: #000080;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-left: 20%;
	margin-right: 20%;
	border-radius: 50px;
	border-style: solid;
	border-color: #0066cc;
	border-width: 20px;

	text-align: center;
	color: #e6e6e6;
	text-shadow: -1px 0 #666699, 0 1px #666699, 1px 0 #666699, 0 -1px #666699;
	margin-bottom: 3%;

	& img {
		margin-left: auto;
		margin-right: auto;
		width: 20%;
	}
}

.radio_block {
	display: block;
	padding-bottom: 1%;
	width: 17%;
	cursor: pointer;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 5%;
	margin-right: 3%;
	margin-bottom: 3%;
	float: left;

	&:hover {
		background-color: #cccccc;
	}

	& img {
		border-radius: 10%;
		padding: 5%;
	}

	& p {
		text-align: center;
	}
}

.function_block {
	display: block;
	width: 25%;
	height: 20%;
	padding: 0;
	margin: 2%;

	&:hover {
		opacity: 0.8;
	}

	& div {
		width: 96%;
		height: 30%;
		position: absolute;
		bottom: 0;
		margin: 5px;
		padding: 6%;
		background-color: #b3b3cc;

		& p {
			font-size: 150%;
			font-weight: bold;
			color: white;
			margin: 0;
			@media screen and (max-width:992px){
				font-size: 120%;
			}
			@media screen and (max-width:768px){
				font-size: 100%;
			}
			@media screen and (max-width:600px){
				font-size: 80%;
			}
			@media screen and (max-width:400px){
				font-size: 60%;
			}
		}
	}

	& img {
		position: relative;
		width: 100%;
		z-index: -1;
	}

	@media screen and (max-width: 992px) {
		margin: 1%;

		& p {
			font-size: 120%;
		}
	}

	@media screen and (max-width: 800px) {
		width: 31%;
	}

	@media screen and (max-width: 720px) {
		& p {
			font-size: 90%;
		}
	}

	@media screen and (max-width: 600px) {
		& div {
			margin: 1px;
		}
	}

	@media screen and (max-width: 500px) {
		& p {
			font-size: 80%;
		}
	}

	@media screen and (max-width: 450px) {
		& p {
			font-size: 75%;
		}

		& div {
			height: auto;
		}
	}
}

.homepage_block {
	@apply --color-lightgrey-prop;

	display: block;
	background-color: #66a3ff;
	padding: 0.05% 2% 2% 2%;

	& #shsidtimes {
		margin-top: 15%;
		margin-bottom: 15%;
	}

	& img.homepage_clubphotos {
		height: 10vw;

		&:hover {
			opacity: 0.6;
		}
	}

	& #homepage_allclubphotos {
		@apply --color-lightgrey-prop;

		&:hover {
			color: #d9d9d9;
		}
	}

	@media screen and (max-width: 768px) {
		& > .col-xs-9 {
			padding-left: 0;
		}
	}

	@media screen and (max-width: 525px) {
		& > .col-xs-3 {
			padding: 0 5px;
		}
		& .col-xs-2 {
			padding: 0;
		}
		& h3 {
			font-size: 150%;
		}
		& h1 {
			font-size: 200%;
		}
		& .col-xs-10 {
			padding-left: 0;
		}
	}
}

#homepage_functions {
	border-top-style: dotted;
	border-color: #e4e6e7;
	text-align: center;
	white-space: nowrap;

	& .homepage_function {
		@apply --color-lightgrey-prop;

		padding: 0;
		width: 20%;
		height: 20%;
		margin: 2%;
		background-color: #66a3ff;

		& h2 {
			font-size: 2.14em;
		}

		& h4 {
			font-size: 1.29em;
		}

		& span.glyphicon {
			font-size: 3em;
		}

		& img {
			width: 3em;
			height: 3em;
		}

		&.clickable:hover {
			background-color: #3385ff;
		}

		@media screen and (max-width: 1200px) {
			font-size: 80%;
		}

		@media screen and (max-width: 992px) {
			font-size: 70%;
		}

		@media screen and (max-width: 720px) {
			font-size: 100%;
			width: 45%;
		}

		@media screen and (max-width: 525px) {
			font-size: 85%;

			& span.glyphicon {
				font-size: 2.5em;
			}

			& img {
				width: 2.5em;
				height: 2.5em;
			}
		}

		@media screen and (max-width: 400px) {
			font-size: 75%;
		}

		@media screen and (max-width: 350px) {
			font-size: 60%;
		}
	}
}

.checkbox_block label {
	width: 24%;
	padding: 2%;
	margin-bottom: 3px;
	border-style: solid;
	border-color: #e6e6e6;
	background-color: #f5f5f5;
	font-weight: bold;
	display: inline-block;
	cursor: pointer;

	& p {
		font-size: 150%;
		white-space: nowrap;
	}

	& input[type=checkbox] {
		transform: scale(1.5);
		padding: 10%;
	}

	&:hover {
		background-color: #cccccc;
		text-decoration: none;
	}

	@media screen and (max-width: 992px) {
		& p {
			font-size: 125%;
		}
		& input[type=checkbox] {
			transform: scale(1.25);
		}
	}

	@media screen and (max-width: 650px) {
		& p {
		 	font-size: 100%;
		}
		& input[type=checkbox] {
			transform: scale(1);
		}
	}

	@media screen and (max-width: 550px) {
		width: 31%;
	}

	@media screen and (max-width: 425px) {
		& p {
			font-size: 80%;
		}
		& input[type=checkbox] {
			transform: scale(0.8);
		}
	}
}

.clickable {
	cursor: pointer;
}

tr.act {
	background-color: white;

	&:hover {
		background-color: #f5f5f5;
	}
}

.personal_info {
	& h2 {
		@apply --color-lightgrey-prop;

		@media screen and (max-width: 720px) {
			font-size: 24px;
		}

		@media screen and (max-width: 525px) {
			font-size: 20px;
		}

		@media screen and (max-width: 450px) {
			font-size: 16px;
		}
	}

	& a {
		font-size: 125%;
		width: 100%;
		margin: 5px 0;
	}
	& .btn {
		padding: 10px 12px;
		@media screen and (max-width: 768px) {
			padding: 6px 12px;
		}
	}
}

#profilepic {
	max-width: 225px;
	min-width: 80px;

	@media screen and (max-width: 525px) {
		padding: 0 5px 0 0;
	}
}

.clearfix-bordered {
	border-bottom-style: solid;
	border-color: var(--color-lightgrey);
}

#teacher_clubs div.teacher_club {
	width: 100%;
	padding: 4%;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 10px;
	font-weight: bold;
	margin-bottom: 2%;
	display: inline-block;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05) inset;

	& h1 {
		font-size: 300%;
		margin-bottom: 2%;
		margin-top: 0;
	}

	& h2 {
		font-size: 200%;
		margin-bottom: 1%;
	}

	& p {
		font-size: 150%;
	}

	& img {
		vertical-align: middle;
		margin-right: 10%;
		float: left;
	}

	& .btn {
		width: 100%;
		padding: 10px;
		font-size: 125%;
	}

	@media screen and (max-width: 800px) {
		& h1 {
			font-size: 250%;
		}
	}

	@media screen and (max-width: 720px) {
		& h2 {
			font-size: 175%;
		}
		& p {
			font-size: 135%;
		}
	}

	@media screen and (max-width: 600px) {
		& .btn {
			width: 90%;
			font-size: 100%;
		}
		& h1 {
			font-size: 200%;
		}
	}

	@media screen and (max-width: 525px) {
		& h2 {
			font-size: 150%;
		}
		& p {
			font-size: 120%;
		}
	}

	@media screen and (max-width: 450px) {
		& h1 {
			font-size: 150%;
		}
		& h2 {
			font-size: 125%;
		}
		& p {
			font-size: 100%;
		}
	}

	@media screen and (max-width: 425px) {
		& h2 {
			font-size: 100%;
		}
	}

	@media screen and (max-width: 400px) {
		& p {
			font-size: 85%;
		}
		& h1 {
			font-size: 130%;
		}
	}
}

.large_list p {
	font-size: 1.4em;
	margin: 0;

	@media screen and (max-width: 525px) {
		font-size: 1em;
	}
}

.large_button {
	padding: 3%;
	font-size: 125%;
}

.error {
	min-height: 95%;
	height: auto;
}

.error p {
	@apply --color-lightgrey-prop;

	font-size: 125%;
}

.creators {
	& p {
		font-size: 150%;
	}

	& .panel {
		border-style: solid;
		border-color: #337ab7;
	}

	& .bg {
		background-color: transparent;
	}

	& .blue {
		@apply --color-lightgrey-prop;

		background-color: #009999;
		border-style: solid;
		border-color: #009999;
		font-size: 150%;
		/* font-family: var(--serious-font); */
	}

	& .green {
		@apply --color-lightgrey-prop;

		background-color: #33cc33;
		border-style: solid;
		border-color: #33cc33;
		font-size: 150%;
		/* font-family: var(--serious-font); */
	}

	& .red {
		@apply --color-lightgrey-prop;

		background-color: #990000;
		border-style: solid;
		border-color: #990000;
		font-size: 150%;
		/* font-family: var(--serious-font); */
	}

	@media screen and (max-width: 600px) {
		& > div {
			padding-left: 2px;
			padding-right: 2px;
		}
		& .panel-heading {
			font-size: 125%;
		}

		& p {
			font-size: 110%;
		}
	}

	@media screen and (max-width: 600px) {
		& .bg {
			padding: 10px;
		}
	}

	@media screen and (max-width: 450px) {
		& .bg {
			padding: 5px;
		}
	}

	@media screen and (max-width: 400px) {
		& .panel-heading {
			font-size: 80%;
		}
	}
}

.upload_button {
	@apply --color-lightgrey-prop;

	background-color: #66a3ff;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	float: left;

	&:hover {
		background-color: #0099cc;
	}
}

#upload_content {
	@apply --color-lightgrey-prop;

	font-size: 150%;
	font-weight: bold;
	margin: 0.3em 0 0 9em;
}

.login_block {
	@apply --color-lightgrey-prop;

	padding: 2%;
	margin: 4% auto;
	border-radius: 10px;
	border-style: solid;
	border-color: #337ab7;
	width: 37.5%;
	font-size: 110%;

	& #forgotpw, & #remember {
		@apply --color-lightgrey-prop;

		margin-top: 5px;
		font-weight: normal;
	}

	& input[type="submit"] {
		@apply --color-lightgrey-prop;

		width: 100%;
		padding: 2.5%;
		margin-top: 10px;
		background-color: #337ab7;
		font-size: 125%;
		border-style: solid;
		border-color: #337ab7;
		border-radius: 7px;

		&:hover {
			background-color: #275d8b;
			border-color: #275d8b;
		}
	}

	@media screen and (max-width: 992px) {
		width: 50%;
	}

	@media screen and (max-width: 720px) {
		width: 80%;
		font-size: 100%;
	}
}

.search_bar {
	& select, & form {
		@apply --color-lightgrey-prop;

		padding: 0.5em;
		font-size: 120%;
		background-color: transparent;
		border-style: solid;
		border-color: #337ab7;
		border-radius: 5px;
	}

	& select {
		width: 20%;
		border-width: 3px;
		margin-right: 12%;
	}

	& form {
		width: 50%;
		margin-left: 12%;
	}

	& option {
		color: black;
	}

	& input[type="text"] {
		width: 80%;
		background-color: transparent;
		border: none;
		padding: 0px;
	}

	& input[type="submit"] {
		width: 1em;
		height: 1em;
		border: none;
		outline: none;
		background-color: transparent;
		position: absolute;
		left: 1px;
	}

	& .glyphicon {
		padding: 0.2em;
		float: right;
	}

	@media screen and (max-width: 525px) {
		& select {
			width: 30%;
			border-width: 3px;
			margin-right: 0%;
		}
		& form {
			width: 65%;
			margin-left: 0%;
		}
	}
}

.search_result {
	@apply --color-lightgrey-prop;

	font-size: 110%;
	font-weight: bold;
}

.search_block {
	@apply --color-lightgrey-prop;

	padding: 0 2% 2% 2%;
	margin-bottom: 15px;
	border-radius: 10px;
	border-style: solid;
	border-color: #337ab7;

	& h1 {
		@apply --color-lightgrey-prop;

		font-size: 150%;
		border-bottom-style: solid;
		border-color: var(--color-lightgrey);
	}

	&:hover {
		background-color: #003380;
	}

	@media screen and (max-width: 992px) {
		& h1 {
			margin-top: 10px;
		}
	}


	@media screen and (max-width: 720px) {
		& .col-xs-2 {
			width: 40%;
		}
		& .col-xs-10 {
			width: 60%;
		}
	}

	@media screen and (max-width: 525px) {
		& .col-xs-10 {
			padding: 0;
		}
	}
}

.admin_function {
	padding: 0 2% 2% 2%;
	margin: 0 3% 0 3%;
	border-style: solid;
	border-color: var(--color-lightgrey);
	border-radius: 5px;
	border-width: 5px;

	& p {
		@apply --color-lightgrey-prop;

		/* font-family: var(--serious-font); */
	}

	& h2 {
		@apply --color-lightgrey-prop;
	}
}

.admin_button {
	margin: 1em;
	float: left;

	& .btn {
		padding: 0.75em;
		font-size: 200%;

		@media screen and (max-width: 500px) {
			font-size: 150%;
			white-space: normal;
		}

		@media screen and (max-width: 400px) {
			font-size: 100%;
			white-space: normal;
		}
	}
}

#sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
	white-space: nowrap;

	& a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: #818181;
		display: block;
		transition: 0.3s;

		&:hover {
			color: #f1f1f1;
		}
	}

	& .active	{
		color: #f1f1f1;
	}

	@media screen and (max-width: 450px) {
		padding-top: 15px;

		& a {
			font-size: 18px;
		}
	}
}

#closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#floatmenu {
	float: right;
	position: fixed;
	top: 65%;
	left: 0;
	z-index: 100;
	border: 2px solid #a1a1a1;
	padding: 10px;
	background: #ffffff;
	border-radius: 25px;
	font-size: 110%;

	@media screen and (min-width: 600px) {
		display: none !important;
	}

	@media screen and (max-width: 600px) {
		display: block;
	}
}

#emptyclose {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
	background-color: transparent;
	overflow-x: hidden;
}

#slidecont {
	transition: 0.5s;
	width: 45%;
	max-width: 1170px;

	& .carousel-indicators {
		bottom: 0;
	}
	& .carousel-caption h3 {
		font-size: 175%;
	}

	@media screen and (max-width: 1500px) {
		width: 55%;
	}

	@media screen and (max-width: 1200px) {
		width: 65%;
	}

	@media screen and (max-width: 992px) {
		width: 75%;
	}

	@media screen and (max-width: 768px) {
		width: 85%;
	}

	@media screen and (max-width: 600px) {
		& .carousel-caption {
			padding-bottom: 15px;
		}
		& .carousel-indicators li {
			&, &.active {  // Priority
				width: 9px;
				height: 9px;
			}
		}
	}

	@media screen and (max-width: 525px) {
		& .carousel-caption {
			padding-bottom: 10px;
		}
		& .carousel-indicators li {
			&, &.active {
				width: 8px;
				height: 8px;
			}
		}
	}

	@media screen and (max-width: 500px) {
		width: 95%;
	}

	@media screen and (max-width: 400px) {
		padding: 0 15px;

		& .carousel-caption {
			padding-bottom: 5px;
		}
		& .carousel-indicators li {
			&, &.active {
				width: 7px;
				height: 7px;
			}
		}
	}
}


#act-club-list {
	& .title {
		margin-top: 0;
		clear: right;
		margin-right: 30px;
		@media screen and (max-width: 768px) {
			margin-right: 15px;
		}

	}

	& .btn.refresh {
		@apply --color-lightgrey-prop;

		/* font-family: var(--serious-font); */
		font-weight: bold;
		font-size: 200%;
		margin-bottom: 10px;
		margin-top: -30px;
		@media screen and (max-width: 800px) {
			font-size: 160%;
			margin-top: -20px;
		}

		@media screen and (max-width: 650px) {
			font-size: 120%;
			margin-top: -15px;
		}

		@media screen and (max-width: 525px) {
			font-size: 100%;
			margin-top: -10px;
		}

		@media screen and (max-width: 400px) {
			font-size: 80%;
			margin-top: -5px;
		}

		@media screen and (max-width: 350px) {
			font-size: 70%;
			margin-top: 0px;
		}
	}
	@media screen and (max-width: 400px) {
		padding-right: 0;
		padding-left: 0;
	}
}

.large_container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 90%;

	& #intropage {
		& .jumbotron {
			background-color: #3366ff;
			color: #e6e6e6;
			border-radius: 5px;
			padding-left: 30px;
			padding-right: 30px;
		}

		& .longdesc {
			@apply --color-lightgrey-prop;

			font-size:150%;
			margin: 1.25em 0;
			line-height:1.2
		}

		& .selection_bar {
			font-size: 120%;
			margin-bottom: 2%;
			background-color: transparent;
			border-color: #337ab7;
			border-style: solid;
			border-width: 3px;
			width: 40%;
		}

		& .intro_function {
			text-align: center;

			& .col-sm-4, & .col-sm-6 {
				padding-bottom: 0.75em;

				& .btn {
					width: 80%;
					white-space: normal;
				}

				@media screen and (max-width: 450px) {
					padding-left: 0;
					padding-right: 0;

					& .btn {
						width: 100%;
						font-size: 15px;
					}
				}
			}
		}
	}

	&#allphotospage .jumbotron {
		& img {
			float: left;
			width: 90%;
			margin-left: 5%;
			margin-right: 5%;
			margin-bottom: 5%;
		}

		& #photodesc {
			margin-left:2em;
			margin-right:2em;
		}
	}

	& select.mobileselect {
		padding: 0.5em;
		border-style: solid;
		border-color: #337ab7;
		border-radius: 5px;
		width: 49%;
		border-width: 3px;
		display: none;
		height: 0px;

		@media screen and (max-width: 992px) {
			display: inline-block;
			height: auto;
		}
	}

	& #sidebar {
		& .list-group {
			margin-top: 50px;

			@media screen and (max-width: 992px) {
				display: none;
			}
		}

		& img {
			width: 250px;
		}

		@media screen and (max-width: 768px) {
			& img {
				width: 30%;
			}
		}
	}
}

#clubmanage {
	margin: 0 12.5% 0 12.5%;

	@media screen and (max-width: 800px) {
		margin: 0;
		padding: 0;
	}
}

#hminfoinput {
	width: 50%;
	padding: 0;

	@media screen and (max-width: 800px) {
		width: 65%;
	}

	@media screen and (max-width: 650px) {
		width: 80%;
	}

	@media screen and (max-width: 525px) {
		width: 90%;
	}
}
#memberinfotable {
	font-size: 150%;

	@media screen and (max-width: 800px) {
		font-size: 125%;
	}

	@media screen and (max-width: 650px) {
		font-size: 100%;
	}

	@media screen and (max-width: 500px) {
		font-size: 85%;
	}

	@media screen and (max-width: 400px) {
		font-size: 75%;
	}
}

#actinfotable {
	@media screen and (max-width: 800px) {
		font-size: 90%;
	}

	@media screen and (max-width: 650px) {
		font-size: 80%;
	}

	@media screen and (max-width: 500px) {
		font-size: 75%;
	}

	@media screen and (max-width: 400px) {
		font-size: 70%;
	}
}


.downloadbtn {
	padding: 3%;
	font-size: 200%;
	white-space: normal;

	@media screen and (max-width: 720px) {
		font-size: 150%;
	}
	@media screen and (max-width: 500px) {
		font-size: 125%;
	}
}

#hpexlist {
	& h3 {
		margin-top: 10px;
	}

	@media screen and (max-width: 720px) {
		margin-bottom: 0;

		& h3 {
			margin: 0px;
		}
	}
}

#stuclubmeeting {
	& p {
		font-size: 22px;
		@media screen and (max-width: 768px) {
			font-size: 18px;
		}
		@media screen and (max-width: 450px) {
			font-size: 14px;
		}
	}
}
#stuactlist {
	border-color: var(--color-lightgrey);
	border-left-style: solid;
	@media screen and (max-width: 768px) {
		border-left-style: none;
		border-top-style: solid;
	}
	& a.btn {
		margin-bottom: 15px;
		font-size: 125%;
		padding: 20px 40px;
		@media screen and (max-width: 768px) {
			font-size: 100%;
			padding: 15px 30px;
		}
		@media screen and (max-width: 400px) {
			padding: 10px 20px;
		}
	}
}

#stuactlist, #stuclubmeeting {
	@media screen and (max-width: 400px) {
		padding-right: 0;
		padding-left: 0;
	}
	& table {
		@media screen and (max-width: 768px) {
			font-size: 80%;
		}
	}
}

#newhm {
	margin-top: 20px;
	margin-bottom: 30px;

	@media screen and (max-width: 400px) {
		& > h1 {
			font-size: 1.75em;
		}
	}
}

.notification {
	@apply --color-lightgrey-prop;

	padding: 2%;
	margin-bottom: 15px;
	border-radius: 10px;
	border-style: solid;
	border-color: #337ab7;

	& p {
		font-size: 200%;
		margin: 0;
	}

	&.notification-read:hover {
		background-color: #003380;
	}

	&.notification-unread {
		background-color: #5882FA;

		&:hover {
			background-color: #0174DF;
		}
	}
}

.panel-heading {
	@media screen and (max-width: 720px) {
		& > h2 {
			margin-top: 10px;
		}
	}

	@media screen and (max-width: 600px) {
		padding: 9px;
	}

	@media screen and (max-width: 400px) {
		padding: 5px;
	}
}

.img-thumbnail {
	@media screen and (max-width: 600px) {
		padding: 0;
	}
}

#currentleader {
	@media screen and (max-width: 600px) {
		margin: 0 10%;
	}
}

#onecas {
	width: 30%;

	@media screen and (max-width: 450px) {
		width: 47%;
	}
}

#logoutlink {
	@apply --color-lightgrey-prop;

	float: right;
	font-size: 50%;
	margin-right: 4%;

	&:hover {
		color: #cccccc;
	}
}

.shorttext {
	font-size:150%;
	@media screen and (max-width: 800px) {
		font-size: 130%;
	}

	@media screen and (max-width: 650px) {
		font-size: 110%;
	}

	@media screen and (max-width: 525px) {
		font-size: 100%;
	}

	@media screen and (max-width: 400px) {
		font-size: 90%;
	}

	@media screen and (max-width: 350px) {
		font-size: 80%;
	}
}

table.attendance, table.actstatus{
	font-size: 150%;
	@media screen and (max-width: 768px) {
		font-size: 125%;
	}
	@media screen and (max-width: 500px) {
		font-size: 100%;
	}
	@media screen and (max-width: 400px) {
		font-size: 80%;
	}
}
table.attendance {
	& span {
		margin-right: 10px;
	}
	& form {
		display: inline;
		& input {
			@media screen and (max-width: 400px) {
				font-size: 75%;
			}
		}
	}
}

@media screen and (max-width: 992px) {
	/* FIXME: what is this? */
	.col-md-10 > center > img {
		max-width: 60%;
	}
}

@media screen and (max-width: 600px) {
	/* FIXME: what is this? */
	.large_container, .large_container > .col-sm-10 {
		padding-left: 0;
		padding-right: 0;
	}
}

@media screen and (max-width: 400px) {
	/* FIXME: what is this? */
	.table > tbody > tr > td, .table > thead > tr > th {
		padding: 4px !important;
	}
}
