/*

CSS styles for sidebar:

For datepicker and other form settings, set form.pcss

*/


#building_icon {
  height: 12px;
}

#submit_classrooms {
  margin-top: 10px;
}

.separator {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar_btn {
  margin: 0;
}
