{% extends "base.html" %}{% from 'macros.html' import get_messages %}
{% block title %}Adjust Clubs{% endblock %}
{% block content %}

<!-- Below Navbar -->
<div class="container">
	<h1 class="title">Adjust Clubs</h1>
	{{ get_messages(['adjustclubs']) }}
	<table class="table table-hover table-bordered midtext">
		<thead>
			<tr>
				<th class="width-5">Club Picture</th>
				<th>Club Name</th>
				<th>Club Leader</th>
				<th>Club Teacher</th>
				<th>Club Intro</th>
				<th>Is Excellent Club?</th>
				<th>Adjust</th>
			</tr>
		</thead>
		<tbody>
			{% for club in clubs %}
			<tr class="act" id="{{ club.id }}">
				<td>
					<img src="{{ club.picture.location_external }}" class="img-responsive table-photo" alt="{{ club.name }}">
				</td>
				<td>{{ club.name }}</td>
				<td>{{ club.leader.nickname }}</td>
				<td>{{ club.teacher.nickname }}</td>
				<td>{{ club.intro }}</td>
				<td>{{ club.is_excellent }}</td>
				<td>
					<form action="{{ url_for('.adjustclubs_submit') }}" method="post">
						<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
						<input type="hidden" name="clubid" value="{{ club.id }}">
						<input class="tinytext" type="submit" class="btn btn-warning" value="Adjust Excellence">
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
