{% extends "user/personal.html" %}
{% block personal %}
{% with refresh_messages = get_flashed_messages(category_filter=["refresh_users"]) %}
{% with rebuild_messages = get_flashed_messages(category_filter=["rebuild_search"]) %}

<h2 class="title_next">Download</h2>
<div class="col-sm-3 admin_function">
	<h2 class="text-center">Download All Clubs' Info</h2>
	<center>
		<a class="btn btn-success smalltext" href="{{ url_for('.allclubsinfo') }}" target="_blank">Download</a>
	</center>
</div>
<div class="col-sm-3 admin_function">
	<h2 class="text-center">Download All Activities' Info</h2>
	<center>
		<a class="btn btn-success smalltext" href="{{ url_for('.allactivitiesinfo') }}" target="_blank">Download</a>
	</center>
</div>
<div class="col-sm-3 admin_function">
	<h2 class="text-center">Download All Users' Info</h2>
	<center>
		<a class="btn btn-success smalltext" href="{{ url_for('.allusersinfo') }}" target="_blank">Download</a>
	</center>
</div>

<div class="clearfix"></div>
<br>
<div class="clearfix clearfix-bordered"></div>

<h2 class="title_next">Other Administrative Functions</h2>
<div class="admin_button">
	<a href="{{ url_for('.newclub') }}" class="btn btn-success">Add New Club</a>
</div>
<div class="admin_button">
	<a href="{{ url_for('.newteachers') }}" class="btn btn-success">Add New Teachers</a>
</div>
<div class="admin_button">
	<a href="{{ url_for('.adjustclubs') }}" class="btn btn-success">Adjust Excellent Clubs</a>
</div>
<div class="admin_button">
	<a href="{{ url_for('.clubmanagementlist') }}" class="btn btn-success">Access to Clubs' Management</a>
</div>
<div class="admin_button">
	<a href="{{ url_for('.changepassword') }}" class="btn btn-success">Change Accounts' Password</a>
</div>
<div class="admin_button">
	<a href="{{ url_for('.changeuserinfo') }}" class="btn btn-success">Change Users' Info</a>
</div>
<div class="admin_button">
	<a href="{{ url_for('.disableaccounts') }}" class="btn btn-success">Disable Accounts</a>
</div>
<div class="admin_button">
	<a href="#hongmei_schedule" data-toggle="modal" data-target="#hongmei_schedule" class="btn btn-success">Check HongMei Schedule</a>
</div>

<div class="clearfix"></div>
<br>
<div class="clearfix clearfix-bordered"></div>

<h2 class="title_next">Please be careful with following operation</h2>
{% if refresh_messages %}
<ul class="list-group">
	{% for message in refresh_messages %}
	<li class="list-group-item">{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}
{% if rebuild_messages %}
<ul class="list-group">
	{% for message in rebuild_messages %}
	<li class="list-group-item">{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}
<div class="admin_button">
	<button class="btn btn-warning" data-toggle="modal" data-target="#confirm_refresh">Refresh Student Accounts</button>
</div>
<div class="admin_button">
	<button class="btn btn-warning" data-toggle="modal" data-target="#fix_search">Auto-fix Search Engine</button>
</div>
<div class="admin_button">
	<a class="btn btn-warning" href="{{ url_for('.download_new_passwords') }}">Download New Accounts' Passwords</a>
</div>

<div id="confirm_refresh" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Confirmation</h4>
			</div>
			<div class="modal-body">
				<p>This operation will update students' accounts with SHSID's authoritative database, so you can use this when new students join. This will disable students' accounts if they disappear from school's database, so please use it with caution.</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success float-left" data-dismiss="modal">Cancel</button>
				<form action="{{ url_for('.refreshusers_submit') }}" method="post">
					<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
					<input type="submit" class="btn btn-danger" value="Refresh">
				</form>
			</div>
		</div>
	</div>
</div>

<div id="fix_search" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Confirmation</h4>
			</div>
			<div class="modal-body">
				<p>When search engine is desynchronized with the database, you can use this operation to auto-fix the problem.</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success float-left" data-dismiss="modal">Cancel</button>
				<form action="{{ url_for('.rebuildsearch_submit') }}" method="post">
					<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
					<input type="submit" class="btn btn-danger" value="Fix">
				</form>
			</div>
		</div>
	</div>
</div>

<div id="hongmei_schedule" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Check HongMei Schedule</h4>
			</div>
			<div class="modal-body">
				<div class="col-sm-4">
					<select name="year" class="form-control" form="download_schedule">
						{% for year in years %}
						<option value="{{ year }}">{{ year }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-sm-4">
					<select name="month" class="form-control" form="download_schedule">
						{% for month in range(1,13) %}
						<option value="{{ month }}">{{ month }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-sm-4">
					<select name="day" class="form-control" form="download_schedule">
						{% for day in range(1,32) %}
						<option value="{{ day }}">{{ day }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default float-left" data-dismiss="modal">Close</button>
				<form action="{{ url_for('.checkhongmeischedule_download') }}" target="_blank" id="download_schedule" method="post">
					<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
					<input type="submit" class="btn btn-success" value="Download">
				</form>
			</div>
		</div>
	</div>
</div>

{% endwith %}
{% endwith %}
{% endblock %}
