{% extends "user/personal.html.j2" %}{% from 'macros.html.j2' import get_messages %}

{% block personal %}

<br>

<div class="row">

	<div class="col-md-1">
	</div>

	<div class="col-md-10">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4>Administrative Functions
					<span class="pull-right glyphicon glyphicon-stats">
					</span>
				</h4>

			</div>
			<div class="panel-body">
				{% if get_flashed_messages(category_filter=['rebuild_search', 'club_creation', 'enable_cleanup']) %}
				<div class="alert alert-warning">
					<span class="glyphicon glyphicon-warning-sign"></span>
					{% for message in get_flashed_messages(category_filter=['rebuild_search', 'club_creation', 'enable_cleanup']) %}
					{{ message }}
					{% endfor %}
				</div>
				{% endif %}

				{% if get_flashed_messages(category_filter=['notify_all']) %}
				<div class="alert alert-success">
					<span class="glyphicon glyphicon-ok-sign"></span>
					{% for message in get_flashed_messages(category_filter=['notify_all']) %}
					{{ message }}
					{% endfor %}
				</div>
				{% endif %}

				<div class="row">
					<div class="col-md-4">
						<div class="btn-group btn_content" role="group">
							<a class="btn btn-default" href="{{ url_for('clubblueprint.allclubsinfo') }}" target="_blank"> Download Clubs' Information (.xlsx) </a>
						</div>
					</div>

					<div class="col-md-4">
						<div class="btn-group btn_content" role="group">
							<a class="btn btn-default" data-toggle="modal" data-target="#act_download"> Download Activities' Information (.xlsx) </a>
						</div>
					</div>

					<div class="col-md-4">
						<div class="btn-group btn_content" role="group">
							<a class="btn btn-default" href="{{ url_for('.allusersinfo') }}" target="_blank"> Download Users' Information (.xlsx) </a>
						</div>
					</div>
				</div>
				<!-- /.row -->

				<br>

				<div class="row">
					<div class="col-md-4">
						<div class="btn-group btn_content" role="group">
							<a href="{{ url_for('clubblueprint.adjustclubs') }}" class="btn btn-default">Set Excellent Clubs</a>
						</div>
					</div>

					<div class="col-md-4">
						<div class="btn-group btn_content" role="group">
							<a href="{{ url_for('clubblueprint.clubmanagementlist') }}" class="btn btn-default">View Table of All Clubs</a>
						</div>
					</div>

					<div class="col-md-4">
						<div class="btn-group btn_content" role="group">
							<a href="#adjust_club_status" data-toggle="modal" data-target="#adjust_club_status" class="btn btn-default">Change Clubs' Status</a>
						</div>
					</div>
				</div>
				<!-- /.row -->

				<br>

				<div class="row">
					<div class="col-md-4">
						<div class="btn-group btn_content" role="group">
							<a href="#notify_all" data-toggle="modal" data-target="#notify_all" class="btn btn-default">Notify Users</a>
						</div>
					</div>

					<div class="col-md-4">
						<div class="btn-group btn_content" role="group">
							<a href="{{ url_for('.changeuserinfo') }}" class="btn btn-default">Edit Users' Info</a>
						</div>
					</div>

					<div class="col-md-4">
						<div class="btn-group btn_content" role="group">
							<a href="{{ url_for('.disableaccounts') }}" class="btn btn-default">Disable User Accounts</a>
						</div>
					</div>
				</div>
				<!-- /.row -->

				<br>

				<div class="row">
					<div class="col-md-4">
						<div class="btn-group btn_content" role="group">
							<a class="btn btn-warning" href="{{ url_for('.refreshusers') }}">Refresh Student Accounts</a>
						</div>
					</div>

					<div class="col-md-4">
						<div class="btn-group btn_content" role="group">
							<button class="btn btn-warning" data-toggle="modal" data-target="#fix_search">Sync Search Engine</button>
						</div>
					</div>

					<div class="col-md-4">
						<div class="btn-group btn_content" role="group">
							<a class="btn btn-warning" href="{{ url_for('.edit_siteconfig') }}">Edit Site Configuration</a>
						</div>
					</div>
				</div>
				<!-- /.row -->



			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>

	<div class="col-md-1">
	</div>
</div>
<!-- /.row -->

<div id="fix_search" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Confirmation</h4>
			</div>
			<div class="modal-body">
				<p>When search engine is desynchronized with the database, you can use this operation to auto-fix the problem.</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default float-left" data-dismiss="modal">Cancel</button>
				<form action="{{ url_for('.rebuildsearch_submit') }}" method="post">
					<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
					<input type="submit" class="btn btn-danger" value="Fix">
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="act_download" role="dialog">
	<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Select whether to download all activities or only this week's.</h4>
				</div>
			<div class="modal-body">
				<div class="col-sm-6">
					<a class="btn btn-primary large_button" href="{{ url_for('actblueprint.allactivitiesinfo') }}">Download All Activities</a>
				</div>
				<div class="col-sm-6">
					<a class="btn btn-default large_button" href="{{ url_for('actblueprint.thisweek_activitiesinfo') }}">Download This Week's Activities</a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div id="adjust_club_status" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Adjust Club Status</h4>
			</div>
			<div class="modal-body">
				<div class="col-sm-4">
					<a class="btn btn-danger large_button" href="{{ url_for('clubblueprint.adjust_status', club_type='all') }}">All Clubs</a>
				</div>
				<div class="col-sm-4">
					<a class="btn btn-warning large_button" href="{{ url_for('clubblueprint.adjust_status', club_type='11-12') }}">Grade 11-12</a>
				</div>
				<div class="col-sm-4">
					<a class="btn btn-warning large_button" href="{{ url_for('clubblueprint.adjust_status', club_type='9-10') }}">Grade 9-10</a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div id="notify_all" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="form-group" action="{{ url_for('.notifyall_submit') }}" id="notify_form" method="post">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Notify All</h4>
				</div>
				<div class="modal-body">
					<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
					<div id="grade-radiobutton">
						<label class="radio-inline">
							<input type="radio" name="grade" id="grade-910" value="9-10"> 9-10
						</label>
						<label class="radio-inline">
							<input type="radio" name="grade" id="grade-1112" value="11-12"> 11-12
						</label>
						<label class="radio-inline">
							<input type="radio" name="grade" id="grade-all" value="all"> All grades (9-12)
						</label>
					</div>
					<br>
					<div id="ntype-radiobutton">
						<label class="radio-inline">
							<input type="radio" name="ntype" id="ntype-all" value="all"> All club leaders, members, and teachers
						</label>
						<label class="radio-inline">
							<input type="radio" name="ntype" id="ntype-leaderonly" value="leaderonly"> Only club leaders
						</label>
					</div>
					<br>
					<label for="contents">Contents:</label>
					<textarea class="form-control" rows="10" id="contents" name="contents"></textarea>
					<div class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<input type="submit" class="btn btn-primary" value="Notify">
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}
