{% extends "base.html" %}
{% block title %}Change Users' Info{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(category_filter=["admin_info"]) %}


<!-- Below Navbar -->
<div class="large_container">
	<h1 class="title">Change Users' Information</h1>
	{% if messages %}
	<ul class="list-group">
		{% for message in messages %}
		<li class="list-group-item">{{ message }}</li>
		{% endfor %}
	</ul>
	<br>
	{% endif %}
	<table class="table table-hover table-bordered midtext" id="admin_user_table" data-csrf={{ csrf_token() }}>
		<thead class="list">
			<tr class="bg-color-grey">
				<th class="width-5">Picture</th>
				<th>Student ID</th>
				<th>Nick Name</th>
				<th>Passport Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Grade</th>
				<th>Class</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
			<tr class="act">
				<td>
					<span class="hide">{{ user.id }}</span>
					<img src="{{ user.picture.location_external }}" class="img-responsive img-thumbnail" alt="{{ user.nickname }}" table-photo>
				</td>
				{% for variable in ['studentid', 'nickname', 'passportname', 'email', 'phone', 'grade', 'currentclass']%}
				<td class="admin_user_info" data-property-type="{{ variable }}">{% if user[variable] is none %}-{% else %}{{ user[variable] }}{% endif %}</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endwith %}
{% endblock %}
