{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(category_filter=["password"]) %}


<!-- Below Navbar -->
<div class="large_container">
	<h1 class="title">Change Password</h1>
	{% if messages %}
	<ul class="list-group">
		{% for message in messages %}
		<li class="list-group-item">{{ message }}</li>
		{% endfor %}
	</ul>
	<br>
	{% endif %}
	<table class="table table-hover table-bordered midtext">
		<thead>
			<tr>
				<th class="width-5">Picture</th>
				<th>Nick Name</th>
				<th>Student ID</th>
				<th>Passport Name</th>
				<th>New Password</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
			<tr class="act">
				<td>
					<img src="{{ user.picture.location_external }}" class="img-responsive img-thumbnail" alt="{{ user.nickname }}" table-photo>
				</td>
				<td>{{ user.nickname }}</td>
				<td>{{ user.studentid }}</td>
				<td>{{ user.passportname }}</td>
				<td>
					<form action="{{ url_for('.changepassword_submit') }}" method="post">
						<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
						<input type="hidden" name="id" value="{{ user.id }}">
						<input type="text" name="password">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endwith %}
{% endblock %}
