{% extends "base.html.j2" %}

{% block additionalcssjs %}
<link href="{{ url_for('static', filename='css/form.min.css') }}" rel="stylesheet" type="text/css" media="all">
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}

<!-- Below Navbar -->
<div class="container">

	<br>
	<br>
	<br>

	<div class="row">
		<div class="col-md-4">
		</div>

		<div class="col-md-4">
			<div class="form-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Login</h4>
					</div>
					<div class="panel-body">
						{% if form.errors %}
						<div class="alert alert-warning">
							<span class="glyphicon glyphicon-warning-sign"></span>
							{% for field in form.errors %}
							{{ form.errors[field] }}
							{% endfor %}
						</div>
						{% endif %}

						<form class="form-group" action="{{ url_for('login') }}" method="post">
							<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
							<input name="next" type="hidden" value="{{ request.args.get('next') or '' }}">
							{{ form.nexturl }}
							{{ form.is_firstPass }}
							{{ form.is_initalized }}

							<div class="form-group">
								{{ form.username.label }}
								{{ form.username(class_="form-control") }}
							</div>

							{% if not is_firstPass %}
							<div class="form-group">
								{% if is_initalized %}
								Password
								{{ form.password(class_="form-control") }}

								{% else %}
								New password
								{{ form.password(class_="form-control") }}
								<span class="help-block">
									Minimum length: 6 characters
								</span>
								Re-enter password
								{{ form.password_2(class_="form-control") }}
								<br>
								Email
								{{ form.email(class_="form-control") }}
								<span class="help-block">
									Used to reset password
								</span>

								{% endif %}
							</div>
							{% endif %}
							<div class="btn-toolbar">
									{{ form.submit(class_="btn btn-primary") }}
									{% if not is_firstpass and is_initalized %}
									{{ form.forgotpassword(class_="btn btn-default") }}
									{% endif %}
							</div>
						</form>
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.form-control -->
		</div>
		<!-- /.col-md-6 -->

		<div class="col-md-4">
		</div>
	</div>
	<!-- /.row -->
</div>
<!-- /.container -->


{% endblock %}
