{% extends "base.html" %}
{% block title %}New Club{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(category_filter=["newclub"]) %}

<!-- Below Navbar -->
<div class="container">
	<form class="form-group color-white" action="{{ url_for('.newclub_submit') }}" method="post" enctype="multipart/form-data">
		<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
		<h1 class="title">Add New Club</h1>
		<h2 class="title_next">Club Teacher: {{ current_user.nickname }}</h2>
		{% if messages %}
		<ul class="list-group black">
			{% for message in messages %}
			<li class="list-group-item">{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		<p>*Please input below.</p>
		<label for="clubname largetext">Club Name:</label>
		<input type="text" class="form-control" name="clubname" id="clubname">
		<br>
		<label for="description largetext">Club Leader:</label>
		<p>Student ID:</p>
		<input type="text" class="form-control" name="studentid" id="studentid">
		<br>
		<p>Passport Name:</p>
		<input type="text" class="form-control" name="passportname" id="passportname">
		<br>
		<label for="clubtype largetext">Club Type:</label>
		<br>
		<select class="form-control" name="clubtype" id="clubtype">
			{% for type in clubtype %}
			<option value="{{ type.value }}">{{ type.format_name }}</option>
			{% endfor %}
		</select>
		<br>
		<input type="submit" class="btn btn-primary btn-lg" value="Create Club">
	</form>
</div>

<div class="clearfix"></div>

{% endwith %}
{% endblock %}