{% extends "base.html" %}
{% block title %}New teachers{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(category_filter=["newteachers"]) %}

<div class="container">
	<div class="admin_function">
		<h2 class="title_next">Add New Teachers</h2>
		<br>
		{% if messages %}
		<ul class="list-group">
			{% for message in messages %}
			<li class="list-group-item">{{ message }}</li>
			{% endfor %}
		</ul>
		<br>
		{% endif %}
		<form action="{{ url_for('.newteachers_submit') }}" method="post" enctype="multipart/form-data">
			<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
			<p>Please upload a xlsx file with a sheet named "Teachers".</p>
			<p>Required information in xlsx(in exact order): ID (login name), Official Name, Email Address</p>
			<p>The submitted data will replace the existing email address and official name in the database when they have the same ID.</p>
			<p>Below is an example in excel file.</p>
			<table class="table table-hover table-bordered">
				<thead class="list">
					<tr class="bg-color-black">
						<th>ID</th>
						<th>Official Name</th>
						<th>Email Address</th>
					</tr>
				</thead>
				<tbody>
					<tr class="act">
						<td>T123123123</td>
						<td>Example Example</td>
						<td>example@example.com</td>
					</tr>
				</tbody>
			</table>
			<p>Teacher accounts that have already been created will not be created again.</p>
			<input class="hide" type="file" name="excel" id="excel" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, .csv, application/vnd.ms-excel">
			<label for="excel" class="upload_button">
				<span class="glyphicon glyphicon-upload"></span>
				<span>Choose an excel file...</span>
			</label>
			<p class="upload_content" id="upload_content"></p>
			<div class="clearfix"></div>
			<br>
			<input type="submit" class="btn btn-primary btn-lg" value="Submit">
		</form>
	</div>
</div>

{% endwith %}
{% endblock %}