{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages(category_filter=["newusers"]) %}

<div class="container">
	<div class="admin_function">
		<h2 class="title_next">Add New Users</h2>
		<br>
		{% if messages %}
		<ul class="list-group">
			{% for message in messages %}
			<li class="list-group-item">{{ message }}</li>
			{% endfor %}
		</ul>
		<br>
		{% endif %}
		<form action="{{ url_for('.newusers_submit') }}" method="post" enctype="multipart/form-data">
			<p>Please upload a xlsx file with a sheet named "Users".</p>
			<p>Required information in xlsx(in exact order): Student ID, Passport Name, Email Address</p>
			<p>Below is an example in excel file.</p>
			<table class="table table-hover table-bordered">
				<thead class="list">
					<tr style="background-color:#bfbfbf">
						<th>Student ID</th>
						<th>Passport Name</th>
						<th>Email Address</th>
					</tr>
				</thead>
				<tbody>
					<tr class="act">
						<td>G2010010123</td>
						<td>Dheeraj Kumar</td>
						<td>i_am_indian@gmail.com</td>
					</tr>
				</tbody>
			</table>
			<input type="file" name="excel" id="excel" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, .csv, application/vnd.ms-excel" style="width:0.1px; height:0.1px; opacity:0">
			<label for="excel" class="upload_button">
				<span class="glyphicon glyphicon-upload"></span>
				<span>Choose an excel file...</span>
			</label>
			<p class="upload_content" id="upload_content"></p>
			<div class="clearfix"></div>
			<br>
			<input type="submit" class="btn btn-primary btn-lg" value="Submit">
		</form>
	</div>
</div>

{% endwith %}
{% endblock %}