{% extends "base.html.j2" %}
{% from 'macros.html.j2' import render_pagination %}

{% block title %}Notifications{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-10">
			<h2 class="">Notifications <small> - {{ number }} new notification{% if number != 1 %}s{% endif %}</small></h2>
		</div>

		<div class="col-md-1">
		</div>
	</div>

	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-10">
			<hr class="separator" id="separator_title">
		</div>

		<div class="col-md-1">
		</div>
	</div>

	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-10">
			{% if get_flashed_messages(category_filter=['reply']) %}
			<div class="alert alert-warning">
				<span class="glyphicon glyphicon-warning-sign"></span>
				{% for message in get_flashed_messages(category_filter=['reply']) %}
				{{ message }}
				{% endfor %}
			</div>
			{% endif %}

			{% for invitation in invitations %}
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-9 col-xs-6">
							<form action="{{ url_for('.invitation_reply') }}" method="post">
								<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
								<input name="club" type="hidden" value="{{ invitation.club.id }}">
								<span>
									<button class="btn btn-success btn-xs" name="reply" value="accept"><span class="glyphicon glyphicon-ok"></span></button>
									&nbsp;
									<button class="btn btn-danger btn-xs" name="reply" value="decline"><span class="glyphicon glyphicon-remove"></span></button>
								</span>
								&nbsp;&nbsp;
								You are invited to {{ invitation.club.name }}.
							</form>
						</div>
						<div class="col-md-3 col-xs-6 text-right">
							{{ invitation.date.strftime("%Y-%m-%d, %A") }}
						</div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
			{% endfor %}

			{% for note in notifications %}
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-9 col-xs-6">
							{{ note.text }}
						</div>
						<div class="col-md-3 col-xs-6 text-right">
							{{ note.date.strftime("%Y-%m-%d, %A") }}
						</div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
			{% endfor %}

			<center>{{ render_pagination(pagination) }}</center>
		</div>

		<div class="col-md-1">
		</div>
	</div>
</div>
<!-- /.container -->

{% endblock %}
