{% extends "base.html.j2" %}{% from 'macros.html.j2' import render_pagination, get_messages %}
{% block title %}Notifications{% endblock %}
{% block content %}

<!-- Below Navbar -->
<div class="container">
	{{ get_messages(['reply']) }}
	<h1 class="title text-center">Notifications</h1>
	<center><p class="search_result">You have {{ number }} new notifications.</p></center>
	<br>
	{% for invitation in invitations %}
	<div class="notification notification-unread largetext">
		<div class="col-sm-9">
			<p>You are invited to {{ invitation.club.name }}. Do you wish to accept this invitation?</p>
			<form action="{{ url_for('.invitation_reply') }}" method="post">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
				<input name="club" type="hidden" value="{{ invitation.club.id }}">
				<button class="btn btn-success" name="reply" value="accept"><span class="glyphicon glyphicon-ok"></span></button>
 				<button class="btn btn-danger" name="reply" value="decline"><span class="glyphicon glyphicon-remove"></span></button>
			</form>
		</div>
		<div class="col-sm-3">
			<p>{{ invitation.date.strftime('%b-%d-%y') }}</p>
		</div>
		<div class="clearfix"></div>
	</div>
	{% endfor %}
	{% for note in notifications %}
	<div class="notification {% if note.isread == True %}notification-read{% else %}notification-unread{% endif %} largetext">
		<div class="col-sm-9">
			<p>{{ note.text }}</p>
		</div>
		<div class="col-sm-3">
			<p>{{ note.date.strftime('%b-%d-%y') }}</p>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
	{% endfor %}
	<center>{{ render_pagination(pagination) }}</center>
</div>

{% endblock %}
