{% extends "base.html" %}
{% block content %}
{% with status_info = get_flashed_messages(category_filter=["status_info"]) %}
{% with status_pw = get_flashed_messages(category_filter=["status_pw"]) %}

<!-- Below Navbar -->
<div class="container">
	<h2 class="title_next" style="padding-left: 3%; margin-bottom:0;">{{ current_user.nickname }} {% if activities %}<span style="font-size:50%">({{ current_user.studentid }})</span>{% endif %}<a href="{{ url_for('logout') }}" style="color:#f2f2f2; float:right; font-size:50%; margin-right:4%" onMouseOver="this.style.color='#cccccc'" onMouseOut="this.style.color='#f2f2f2'"><span class="glyphicon glyphicon-log-out">&nbsp;Logout</span></a></h2>
	<div class="clearfix clearfix-bordered"></div>
	{% if status_info %}
	<br>
	<ul class="list-group">
		{% for message in status_info %}
		<li class="list-group-item">{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% if status_pw %}
	<br>
	<ul class="list-group">
		{% for message in status_pw %}
		<li class="list-group-item">{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	<br><br>
	<div class="col-sm-3">
		<img src="{{ current_user.picture.location_external }}" class="img-responsive img-thumbnail" alt="Profile Picture">
		<br><br>
	</div>
	<div class="col-sm-9 personal_info">
		<h2>Official Name: {{ current_user.passportname }}</h2>
		<h2>Email Address: {{ current_user.email }}</h2>
		<h2>Phone Number: {{ current_user.phone }}</h2>
		<br>
		<a href="#changeInfo" data-toggle="modal" data-target="#changeInfo">
			<button class="btn btn-info">Click here to edit your basic information</button>
		</a>
		<a href="#changePass" data-toggle="modal" data-target="#changePass">
			<button class="btn btn-info">Click here to change your password</button>
		</a>
		<div class="clearfix"></div>
		<br>
	</div>
	<div class="clearfix clearfix-bordered"></div>

	{% block personal %}{% endblock %}
</div>

<div class="modal fade" id="changeInfo">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Change Basic Information</h4>
			</div>
			<div class="modal-body">
				<form class="form-group" id="info_form" action="{{ url_for('.personalsubmitinfo') }}" method="post">
					<label for="name">Nick Name:</label>
					<input class="form-control" id="name" type="text" name="name" placeholder="{{ current_user.nickname }}">
					<br>
					<label for="email">Email:</label>
					<input class="form-control" id="email" type="email" name="email" placeholder="{{ current_user.email }}">
					<br>
					<label for="phone">Phone Number:</label>
					<input class="form-control" id="phone" type="text" name="phone" placeholder="{{ current_user.phone }}">
					<br>
					<label for="picture">Profile Picture:</label>
					<div class="clearfix"></div>
					{% for pic in pictures %}
					<label class="radio_block">
						<img src="{{ pic.location_external }}" class="img-responsive" alt="{{ -pic.id }}">
						<center><input type="radio" name="picture" {% if pic == current_user.picture %}checked="checked"{% endif %} value="{{ pic.id }}"></center>
					</label>
					{% endfor %}
					<div class="clearfix"></div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<input type="submit" class="btn btn-primary" form="info_form" name="change_info" value="Change Info">
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="changePass">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Change Password</h4>
			</div>
			<div class="modal-body">
				<form class="form-group" id="pass_form" action="{{ url_for('userblueprint.personalsubmitpassword') }}" method="post">
					<label for="old">Old Password:</label>
					<input class="form-control" id="old" name="old" type="password">
					<br>
					<label for="new">New Password:</label>
					<input class="form-control" id="new" name="new" type="password">
					<br>
					<label for="again">Repeat New Password:</label>
					<input class="form-control" id="again" name="again" type="password">
					<div class="clearfix"></div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<input type="submit" class="btn btn-primary" form="pass_form" name="change_pass" value="Change Password">
			</div>
		</div>
	</div>
</div>

{% endwith %}
{% endwith %}
{% endblock %}