{% extends "base.html.j2" %}
{% from 'macros.html.j2' import get_messages %}

{% block additionalcssjs %}
<link href="{{ url_for('static', filename='css/form.min.css') }}" rel="stylesheet" type="text/css" media="all">
{% endblock %}

{% block title %}{{ current_user.nickname }}{% endblock %}


{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-10">
			<h2 class="">{{ current_user.nickname }}</h2>
		</div>

		<div class="col-md-1">
		</div>
	</div>
	<!-- /.row -->

	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-10">
			<hr class="separator" id="separator_title">
		</div>

		<div class="col-md-1">
		</div>
	</div>
	<!-- /.row -->

	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-10">
			<p><b>Login name</b>: {{ current_user.passportname }}</p>
			<p><b>Nickname</b>: {{ current_user.nickname }}</p>
			<p><b>Email</b>: {{ current_user.email }}</p>
			<p><b>Phone</b>: {{ current_user.phone }}</p>
		</div>
		<!-- /.col-md-10 -->

		<div class="col-md-1">
		</div>
	</div>
	<!-- /.row -->

	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-10">
			<div class="row">

				<div class="col-md-4 col-xs-12 text-center">
					<div class="btn-group btn_content" role="group">
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#changeInfo">
							Edit Information
						</button>
					</div>
				</div>
				<div class="modal fade" id="changeInfo" tabindex="-1" role="dialog">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title">Edit Information</h4>
							</div>
							<div class="modal-body">
								<form class="form-group" action="{{ url_for('.personalsubmitinfo') }}" method="post">
									<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">

									<div class="form-group">
										Nickname
										<input class="form-control" id="name" type="text" name="name" value="{{ current_user.nickname }}">
									</div>


									<div class="form-group">
										Email
										<input class="form-control" id="email" type="email" name="email" value="{{ current_user.email }}">
										<div class="checkbox">
											<label>
												<input type="checkbox" id="receive_email" name="receive_email" {% if receive_email %} checked="checked" {% endif %}>
												&nbsp;Email notifications
											</label>
										</div>
									</div>

									<div class="form-group">
										Phone
										<input class="form-control" id="phone" type="text" name="phone" value="{{ current_user.phone }}">
									</div>

									<hr class="separator">
									<div class="btn-toolbar">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										<input type="submit" class="btn btn-primary" name="change_info" value="Submit">
									</div>
								</form>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->

				<div class="col-md-4 col-xs-12 text-center">
					<div class="btn-group btn_content" role="group">
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#changePass">
							Change Password
						</button>
					</div>
				</div>
				<div class="modal fade" id="changePass" tabindex="-1" role="dialog">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title">Change Password</h4>
							</div>
							<div class="modal-body">
								<form class="form-group" action="{{ url_for('userblueprint.personalsubmitpassword') }}" method="post">
									<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">

									<div class="form-group">
										Old password
										<input class="form-control" id="old" name="old" type="password">
									</div>

									<div class="form-group">
										New password
										<input class="form-control" id="new" name="new" type="password">
									</div>

									<div class="form-group">
										Re-enter password
										<input class="form-control" id="again" name="again" type="password">
									</div>

									<hr class="separator">
									<div class="btn-toolbar">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										<input type="submit" class="btn btn-primary" name="change_info" value="Submit">
									</div>
								</form>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->


				<div class="col-md-4 col-xs-12 text-center">
					<div class="btn-group btn_content" role="group">
						<a class="btn btn-default" href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a>
					</div>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.col-md-10 -->

		<div class="col-md-1">
		</div>
	</div>
	<!-- /.row -->

	{% block personal %}{% endblock %}

</div>
<!-- /.container -->




{% endblock %}
