{% extends "base.html" %}
{% block title %}Quit Club{% endblock %}
{% block content %}
{% with quit_messages = get_flashed_messages(category_filter=["quit"]) %}


<!-- Below Navbar -->
<div class="container">
    <div class="col-sm-3">
        <img src="{{ url_for('static', filename='images/areyousure1.jpg') }}" class="img-responsive img-thumbnail" alt="Are you sure?">
    </div>
    <div class="col-sm-6">
        <h1 class="color-white title_next">Quitting Club</h1>
        {% if quit_messages %}
        <ul class="list-group black">
            {% for message in quit_messages %}
            <li class="list-group-item">{{ message }}</li>
            {% endfor %}
        </ul>
        <br>
        {% endif %}
        {% if quitting_clubs %}
    	<form class="form-group color-white middle" id="quit_club" action="{{ url_for('userblueprint.quitclub_submit') }}" method="post">
            <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
            <p class="midtext"><i>If you really want to quit a club, then please select the club and state your reason. Your quitting request will be emailed to the club leader.</i></p>
            <br>
    		<label for="clubs">The club:</label>
        	<select class="form-control black" id="clubs" name="clubs" type="dropdown">
                {% for club in quitting_clubs %}
                <option value="{{ club.id }}">{{ club.name }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="reason">Reason:</label>
        	<textarea class="form-control" rows="10" name="reason" id="reason"></textarea>
            <br>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#confirmation" id="updatequit">Submit</button>
        </form>
        {% else %}
        <p class="color-white midtext">You do not have any club to quit yet.</p>
        {% endif %}
    </div>
    <div class="col-sm-3">
        <img src="{{ url_for('static', filename='images/areyousure2.jpg') }}" class="img-responsive img-thumbnail" alt="Are you sure?">
    </div>
</div>

<div id="confirmation" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No!</button>
                <input type="submit" form="quit_club" class="btn btn-primary" value="Confirm">
            </div>
        </div>
    </div>
</div>

{% endwith %}
{% endblock %}