{% extends "base.html.j2" %}{% from 'macros.html.j2' import get_messages %}
{% block title %}New Users{% endblock %}
{% block content %}
<div class="container">
<p class="text-justify">
{{ log_content }}
</p>
</div>

{% endblock %}