{% extends "base.html" %}
{% block title %}Register for HongMei{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(category_filter=["reghm"]) %}

<!-- Below Navbar -->
<div class="container">
	<h1 class="title">Register for HongMei Activities</h1>
	<h2 class="title_next">{{ club }}</h2>
	{% if messages %}
	<ul class="list-group">
		{% for message in messages %}
		<li class="list-group-item">{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	<div class="checkbox_block">
		{% for act in acts %}
		<label for="{{ act.id }}">
			<div class="col-xs-10" style="padding:0; width:auto">
				<p>{{ act.date }}</p>
				{{ act.description.formatted }}
			</div>
			<div class="col-xs-2" style="float:right; padding:0">
				<input type="checkbox" name="register" value="{{ act.id }}"" id="{{ act.id }}" form="registerhm">
			</div>
		</label>
		{% endfor %}
	</div>
	<br>
	<center><form action="{{ url_for('.registerhm_submit', club=g.club.callsign) }}" method="post" id="registerhm"><input class="btn btn-info" type="submit" style="width:20%;padding: 3% 0 3% 0; font-size:200%;min-width:120px" value="Submit"></form></button>
</div>

{% endwith %}
{% endblock %}