{% extends "base.html" %}
{% block content %}
{% with reghm = get_flashed_messages(category_filter=["reghm"]) %}

<!-- Below Navbar -->
<div class="container">
	<h1 class="title">Register for HongMei Activities</h1>
	<h2 class="title_next">{{ club }}</h2>
	{% if reghm %}
	<ul class="list-group">
		{% for message in reghm %}
		<li class="list-group-item">{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	<div class="checkbox_block">
		{% for act in acts %}
		<label for="{{ act.id }}">
			<div class="col-sm-10">
				<p style="font-size:150%">{{ act.date }}</p>
				<p>{{ act.description }}</p>
			</div>
			<div class="col-sm-2">
				<input type="checkbox" name="register" value="{{ act.id }}"" id="{{ act.id }}">
			</div>
		</label>
		{% endfor %}
	</div>
	<br>
	<center><form action="{{ url_for('.registerhm_submit', club=g.club.callsign) }}"><input class="btn btn-info" type="submit" style="width:20%;padding: 3% 0 3% 0; font-size:200%" value="Submit"></form></button>
</div>

{% endblock %}