{% extends "user/personal.html" %}
{% block personal %}

<h2 class="color-lightgrey">Participating Clubs</h2>
<br>
<div class="smallBlock">
	{% for club in clubs %}
	<a href="{{ url_for('clubblueprint.clubintro', club=club.callsign) }}"><img src="{{ club.picture.location_external }}" class="img-responsive" alt="">
		<p class="clubname">{{ club.name }}</p>
	</a>
	{% endfor %}
</div>
<div class="clearfix"></div>
<div class="col-xs-6">
	<center>
		<a class="btn btn-info" href="{{ url_for('clubblueprint.clublist', club_type='all') }}" style="padding:5% 10% 5% 10%; font-size:125%">Join Clubs</a>
	</center>
</div>
<div class="col-xs-6">
	<center>
		<a class="btn btn-info" href="{{ url_for('userblueprint.quitclub') }}" style="padding:5% 10% 5% 10%; font-size:125%">Quit Clubs</a>
	</center>
</div>
<div class="clearfix"></div>
<br>
<div class="clearfix clearfix-bordered"></div>

<h2 class="color-lightgrey">CAS</h2>
<br>
<div class="smallBlock">
	{% for club in clubs %}
	<div id="onecas">
		<p class="clubname">{{ club.name }}</p>
		<p>CAS Hours: {{ current_user.cas_in_club(club) }}</p>
	</div>
	{% endfor %}
</div>
<div class="clearfix"></div>
<div class="smallBlock">
	<div style="width:100%"><p style="font-size:200%">Total CAS Hours: {{ castotal }}</p></div>
</div>
<div class="clearfix clearfix-bordered"></div>

<div class="col-sm-6" id="stuclubmeeting">
	<h2 class="color-lightgrey">Club Meetings</h2>
	<table class="table table-hover table-bordered">
		<thead class="list">
			<tr style="background-color:#bfbfbf">
				<th>Name</th>
				<th>Club</th>
				<th>Date</th>
				<th>Time</th>
				<th>Location</th>
			</tr>
		</thead>
		<tbody>
			<!--{% for meeting in meetings %}
			<tr class="clickable act" data-href="{{ url_for('actblueprint.actintro', activity=meeting.callsign) }}">
				<td>{{ meeting.name }}</td>
				<td>{{ meeting.club.name }}</td>
				<td>{{ meeting.date }}</td>
				<td>{{ meeting.time.format_name }}</td>
				<td>{{ meeting.location }}</td>
			</tr>
			{% endfor %}
			-->
		</tbody>
	</table>
	<p class="color-lightgrey">You don't have to sign up for club meetings.</p>
	<p class="color-lightgrey" style="margin-bottom:15px">Check activities page to see more.</p>
</div>
<div class="col-sm-6" id="stuactlist">
	<h2 class="color-lightgrey">Activities</h2>
	<table class="table table-hover table-bordered">
		<thead class="list">
			<tr style="background-color:#bfbfbf">
				<th>Name</th>
				<th>Club</th>
				<th>Date</th>
				<th>Time</th>
				<th>Location</th>
			</tr>
		</thead>
		<tbody>
			{% for act in activities %}
			<tr class="clickable act" data-href="{{ url_for('actblueprint.actintro', activity=act.callsign) }}">
				<td>{{ act.name }}</td>
				<td>{{ act.club.name }}</td>
				<td>{{ act.date }}</td>
				<td>{{ act.time.format_name }}</td>
				<td>{{ act.location }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<center>
		<a class="btn btn-info" href="{{ url_for('actblueprint.allactivities', club_type='all') }}">Register Individual Club Activities</a>
	</center>
	<center>
		<a class="btn btn-info" href="{{ url_for('clubblueprint.clublist', club_type='all') }}">Register HongMei Activities</a>
	</center>
</div>
<div class="clearfix {% if leader_club %}clearfix-bordered{% endif %}"></div>

{% if leader_club %}
<br>
<div class="container">
	{% for club in leader_club %}
	<a class="btn btn-success" href="{{ url_for('clubblueprint.club', club=club.callsign) }}" style="padding:2%;font-size:125%">Manage {{ club.name }}</a>
	{% endfor %}
</div>
{% endif %}


{% endblock %}
