{% extends "user/personal.html" %}
{% block personal %}
{% with joinmode_messages = get_flashed_messages(category_filter=["joinmode"]) %}
{% with active_messages = get_flashed_messages(category_filter=["is_active"]) %}

<h2 class="color-lightgrey">Guiding Clubs</h2>
<br>
{% if joinmode_messages %}
<br>
<ul class="list-group">
	{% for message in joinmode_messages %}
	<li class="list-group-item">{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}
{% if active_messages %}
<br>
<ul class="list-group">
	{% for message in active_messages %}
	<li class="list-group-item">{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}
<div id="teacher_clubs">
	{% for club in myclubs %}
	<div class="teacher_club">
		<div class="col-xs-3">
			<img src="{{ club.picture.location_external }}" class="img-responsive" alt="">
			<p class="text-center">{% if club.is_active %}Active{% else %}Inactive{% endif %}</p>
		</div>
		<div class="col-sm-9">
			<h1>{{ club.name }}</h1>
			<h2>Members: {{ club.members_num }}<span class="float-right">Mode: {{ club.joinmode.format_name }}</span></h2>
			<p>Intro: {{ club.intro }}</p>
			<div class="clearfix"></div>
			<div class="col-sm-6">
				<a class="btn btn-primary" href="{{ url_for('actblueprint.clubactivities', club=club.callsign) }}">Activities Status</a>
			</div>
			<div class="col-sm-6">
				<a class="btn btn-primary" href="{{ url_for('actblueprint.hongmei_status', club=club.callsign) }}">HongMei Status</a>
			</div>
			<div class="col-sm-6">
				<a class="btn btn-primary" href="{{ url_for('clubblueprint.club', club=club.callsign) }}">Club Management</a>
			</div>
			<div class="col-sm-6">
				<form action="{{ url_for('.switchmode', club=club.callsign) }}" method="post">
					<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
					<input type="hidden" class="club_callsign" value="{{ club.callsign }}">
					<input type="submit" class="btn btn-primary" value="Change Join Mode">
				</form>
			</div>
		</div>
	</div>
	<label class="clearfix"></label>
	{% endfor %}
</div>
<div class="clearfix clearfix-bordered"></div>

<center>
	<a class="btn btn-success large_button" href="{{ url_for('.newclub') }}" style="margin-top:30px">Add New Club</a>
</center>

<div class="clearfix"></div>

{% endwith %}
{% endwith %}
{% endblock %}
