{% extends "base.html" %}
{% block content %}

<!-- Below Navbar -->
<div class="container" style="min-height:90%">
	<h1 class="title text-center">500 Internal Server Error</h1>
	<center><img src="../static/images/smiley_face.jpg" class="img-responsive img-thumbnail" alt="Sad face"></center>
	<br>
	<p style="font-size:125%; color:#f2f2f2">Oops. This is an awkward moment. Please contact us and tell us about what you have done so far. We will respond as soon as possible. Please click advice/opinion at the bottom of this page to contact us. Thank you for your coorperation.</p>
</div>

{% endblock %}