{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages(category_filter=["expelled"]) %}

<!-- Below Navbar -->
<div class="container">
    <h1 class="title">Adjust Members</h1>
    <h2 class="title_next">{{ club }}</h2>
    {% if messages %}
    <ul class="list-group">
        {% for message in messages %}
        <li class="list-group-item">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <table class="table table-hover table-bordered" style="font-size:150%">
        <thead class="list">
            <tr style="background-color:#bfbfbf">
                <th style="width:5%">Photo</th>
                <th>Nick Name</th>
                <th>Official Name</th>
                <th>Student ID</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
            <tr class="act" id="{{ member.passportname }}">
                <td>
                    <img src="../static/images/{{ member.picture }}.jpg" class="img-responsive" alt="{{ member.nick_name }}" style="width:3em">
                </td>
                <td>{{ member.nick_name }}</td>
                <td>{{ member.passportname }}</td>
                <td>{{ member.studentid }}</td>
                <td><form action="{{ url_for('.adjustmember_submit', club_info=club_info) }}"><input type="submit" class="btn btn-danger" name="expel" value="{{ member.id }}">Expel</button>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endwith %}
{% endblock %}