<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="renderer" content="webkit">
	<link href="{{ url_for('static', filename='cdn/cdnjs/bootstrap/3.3.6/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all">
	<script src="{{ url_for('static', filename='cdn/cdnjs/jquery/2.2.2/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='cdn/cdnjs/bootstrap/3.3.6/js/bootstrap.min.js') }}"></script>
	<link href="{{ url_for('static', filename='css/oclubs.min.css') }}" rel="stylesheet" type="text/css" media="all">
	<script src="{{ url_for('static', filename='js/oclubs.min.js') }}"></script>
	<title>{% block title %}{% endblock %} - oClubs!</title>
</head>

<body>
<div id="sidenav">
	<a id="closebtn">&times;</a>
	<a href="{{ url_for('homepage') }}" class="{% if is_home %}active{% endif %}">Home</a>
	<a href="{{ url_for('clubblueprint.clublist', club_type='all') }}" class="{% if is_list %}active{% endif %}">Club List</a>
	<a href="{{ url_for('actblueprint.allactivities', club_type='all', page='1') }}" class="{% if is_allact %}active{% endif %}">Activities</a>
	<a href="{{ url_for('actblueprint.allphotos', page='1') }}" class="{% if is_photos %}active{% endif %}">Photos</a>
	<a href="{{ url_for('about') }}" class="{% if is_about %}active{% endif %}">About</a>
</div>
<div id="emptyclose"></div>
<span class="glyphicon glyphicon-list" id="floatmenu"></span>

<div class="header">
	<div class="container">
		<div class="logo">
			<a href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" class="img-responsive" alt=""></a>
		</div>
		<div class="top-nav">
			<ul>
				<li class="sweep {% if is_home %}active{% endif %}"><a href="{{ url_for('homepage') }}">Home</a></li>
				<li class="sweep {% if is_list %}active{% endif %}"><a href="{{ url_for('clubblueprint.clublist', club_type='all') }}">Club List</a></li>
				<li class="sweep {% if is_allact %}active{% endif %}"><a href="{{ url_for('actblueprint.allactivities', club_type='all', page='1') }}">Activities</a></li>
				<li class="sweep {% if is_photos %}active{% endif %}"><a href="{{ url_for('actblueprint.allphotos', page='1') }}">Photos</a></li>
				<li class="sweep {% if is_about %}active{% endif %}"><a href="{{ url_for('about') }}">About</a></li>
			</ul>
		</div>
		<div class="search">
			<form action="{{ url_for('search') }}" method="get">
				<input type="hidden" name="search_type" value="club">
				<input type="hidden" name="page" value="1">
				<input type="text" name="keywords" placeholder="Search">
				<span class="glyphicon glyphicon-search"><input type="submit" value=""></span>
			</form>
		</div>

		<div class="login">
			{% if current_user.is_authenticated %}
			<a href="{{ url_for('userblueprint.personal') }}"><span class="glyphicon glyphicon-user"></span>&nbsp;{{ current_user.nickname }}</a>
			{% else %}
			<a href="{{ url_for('login', next=request.path) }}"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Login</a>
			{% endif %}
		</div>
	</div>
</div>
<div id="content">
{% block content %}{% endblock %}
</div>
<div class="clearfix"></div>

<div class="footer">
	<div class="container text-center">
		<div class="col-md-4 soci">
			<h3>Join Clubs</h3>
			<p><a href="{{ url_for('clubblueprint.clublist', club_type='all') }}">Click Here</a></p>
			<div class="clearfix"></div>
			<h3>Contact Creators</h3>
			<p><a href="{{ url_for('contactcreators') }}">Click Here</a></p>
		</div>
		<div class="col-md-4 footer-left">
			<h3>Notes</h3>
			<p>This is a student-made website. We are always welcoming advice about improving this website. Feel free to contact us (or like us) and check our school, SHSID.</p>
		</div>
		<div class="col-md-4 footer-left">
			<h3>Check Creators' Info</h3>
			<p><a href="{{ url_for('creators') }}">Click Here</a></p>
			<div class="clearfix"> </div>
			<h3>Contact Administrator</h3>
			<p><a href="{{ url_for('contactadmin') }}">Click Here</a></p>
		</div>
	</div>
</div>
</body>
</html>
