{% extends "base.html" %}
{% block content %}

<!-- Below Navbar -->
<div class="large_container">
    <!-- Side Menu -->
    <div class="col-sm-2" style="padding-left:30px">
        <div class="list-group" style="margin-top:50px">
            <li class="list-group-item active">Achievement</li>
            <a href="#" class="list-group-item selected">All Clubs</a>
            <a href="#" class="list-group-item">Excellent Clubs</a>
        </div>
        <div class="list-group">
            <li class="list-group-item active">Club Types</li>
            <a href="{{ url_for('.clublist', type='') }}" class="list-group-item {% if type=='' %}selected{% endif %}">All</a>
            <a href="{{ url_for('.clublist', type='academics') }}" class="list-group-item {% if type=='academics' %}selected{% endif %}">Academics</a>
            <a href="{{ url_for('.clublist', type='sports') }}" class="list-group-item {% if type=='sports' %}selected{% endif %}">Sports</a>
            <a href="{{ url_for('.clublist', type='arts') }}" class="list-group-item {% if type=='arts' %}selected{% endif %}">The Arts</a>
            <a href="{{ url_for('.clublist', type='services') }}" class="list-group-item {% if type=='services' %}selected{% endif %}">Services</a>
            <a href="{{ url_for('.clublist', type='entertainment') }}" class="list-group-item {% if type=='entertainment' %}selected{% endif %}">Entertainment</a>
            <a href="{{ url_for('.clublist', type='others') }}" class="list-group-item {% if type=='others' %}selected{% endif %}">Others</a>
            <a href="{{ url_for('.clublist', type='school_teams') }}" class="list-group-item {% if type=='school_teams' %}selected{% endif %}">School Teams</a>
        </div>
    </div>

    <!-- Main Content -->
    <div class="col-sm-10" style="padding-right:50px">
        <h1 class="title">All Clubs</h1>
        <div class="smallBlock">
            {% for club in clubs %}
            <a href="/club/{{ club.id }}_{{ club.name }}">
                <img src="../static/images/{{ club.picture }}.jpg" class="img-responsive" alt="{{ club.picture }}">
                <p style="font-size:150%">{{ club.name }}</p>
                <p>{{ club.intro }}</p>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}