{% extends "base.html" %}
{% block content %}
{% with messages_join = get_flashed_messages(category_filter=["join"]) %}

<!-- Below Navbar -->
<div class="large_container">
    <!-- Side Menu -->
	<div class="col-sm-2" style="padding-left:30px">
        <div class="list-group">
            <li class="list-group-item active">Club Types</li>
            <a href="#" class="list-group-item">Academics</a>
            <a href="#" class="list-group-item">Sports</a>
            <a href="#" class="list-group-item">The Arts</a>
            <a href="#" class="list-group-item">Services</a>
            <a href="#" class="list-group-item">Others</a>
            <a href="#" class="list-group-item">School Teams</a>
        </div>
        <div class="list-group">
            <li class="list-group-item active">This Club's</li>
            <a href="#" class="list-group-item">Activities</a>
            <a href="#" class="list-group-item">Photos</a>
        </div>
    </div>
    <!-- Main Content -->
    <div class="col-sm-10" style="padding-right:50px">
        <div class="container">
            <div class="jumbotron" style="background-color:#3366ff;color:#e6e6e6">
                <h1 class="title">{{ club }}</h1>
                <p>{{ intro }}</p>
            </div>
            <p class="text-right" style="color:#f2f2f2">Written by: {{ leader }}</p>
            <center><img src="../static/images/{{ picture }}.jpg" class="img-thumbnail" alt="Club Picture"></center>
            <br><br>
            <p style="color:#f2f2f2; font-size:150%">{{ desc }}</p>
        </div>
        <div class="container">
            <div class="intro_function">
                {% if messages_join %}
                <ul class="list-group">
                    {% for message in messages_join %}
                    <li class="list-group-item">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <form class="form-group col-sm-3" action="{{ url_for('clubactivities', club_info=club_info) }}">
                    <input class="form-control" type="submit" value="Activities">
                </form>
                <form class="form-group col-sm-3" action="{{ url_for('clubphoto', club_info=club_info) }}">
                    <input class="form-control" type="submit" value="Photos">
                </form>
                <form class="form-group col-sm-3" action="{{ url_for('clubintro_submit', club_info=club_info) }}">
                    <input class="form-control" type="submit" value="Join">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

{% endblock %}