{% extends "base.html" %}
{% block content %}

<!-- Below Navbar -->
<div class="container">
	<h1 class="title">{{ club }}</h1>
	<div class="col-sm-3 function_block clickable" data-href="{{ url_for('.memberinfo', club_info=club_info) }}" style="cursor:pointer">
		<img src="../static/images/club1.jpg" class="img-responsive img-thumbnail" alt="Club1">
		<div style="background-color:rgba(77, 77, 77, 0.5)">
			<p>Check Members' Info</p>
		</div>
	</div>
	<div class="col-sm-3 function_block clickable" data-href="{{ url_for('actblueprint.clubactivities', club_info=club_info) }}" style="cursor:pointer">
		<img src="../static/images/club2.jpg" class="img-responsive img-thumbnail" alt="Club2">
		<div style="background-color:rgba(0, 153, 153, 0.5)">
			<p>Input Attendance</p>
		</div>
	</div>
	<div class="col-sm-3 function_block clickable" data-href="{{ url_for('actblueprint.clubactivities', club_info=club_info) }}" style="cursor:pointer">
		<img src="../static/images/club3.jpg" class="img-responsive img-thumbnail" alt="Club3">
		<div style="background-color:rgba(153, 0, 61, 0.5)">
			<p>Check Attendance</p>
		</div>
	</div>
	<div class="clearfix"></div>
	
	<div class="container" style="margin:0 12.5% 0 12.5%">
		<div class="col-sm-4 function_block clickable" data-href="{{ url_for('.changeclubinfo', club_info=club_info) }}" style="cursor:pointer">
			<img src="../static/images/club4.jpg" class="img-responsive img-thumbnail" alt="Club4">
			<div style="background-color:rgba(38, 153, 0, 0.5)">
				<p>Change Club Info</p>
			</div>
		</div>
		<div class="col-sm-4 function_block clickable" data-href="{{ url_for('actblueprint.newhm', club_info=club_info) }}" style="cursor:pointer">
			<img src="../static/images/club5.jpg" class="img-responsive img-thumbnail" alt="Club5">
			<div style="background-color:rgba(0, 0, 153, 0.5)">
				<p>Input HongMei Schedule</p>
			</div>
		</div>
		<div class="col-sm-4 function_block clickable" data-href="{{ url_for('actblueprint.hongmei', club_info=club_info) }}" style="cursor:pointer">
			<img src="../static/images/club6.jpg" class="img-responsive img-thumbnail" alt="Club6">
			<div style="background-color:rgba(115, 77, 38, 0.5)">
				<p>See HongMei Status</p>
			</div>
		</div>
	</div>

	<div class="col-sm-3"></div>
	<div class="col-sm-3 function_block clickable" data-href="#adjust" data-toggle="modal" data-target="#adjust" style="cursor:pointer">
		<img src="../static/images/club7.jpg" class="img-responsive img-thumbnail" alt="Club7">
		<div style="background-color:rgba(102, 0, 153, 0.5)">
			<p>Adjust Leader/Members</p>
		</div>
	</div>
	<div class="col-sm-3 function_block clickable" data-href="{{ url_for('actblueprint.newact', club_info=club_info) }}" style="cursor:pointer">
		<img src="../static/images/club8.jpg" class="img-responsive img-thumbnail" alt="Club8">
		<div style="background-color:rgba(77, 0, 153, 0.5)">
			<p>Host New Activity</p>
		</div>
	</div>
	<div class="col-sm-3 function_block clickable" data-href="{{ url_for('actblueprint.clubactivities', club_info=club_info) }}" style="cursor:pointer">
		<img src="../static/images/club9.jpg" class="img-responsive img-thumbnail" alt="Club9">
		<div style="background-color:rgba(77, 0, 153, 0.5)">
			<p>Check Hosted Activites</p>
		</div>
	</div>
</div>

<div class="modal fade" id="adjust">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Select Whether to Adjust Leader/Members</h4>
			</div>
			<div class="modal-body">
				<div class="col-sm-6">
					<a href="{{ url_for('.newleader', club_info=club_info) }}">
						<button class="btn btn-danger large_button">Select New Leader</button>
					</a>
				</div>
				<div class="col-sm-6">
					<a href="{{ url_for('.adjustmember', club_info=club_info) }}">
						<button class="btn btn-warning large_button">Adjust Club Members</button>
					</a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}