{% extends "base.html" %}
{% block content %}

<!-- Below Navbar -->
<div class="large_container">
	<h1 class="text-center title">Photos of {{ club.name }}</h1>
	{% if acts %}
	{% for act in acts %}
	<div class="photo clickable bright" data-href="#">
		<img src="{{ act.image1 }}" class="img-responsive" alt="{{ act.actname1 }}">
		<h2>{{ act.actname1 }}</h2>
	</div>
	<div class="photo clickable dark" data-href="#" style="cursor:pointer">
		<img src="{{ act.image2 }}" class="img-responsive" alt="{{ act.actname2 }}">
		<h2>{{ act.actname2 }}</h2>
	</div>
	{% endfor %}
	{% else %}
	<p class="text-center" style="font-size:125%; color:#f2f2f2">{{ club.name }} does not have any activity with photos yet.</p>
	{% endif %}
	<br>
	<center><ul class="pagination">
		<li {% if page_num == 1 %} class="disabled"><span>&laquo;</span>{% else %}><a href="{{ url_for('actblueprint.allactivities', club_type=club_type, page_num=page_num - 1) }}">&laquo;</a>{% endif %}</li>
		{% for item in range(1, max_page_num + 1) %}
		<li {% if item == page_num %} class="active"{% endif %}><a href="{{ url_for('actblueprint.allactivities', club_type=club_type, page_num=item) }}">{{ item }}</a></li>
		{% endfor %}
		<li {% if page_num == max_page_num or page_num == 1 %} class="disabled"><span>&raquo;</span>{% else %}><a href="{{ url_for('actblueprint.allactivities', club_type=club_type, page_num=page_num + 1) }}">&raquo;</a>{% endif %}</li>
	</ul></center>
</div>

{% endblock %}
