{% extends "base.html" %}
{% block content %}

<!-- Below Navbar -->
<div class="container error">
{% if is_internal_server_error %}
	<h1 class="title text-center">500 Internal Server Error</h1>
	<center><img src="{{ getpicture('smiley_face') }}" class="img-responsive img-thumbnail" alt="Sad face" width="40%"></center>
	<br><br>
	<p>Oops. This is an awkward moment. Please contact us and tell us about what you have done so far. We will respond as soon as possible. Please click advice/opinion at the bottom of this page to contact us. Thank you for your coorperation.</p>
{% endif %}
{% if is_page_not_found %}
	<h1 class="title text-center">404 Page Not Found</h1>
	<center><img src="{{ getpicture('norecord') }}" class="img-responsive img-thumbnail" alt="No Record" width="40%"></center>
	<br><br>
	<p>We are sorry to tell you. We do not have record for the address you entered. Please recheck if you entered correctly. Thank you for your cooperation.</p>
{% endif %}
{% if is_forbidden %}
	<h1 class="title text-center">403 Forbidden</h1>
	<center><img src="{{ getpicture('noaccess') }}" class="img-responsive img-thumbnail" alt="No Access" width="40%"></center>
	<br><br>
	<p>We are sorry to tell you. You have no access to the url you entered. Please login to check if you really have the access. If you are already logged in, then it is certain that you have no access.</p>
{% endif %}
{% if is_unauthorized %}
	<h1 class="title text-center">401 Unauthorized</h1>
	<center><img src="{{ getpicture('notloggedin') }}" class="img-responsive img-thumbnail" alt="Not Logged In" width="40%"></center>
	<br><br>
	<p>We are sorry to tell you. You are not logged in. Please login to check if you have the access to the url you entered.</p>
{% endif %}
</div>

{% endblock %}