{% extends "base.html" %}
{% block content %}

<!-- Below Navbar -->
<div class="container">
	<h1 class="title text-center">Retrieve Password</h1>
	<center><img src="../static/images/how_dare_you.jpg" class="img-responsive img-thumbnail" alt="How dare you!?"></center>
	<br>
	<div class="form-group" style="color:#f2f2f2">
		<p class="text-center" style="font-size:125%">Just kidding, but please keep your password safely.</p>
		<p class="text-center" style="font-size:125%">Please fill out the information below so that we can confirm your identity.</p>
		<br>
		<label for="name">Your Passport Name:</label>
		<input type="text" class="form-control" id="name">
		<br>
		<label for="student_id">Your Student ID:</label>
		<input type="text" class="form-control" id="student_id">
		<br>
		<label for="email">Your Email Address:</label>
		<input type="email" class="form-control" id="email">
		<br>
		<label for="confession">Confession:</label>
		<textarea class="form-control" rows="10" id="confession"></textarea>
		<label for="confession" style="font-size:10%">This is optional of course...</label>
		<br>
		<p class="text-center" style="font-size:125%">Once we confirm your identity, we will send your password along with your student ID to your email address.</p>
		<center><input type="submit" class="btn btn-info large_button" value="Confirm"></center>
	</div>
</div>

{% endblock %}
