{% extends "base.html" %}
{% block content %}

<!-- Below Navbar -->
<div class="container">
    <h1 class="title">Register for HongMei Activities</h1>
    <h2 class="title_next">{{ club }}</h2>
    <input type="date" class="form-control" id="date" style="width:50%">
    <br>
    <p style="color:#f2f2f2; font-size:125%">Please select those who attended the meeting</p>
    <div class="checkbox_block">
        {% for member in members %}
        <label for="{{ member.official_name }}">
            <div class="col-sm-3" style="padding:0 5px 0 5px">
                <img src="../static/images/{{ member.photo }}.jpg" class="img-responsive" alt="{{ member.nick_name }}">
            </div>
            <div class="col-sm-7">
                <p style="font-size:150%">{{ member.nick_name }}</p>
                <p>{{ member.official_name }}</p>
            </div>
            <div class="col-sm-2">
                <input type="checkbox" value="{{ member.official_name }}"" id="{{ member.official_name }}">
            </div>
        </label>
        {% endfor %}
    </div>
    <br>
    <center><button class="btn btn-info" type="submit" style="width:20%;padding: 3% 0 3% 0; font-size:200%">Submit</button>
</div>

{% endblock %}