{% macro render_pagination(pagination) %}
{% if pagination.pages > 1 %}
<ul class="pagination">
	{% if pagination.has_prev %}
	<li>
		<a href="{{ url_for_other_page(pagination.page - 1)  }}">&laquo;</a>
	</li>
	{% endif %}
	{%- for page in pagination.iter_pages() %}
	{% if page['num'] %}
	{% if page['num'] != pagination.page %}
	<li>
		<a {% if page['hide'] %}class="page-hide-{{ page['hide'] }}"{% endif %} href="{{ url_for_other_page(page['num']) }}">{{ page['num'] }}</a>
	</li>
	{% else %}
	<li>
		<a><strong>{{ page['num'] }}</strong></a>
	</li>
	{% endif %}
	{% else %}
	<li class="ellipsis">
		<a>…</a>
	</li>
	{% endif %}
	{%- endfor %}
	{% if pagination.has_next %}
	<li>
		<a href="{{ url_for_other_page(pagination.page + 1)  }}">&raquo;</a>
	</li>
	{% endif %}
</div>
{% endif %}
{% endmacro %}

{% macro get_messages(categories, br_before=False, br_after=False) %}
{% with messages = get_flashed_messages(category_filter=categories) %}
{% if messages %}
{% if br_before %}<br>{% endif %}
	{% for message in messages %}
	{{ message }}
	{% endfor %}
{% if br_after %}<br>{% endif %}
{% endif %}
{% endwith %}
{% endmacro %}

{% macro search_bar(search_value, placeholder_text) %}
<div class="form-group" id="search_bar_beside_title">
	<form class="" action="{{ url_for('search') }}" method="get">
		<input type="hidden" name="search_type" value="{{ search_value }}">
		<input type="hidden" name="page" value="1">
		<div class="input-group">
			<input type="text" name="keywords" placeholder="{{ placeholder_text }}" class="form-control search_textbox">
			<span class="input-group-btn">
				<button class="btn btn-default" id="search_btn" type="submit"><span class="glyphicon glyphicon-search"></span></button>
			</span>
		</div>
	</form>
</div>
{% endmacro %}
