{% extends "base.html" %}
{% block content %}

<!-- Below Navbar -->
<div class="container">
    <h1 class="title">Member Info</h1>
    <h2 class="title_next">{{ club }}</h2>
    <table class="table table-hover table-bordered" style="font-size:150%">
        <thead class="list">
            <tr style="background-color:#bfbfbf">
                <th style="width:25%">Nick Name</th>
                <th style="width:25%">Student ID</th>
                <th style="width:25%">Passport Name</th>
                <th style="width:25%">Email Address</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
            <tr class="act">
                <td>{{ member.nickname }}</td>
                <td>{{ member.studentid }}</td>
                <td>{{ member.passportname }}</td>
                <td>{{ member.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <center><a href="{{ url_for('.memberinfo_download', club_info=club_info) }}" target="_blank">
        <button class="btn btn-success" style="padding: 3%; font-size:200%">Download as Excel Document</button>
    </a></center>
</div>

{% endblock %}