{% extends "base.html" %}
{% block content %}

<!-- Below Navbar -->
<div class="large_container">
	<h1 class="text-center title">All Photos</h1>
	{% if lucky_act %}
	<div class="jumbotron">
		<img src="{{ lucky_act.pictures[0] }}" class="img-responsive img-thumbnail" alt="Image" style="float:left;width:22vw;margin-left:5%;margin-right:5%">
		<h1>{{ lucky_act.club }}</h1>
		<h1>{{ lucky_act.name }}</h1>
		<h3>Lucky Pick! - The activity is chosen randomly.</h3>
		<h3>Feel free to click it to check the activity.</h3>
		<h3>Below are other fantastic photos from clubs with random order.</h3>
	</div>
	<br>
	{% endif %}
	<div class="clearfix"></div>
	{% for act in acts %}
	<div class="photo clickable bright" data-href="#" style="cursor:pointer">
		<img src="{{ act.image1 }}" class="img-responsive" alt="{{ act.actname1 }}">
		<h4>{{ act.actname1 }}</h4>
		<p>{{ act.club1 }}</p>
	</div>
	<div class="photo clickable dark" data-href="#" style="cursor:pointer">
		<img src="{{ act.image2 }}" class="img-responsive" alt="{{ act.actname2 }}">
		<h4>{{ act.actname2 }}</h4>
		<p>{{ act.club2 }}</p>
	</div>
	{% endfor %}
	<br>
	<center><ul class="pagination">
		<li {% if page_num == 1 %}class="disabled"><span>&laquo;</span>{% else %}><a href="{{ url_for('actblueprint.allactivities', club_type=club_type, page_num=page_num - 1) }}">&laquo;</a>{% endif %}</li>
		{% for item in range(1, max_page_num + 1) %}
		<li {% if item == page_num %}class="active"{% endif %}><a href="{{ url_for('actblueprint.allactivities', club_type=club_type, page_num=item) }}">{{ item }}</a></li>
		{% endfor %}
		<li {% if page_num == max_page_num %}class="disabled"><span>&raquo;</span>{% else %}><a href="{{ url_for('actblueprint.allactivities', club_type=club_type, page_num=page_num + 1) }}">&raquo;</a>{% endif %}</li>
	</ul></center>
</div>

{% endblock %}
