{% extends "base.html" %}
{% block content %}
{% with quit_messages = get_flashed_messages(category_filter=["quit"]) %}


<!-- Below Navbar -->
<div class="container">
    <div class="col-sm-3">
        <img src="../static/images/areyousure1.jpg" class="img-responsive img-thumbnail" alt="Are you sure?">
    </div>
    <div class="col-sm-6">
    	<form class="form-group" id="quit_club" action="{{ url_for('quitclub_submit') }}" style="margin-left:auto; margin-right:auto; color:#f2f2f2">
            <h1>Quitting Club</h1>
            <p style="font-style:italic; font-size:150%">If you really want to quit a club, then please select the club and state your reason. You request for quitting will be emailed to the club leader</p>
            <br>
            {% if status_info %}
            <ul class="list-group">
                {% for message in quit_messages %}
                <li class="list-group-item">{{ message }}</li>
                {% endfor %}
            </ul>
            <br>
            {% endif %}
    		<label for="clubs">The club:</label>
        	<select id="clubs" name="clubs" type="dropdown" style="color:black">
                {% for club in clubs %}
                <option value="{{ club.id }}">{{ club.name }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="reason">Reason:</label>
        	<textarea class="form-control" rows="10" id="reason"></textarea>
            <br>
            <button class="btn btn-primary" data-toggle="modal" data-target="#confirmation" id="updatequit">Submit</button>
        </form>
    </div>
    <div class="col-sm-3">
        <img src="../static/images/areyousure2.jpg" class="img-responsive img-thumbnail" alt="Are you sure?">
    </div>
</div>

<div class="clearfix"></div>
<br><br><br><br><br>

<div id="confirmation" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type='button' class='btn btn-default' data-dismiss='modal'>No!</button>
                <input type='submit' form='quit_club' class='btn btn-primary' value='Confirm'>
            </div>
        </div>
    </div>
</div>

{% endblock %}