@font-face {
  font-weight: 100;
  font-style: italic;
  font-family: Montserrat;
  src: local("Montserrat Thin Italic"), local(Montserrat-ThinItalic), url(/static/cdn/fonts/s/montserrat/v12/JTUOjIg1_i6t8kCHKm459WxZqh7k29c.eot) format("eot"), url(/static/cdn/fonts/s/montserrat/v12/JTUOjIg1_i6t8kCHKm459WxZqh7k29M.woff2) format("woff2"), url(/static/cdn/fonts/s/montserrat/v12/JTUOjIg1_i6t8kCHKm459WxZqh7k29U.woff) format("woff");
}

@font-face {
  font-weight: 200;
  font-style: italic;
  font-family: Montserrat;
  src: local("Montserrat ExtraLight Italic"), local(Montserrat-ExtraLightItalic), url(/static/cdn/fonts/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZBg_z_PZ0.eot) format("eot"), url(/static/cdn/fonts/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZBg_z_PZw.woff2) format("woff2"), url(/static/cdn/fonts/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZBg_z_PZ2.woff) format("woff");
}

@font-face {
  font-weight: 300;
  font-style: italic;
  font-family: Montserrat;
  src: local("Montserrat Light Italic"), local(Montserrat-LightItalic), url(/static/cdn/fonts/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZYgzz_PZ0.eot) format("eot"), url(/static/cdn/fonts/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZYgzz_PZw.woff2) format("woff2"), url(/static/cdn/fonts/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZYgzz_PZ2.woff) format("woff");
}

@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: Montserrat;
  src: local("Montserrat Italic"), local(Montserrat-Italic), url(/static/cdn/fonts/s/montserrat/v12/JTUQjIg1_i6t8kCHKm459WxRyS7i.eot) format("eot"), url(/static/cdn/fonts/s/montserrat/v12/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format("woff2"), url(/static/cdn/fonts/s/montserrat/v12/JTUQjIg1_i6t8kCHKm459WxRyS7g.woff) format("woff");
}

@font-face {
  font-weight: 500;
  font-style: italic;
  font-family: Montserrat;
  src: local("Montserrat Medium Italic"), local(Montserrat-MediumItalic), url(/static/cdn/fonts/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZOg3z_PZ0.eot) format("eot"), url(/static/cdn/fonts/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZOg3z_PZw.woff2) format("woff2"), url(/static/cdn/fonts/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZOg3z_PZ2.woff) format("woff");
}

@font-face {
  font-weight: 600;
  font-style: italic;
  font-family: Montserrat;
  src: local("Montserrat SemiBold Italic"), local(Montserrat-SemiBoldItalic), url(/static/cdn/fonts/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZFgrz_PZ0.eot) format("eot"), url(/static/cdn/fonts/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZFgrz_PZw.woff2) format("woff2"), url(/static/cdn/fonts/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZFgrz_PZ2.woff) format("woff");
}

@font-face {
  font-weight: 700;
  font-style: italic;
  font-family: Montserrat;
  src: local("Montserrat Bold Italic"), local(Montserrat-BoldItalic), url(/static/cdn/fonts/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZcgvz_PZ0.eot) format("eot"), url(/static/cdn/fonts/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZcgvz_PZw.woff2) format("woff2"), url(/static/cdn/fonts/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZcgvz_PZ2.woff) format("woff");
}

@font-face {
  font-weight: 800;
  font-style: italic;
  font-family: Montserrat;
  src: local("Montserrat ExtraBold Italic"), local(Montserrat-ExtraBoldItalic), url(/static/cdn/fonts/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZbgjz_PZ0.eot) format("eot"), url(/static/cdn/fonts/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZbgjz_PZw.woff2) format("woff2"), url(/static/cdn/fonts/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZbgjz_PZ2.woff) format("woff");
}

@font-face {
  font-weight: 900;
  font-style: italic;
  font-family: Montserrat;
  src: local("Montserrat Black Italic"), local(Montserrat-BlackItalic), url(/static/cdn/fonts/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZSgnz_PZ0.eot) format("eot"), url(/static/cdn/fonts/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZSgnz_PZw.woff2) format("woff2"), url(/static/cdn/fonts/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZSgnz_PZ2.woff) format("woff");
}

@font-face {
  font-weight: 100;
  font-style: normal;
  font-family: Montserrat;
  src: local("Montserrat Thin"), local(Montserrat-Thin), url(/static/cdn/fonts/s/montserrat/v12/JTUQjIg1_i6t8kCHKm45_QpRyS7i.eot) format("eot"), url(/static/cdn/fonts/s/montserrat/v12/JTUQjIg1_i6t8kCHKm45_QpRyS7m.woff2) format("woff2"), url(/static/cdn/fonts/s/montserrat/v12/JTUQjIg1_i6t8kCHKm45_QpRyS7g.woff) format("woff");
}

@font-face {
  font-weight: 200;
  font-style: normal;
  font-family: Montserrat;
  src: local("Montserrat ExtraLight"), local(Montserrat-ExtraLight), url(/static/cdn/fonts/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_aZA3gnD-g.eot) format("eot"), url(/static/cdn/fonts/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_aZA3gnD_g.woff2) format("woff2"), url(/static/cdn/fonts/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_aZA3gnD-A.woff) format("woff");
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: Montserrat;
  src: local("Montserrat Light"), local(Montserrat-Light), url(/static/cdn/fonts/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_cJD3gnD-g.eot) format("eot"), url(/static/cdn/fonts/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_cJD3gnD_g.woff2) format("woff2"), url(/static/cdn/fonts/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_cJD3gnD-A.woff) format("woff");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: Montserrat;
  src: local("Montserrat Regular"), local(Montserrat-Regular), url(/static/cdn/fonts/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhzw.eot) format("eot"), url(/static/cdn/fonts/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2"), url(/static/cdn/fonts/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WlhzQ.woff) format("woff");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: Montserrat;
  src: local("Montserrat Medium"), local(Montserrat-Medium), url(/static/cdn/fonts/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gnD-g.eot) format("eot"), url(/static/cdn/fonts/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2) format("woff2"), url(/static/cdn/fonts/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gnD-A.woff) format("woff");
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: Montserrat;
  src: local("Montserrat SemiBold"), local(Montserrat-SemiBold), url(/static/cdn/fonts/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_bZF3gnD-g.eot) format("eot"), url(/static/cdn/fonts/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2) format("woff2"), url(/static/cdn/fonts/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_bZF3gnD-A.woff) format("woff");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: Montserrat;
  src: local("Montserrat Bold"), local(Montserrat-Bold), url(/static/cdn/fonts/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD-g.eot) format("eot"), url(/static/cdn/fonts/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format("woff2"), url(/static/cdn/fonts/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD-A.woff) format("woff");
}

@font-face {
  font-weight: 800;
  font-style: normal;
  font-family: Montserrat;
  src: local("Montserrat ExtraBold"), local(Montserrat-ExtraBold), url(/static/cdn/fonts/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_c5H3gnD-g.eot) format("eot"), url(/static/cdn/fonts/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2) format("woff2"), url(/static/cdn/fonts/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_c5H3gnD-A.woff) format("woff");
}

@font-face {
  font-weight: 900;
  font-style: normal;
  font-family: Montserrat;
  src: local("Montserrat Black"), local(Montserrat-Black), url(/static/cdn/fonts/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_epG3gnD-g.eot) format("eot"), url(/static/cdn/fonts/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_epG3gnD_g.woff2) format("woff2"), url(/static/cdn/fonts/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_epG3gnD-A.woff) format("woff");
}

.preload * {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.preload :before {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.preload :after {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.hidden * {
  display: none !important;
}

.hidden :before {
  display: none !important;
}

.hidden :after {
  display: none !important;
}

body {
  font-family: Montserrat;
}

body * {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

#backgroundimg {
  display: none;
}

#home_body {
  background-attachment: fixed;
  background-position: 60% -100px;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

#home_body .container {
  min-height: 0;
}

#home_body #scroll_to_top_btn {
  border-color: #ccc;
  background-color: #fff;
  color: #333;
}

#home_body .footer {
  margin-top: 0;
}

#home_body .panel {
  border: 1px solid transparent;
  background-color: #fff;
}

#home_body .panel-default {
  border-color: #ddd;
}

#home_body .img-thumbnail {
  border-color: #e7e7e7;
  background-color: #fff;
}

#home_body .separator {
  border-top-color: #e7e7e7;
}

@media (max-width: 1024px) {
  #home_body {
    background-position: 50% -80px;
    -webkit-background-size: 150% auto;
    background-size: 150% auto;
  }
}

@media (max-width: 768px) {
  #home_body {
    background-position: 50% -100px;
    -webkit-background-size: 200% auto;
    background-size: 200% auto;
  }
}

@media (max-width: 580px) {
  #home_body {
    background-position: 50% -100px;
    -webkit-background-size: 250% auto;
    background-size: 250% auto;
  }
}

@media (max-width: 450px) {
  #home_body {
    background-position: 50% -60px;
    -webkit-background-size: 300% auto;
    background-size: 300% auto;
  }
}

#homepage_block {
  position: relative;
  top: 25%;
  left: 0;
  color: #333;
}

#homepage_block .home_main_tag {
  font-size: 38px;
}

#homepage_block .home_sub_tag {
  margin-bottom: 40px;
  margin-left: 2px;
  font-weight: 400;
}

#homepage_block button {
  margin-left: 2px;
}

#home_navbar a {
  color: #333;
}

#home_navbar a:focus,
#home_navbar a:hover {
  color: #333 !important;
}

#home_navbar .icon-bar {
  background-color: #333;
}

#homepage_logo {
  width: 250px;
  height: auto;
}

.btn_orange {
  padding: 8px 25px;
  border-radius: 5px;
  font-size: 15px;
}

.btn_orange,
.btn_orange:focus,
.btn_orange:hover {
  background-color: #ffac3a;
  color: #f8f8f8;
}

.homepage_band {
  position: relative;
  padding: 20px;
  background-color: #fff;
  color: #333;
}

body,
html {
  height: 100%;
}

.container {
  min-height: 120%;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 50px;
  padding-top: 40px;
  width: 100%;
  height: auto;
}

.footer:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-top: 8px solid #337ab7;
  content: " ";
}

#footer_logo img {
  margin-top: 10px;
  margin-bottom: 16px;
  width: 40%;
  height: auto;
}

body.day-mode {
  background-color: #fff;
  color: #333;
}

body.day-mode .footer,
body.day-mode code {
  background-color: #f8f8f8;
  color: #333;
}

body.day-mode .navbar-default {
  background-color: #f8f8f8;
}

body.day-mode .navbar-default #notifications_button_link {
  color: #777;
}

body.day-mode .navbar-default .navbar-nav > .active > a {
  background-color: #f8f8f8;
  color: #337ab7;
}

body.day-mode #search_bar_beside_title:hover input {
  border-color: #337ab7;
  -webkit-transition: border-color .1s ease-in;
  -o-transition: border-color .1s ease-in;
  transition: border-color .1s ease-in;
}

body.day-mode #search_bar_beside_title:hover button {
  border-color: #337ab7;
  background-color: #337ab7;
  color: #f8f8f8;
  -webkit-transition: border-color .3s ease-in;
  -o-transition: border-color .3s ease-in;
  transition: border-color .3s ease-in;
  -webkit-transition: background-color .3s ease-in;
  -o-transition: background-color .3s ease-in;
  transition: background-color .3s ease-in;
  -webkit-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
  transition: color .2s ease-in;
}

body.day-mode .clickable-a {
  color: #333;
}

body.day-mode .title_link {
  color: inherit;
}

body.day-mode .plaintext_link {
  color: #333;
}

body.day-mode .loader-ellips__dot {
  color: #777;
}

body.day-mode .jumbotron {
  background-color: #fff;
}

body.day-mode .pagination > li > a {
  color: #333;
}

body.night-mode {
  background-color: #202020;
  color: #f8f8f8;
}

body.night-mode .footer,
body.night-mode code {
  background-color: #303030;
  color: #f8f8f8;
}

body.night-mode .navbar-default {
  background-color: #303030;
}

body.night-mode .navbar-default #notifications_button_link,
body.night-mode .navbar-default .navbar-nav > li > a {
  color: #f8f8f8;
}

body.night-mode .navbar-default .navbar-nav > .active > a {
  background-color: #303030;
  color: #337ab7;
}

body.night-mode .navbar-default .navbar-default .navbar-toggle:hover,
body.night-mode .navbar-default .navbar-toggle:focus {
  background-color: #303030;
}

body.night-mode .navbar-default .navbar-nav > li > a:hover {
  background-color: #f8f8f8;
  color: #202020;
}

body.night-mode .nav-tabs {
  border-bottom: 1px solid #666;
}

body.night-mode .nav-tabs > li.active > a {
  border: 1px solid;
  border-color: #666;
  border-bottom-color: transparent;
  background-color: #202020;
  color: #f8f8f8;
}

body.night-mode .nav-tabs > li > a:hover {
  border-color: #f8f8f8;
  background-color: #f8f8f8;
  color: #202020;
}

body.night-mode .clickable-a {
  color: #f8f8f8;
}

body.night-mode .title_link {
  color: inherit;
}

body.night-mode .plaintext_link {
  color: #f8f8f8;
}

body.night-mode .separator {
  border-top-color: #666;
}

body.night-mode .loader-ellips__dot {
  color: #777;
}

body.night-mode .jumbotron {
  background-color: #202020;
}

body.night-mode .search_textbox {
  border: 1.5px solid;
  border-color: #303030;
  background-color: #202020;
}

body.night-mode .search_textbox.highlighted {
  border-color: #337ab7;
}

body.night-mode .btn-default {
  border-color: #303030;
  background-color: #303030;
  color: #f8f8f8;
}

body.night-mode #search_bar_beside_title .btn-default {
  border-color: #666;
  background-color: #666;
}

body.night-mode #search_bar_beside_title:hover input {
  border-color: #337ab7;
  -webkit-transition: border-color .1s ease-in;
  -o-transition: border-color .1s ease-in;
  transition: border-color .1s ease-in;
}

body.night-mode #search_bar_beside_title:hover button {
  border-color: #337ab7;
  background-color: #337ab7;
  color: #f8f8f8;
  -webkit-transition: border-color .3s ease-in;
  -o-transition: border-color .3s ease-in;
  transition: border-color .3s ease-in;
  -webkit-transition: background-color .3s ease-in;
  -o-transition: background-color .3s ease-in;
  transition: background-color .3s ease-in;
  -webkit-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
  transition: color .2s ease-in;
}

body.night-mode .img-thumbnail,
body.night-mode .thumbnail {
  border-color: #303030;
  background-color: #303030;
}

body.night-mode .thumbnail .caption,
body.night-mode a.list-group-item {
  color: #f8f8f8;
}

body.night-mode a.list-group-item:hover {
  border-color: #202020;
  background-color: #f8f8f8;
  color: #202020;
}

body.night-mode .list-group-item {
  border-color: #202020;
  background-color: #303030;
}

body.night-mode .list-group-item.active {
  border-color: #202020;
  background-color: #337ab7;
}

body.night-mode .panel,
body.night-mode .well {
  border-color: #303030;
  background-color: #303030;
}

body.night-mode table {
  border-color: #666;
  background-color: #303030;
}

body.night-mode table > thead > tr > td {
  border-bottom-color: #666;
}

body.night-mode table > tbody > tr > td {
  border-top-color: #666;
}

body.night-mode .table-hover > tbody > tr:hover {
  background-color: #666;
}

body.night-mode .table > tbody > tr > td.danger > a,
body.night-mode .table > tbody > tr > td.success > a,
body.night-mode .table > tbody > tr > td.warning > a {
  color: #202020;
}

body.night-mode .list-group .select2-dropdown {
  border-color: #202020;
  background-color: #202020;
}

body.night-mode .list-group .select2-container--default .select2-selection--single {
  border-color: #666;
  background-color: #666;
}

body.night-mode .list-group .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #f8f8f8;
}

body.night-mode .list-group .select2-container--default .select2-selection--multiple {
  border-color: #666;
  background-color: #666;
}

body.night-mode .list-group .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
  border-color: #202020;
  background-color: #202020;
}

body.night-mode .list-group .select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #f8f8f8;
  color: #202020;
}

body.night-mode .select2-dropdown {
  border-color: #666;
  background-color: #666;
}

body.night-mode .select2-container--default .select2-selection--single {
  border-color: #666;
  background-color: #202020;
}

body.night-mode .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #f8f8f8;
}

body.night-mode .select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #f8f8f8;
  color: #666;
}

body.night-mode .form-control {
  border-color: #666;
  background-color: #202020;
  color: #f8f8f8;
}

body.night-mode .form-group .btn-default,
body.night-mode .form-group .panel-default .panel-heading {
  border-color: #666;
  background-color: #666;
  color: #f8f8f8;
}

body.night-mode .form-group .btn-default:hover {
  border-color: #f8f8f8;
  background-color: #f8f8f8;
  color: #202020;
}

body.night-mode .form-group .input-group-addon {
  border-color: #666;
  background-color: #666;
  color: #f8f8f8;
}

body.night-mode .modal .close {
  color: #f8f8f8;
}

body.night-mode .modal-content {
  background-color: #303030;
}

body.night-mode .modal-header {
  border-bottom-color: #666;
  background-color: #303030;
}

body.night-mode .btn-default:hover {
  border-color: #f8f8f8;
  background-color: #f8f8f8;
  color: #202020;
}

body.night-mode .pagination > li > a {
  border-color: #666;
  background-color: #303030;
  color: #f8f8f8;
}

body.night-mode .pagination > li :hover {
  border-color: #f8f8f8;
  background-color: #f8f8f8;
  color: #202020;
}

body.night-mode .popover {
  border: 1px solid #666;
  background-color: #666;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .2);
  box-shadow: 0 0 0 rgba(0, 0, 0, .2);
}

body.night-mode .popover.right .arrow {
  border-right-color: #666;
}

body.night-mode .popover.right .arrow:after {
  border-right-color: #666;
}

body.night-mode .popover-title {
  border-color: #666;
  background-color: #666;
}

body.night-mode .popover-content {
  border-color: #303030;
  background-color: #303030;
}

body.night-mode #scroll_to_top_btn {
  border-color: #202020;
}

.navbar {
  border: 0;
}

.navbar-nav {
  margin: 0;
}

@media (max-width: 768px) {
  .navbar-nav {
    margin-top: 8px;
  }
}

.navbar-nav > li {
  position: relative;
  float: left;
}

.navbar-nav .active a:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 5px solid #337ab7;
  content: " ";
}

.navbar-brand {
  position: absolute;
  margin: auto;
  margin-right: 0;
  padding: 12px 15px;
}

.navbar-brand img {
  max-height: 100%;
}

.jumbotron {
  position: relative;
  right: 15px;
  padding: 0 40px 0 30px !important;
  border-right: 8px solid #337ab7;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

@media (max-width: 991px) {
  .jumbotron {
    right: 0;
    padding: 0;
    border: 0;
  }
}

.badge-notify {
  position: relative;
  top: 4px;
  left: -15px;
  padding: 5px 7px 3px;
  background: #ffac3a;
  font-size: 8pt;
}

#notifications_button {
  margin-right: 7px;
  padding: 14px 10px 7px;
}

@media (max-width: 768px) {
  #notifications_button {
    padding: 8px 10px 5px;
  }
}

.nav-justified {
  border-spacing: 15px 0;
  border-collapse: separate;
}

#scroll_to_top_btn {
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 1;
  display: none;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.day_night_toggle_form {
  margin: 0;
  padding: 0;
  height: 30px;
}

@media (max-width: 768px) {
  .day_night_toggle_form {
    margin-top: -5px;
    margin-right: -10px;
  }
}

.day_night_toggle_wrapper {
  -webkit-transform: scale(.5);
  -ms-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5);
}

.day_night_toggle {
  position: relative;
  display: block;
  width: 90px;
  height: 50px;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #202020;
  cursor: pointer;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.slider:before {
  position: absolute;
  top: 8px;
  bottom: 14px;
  background-color: #ffac3a;
  content: "";
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.day_night_toggle input {
  display: none;
}

input:checked + .slider {
  background-color: #5eaff2;
}

input:checked + .slider:before {
  background: #ffac3a;
  -webkit-transform: translateX(51px) rotate(45deg);
  -ms-transform: translateX(51px) rotate(45deg);
  -o-transform: translateX(51px) rotate(45deg);
  transform: translateX(51px) rotate(45deg);
}

.slider.round {
  border-radius: 35px;
}

.slider.round:before {
  width: 43%;
  height: 43%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}