input[type=file] {
  padding: 5px;
}

input[type=date]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

.form-group label {
  margin-bottom: 0;
  font-weight: 400;
}

.form-group .select2-container {
  width: 100% !important;
}

.form-group ul {
  list-style: none;
}

.input-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  resize: vertical;
}

.select2-container .select2-selection--single {
  height: 34px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
}

.select2-container .select2-selection--single .select2-selection__arrow {
  height: 32px;
}

[hidden] {
  display: none !important;
}

.radio label {
  padding-left: 0;
}

#search_form_group {
  margin: 0;
}

#search_form_group_footer {
  margin: -20px 0 0;
}