{% extends "base.html" %}
{% block title %}Adjust Members{% endblock %}
{% block content %}
{% with expel_messages = get_flashed_messages(category_filter=["expelled"]) %}
{% with invite_messages = get_flashed_messages(category_filter=["invite_member"]) %}

<!-- Below Navbar -->
<div class="container">
	<h1 class="title">Adjust Members</h1>
	<h2 class="title_next">{{ g.club.name }}</h2>
	{% if messages %}
	<ul class="list-group">
		{% for message in messages %}
		<li class="list-group-item">{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	<table class="table table-hover table-bordered" id="memberinfotable">
		<thead class="list">
			<tr style="background-color:#bfbfbf">
				<th style="width:5%">Photo</th>
				<th>Nick Name</th>
				<th>Official Name</th>
				<th>Student ID</th>
				<th>Operation</th>
			</tr>
		</thead>
		<tbody>
			{% for member in g.club.members %}
			{% if member != g.club.leader %}
			<tr class="act" id="{{ member.passportname }}">
				<td>
					<img src="{{ member.picture.location_external }}" class="img-responsive" alt="{{ member.nickname }}" style="width:3em">
				</td>
				<td>{{ member.nickname }}</td>
				<td>{{ member.passportname }}</td>
				<td>{{ member.studentid }}</td>
				<td>
					<form action="{{ url_for('.adjustmember_submit', club=g.club.callsign) }}" method="post">
						<input type="hidden" name="studentid" value="{{ member.id }}">
						<input type="submit" class="btn btn-danger" name="expel" value="Expel" style="font-size:110%">
					</form>
				</td>
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>
	</table>
	{% if invite_member %}
	<center><button class="btn btn-success btn-lg" data-toggle="modal" data-target="#invite_member" id="updatecheck" style="margin-top:20px">Invite New Member</button></center>
	{% endif %}
</div>

<div id="invite_member" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Invite Member</h4>
			</div>
			<div class="modal-body">
				<form action="{{ url_for('.invitemember', club=g.club.callsign) }}" method="post" id="invite_form">
					<label for="studentid">Student ID:</label>
					<input class="form-control" id="studentid" type="text" name="studentid">
					<br>
					<label for="passportname">Passport Name:</label>
					<input class="form-control" id="passportname" type="text" name="passportname">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<input type="submit" class="btn btn-primary" form="invite_form" value="Invite">
			</div>
		</div>
	</div>
</div>

{% endwith %}
{% endwith %}
{% endblock %}