{% extends "base.html.j2" %}

{% block additionalcssjs %}
<link href="{{ url_for('static', filename='css/form.min.css') }}" rel="stylesheet" type="text/css" media="all">
{% endblock %}


{% block title %}Edit Club Info{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1> Edit Club Information <small> - {{ g.club.name }}</small></h1>
		</div>
	</div>

	<hr class="separator" id="separator_title">

	<div class="row">
		<div class="col-md-12">
			<form class="form-group" action="{{ url_for('.changeclubinfo_submit', club=g.club.callsign) }}" method="post" enctype="multipart/form-data">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
				{% if get_flashed_messages(['clubinfo']) %}
				<div class="alert alert-warning">
					<span class="glyphicon glyphicon-warning-sign"></span>
					{% for message in get_flashed_messages(category_filter=['clubinfo']) %}
					{{ message }}
					{% endfor %}
				</div>
				{% endif %}
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">One sentence description</span>
						<input type="text" class="form-control" name="intro" id="intro" value="{{ g.club.intro }}" maxlength="90">
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-md-6">
							<div class="input-group">
								<span class="input-group-addon">Instructor's email</span>
								<input type="email" class="form-control" name="email" id="email" value="{{ g.club.teacher.studentid }}">
							</div>
						</div>

						<!-- /.col-md-6 -->
						<div class="col-md-6">
							<div class="input-group">
								<span class="input-group-addon">Location (general)</span>
								<input type="text" class="form-control" name="location" id="location" value="{{ g.club.location }}">
							</div>
						</div>
						<!-- /.col-md-6 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.form-group -->

				<div class="form-group">
					<div class="input-group">
						<label>Upload club image</label>: &nbsp;&nbsp;
						<label class="btn btn-default btn-sm">
							<span class="glyphicon glyphicon-upload"></span> Upload
							<input type="file" multiple="multiple" name="picture" id="picture" accept="image/*" hidden>
						</label>
						<p id="upload_content"></p>
					</div>
				</div>

				<div class="form-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							Club description
							</div>
							<div class="panel-body">
								<textarea class="form-control" rows="10" name="description" id="description">{{ g.club.description.raw }}</textarea>
								<br>
								<span class="help-block">
									Post content supports &nbsp;<button class="btn btn-default btn-xs btn_stop_default" id="markdownhelp_btn" data-toggle="collapse" data-target="#markdownhelp">markdown <span class="caret"></span></button>&nbsp;.
									Enter a blank line for a new paragraph.
								</span>
								<div class="collapse" id="markdownhelp">
									{% include 'static/markdown-tooltip.html.j2' %}
								</div>
							</div>
						</div>
						<!-- /.panel -->
					</div>

					<div class="form-group">
						<div class="input-group">
							<button class="btn btn-primary" type="submit">Submit</button>
						</div>
					</div>
			</form>
		</div>
		<!-- /.col-md-12 -->
	</div>
	<!-- /.row -->
</div>

{% endblock %}
