{% extends "base.html" %}
{% block title %}Change Club Info{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(category_filter=["clubinfo"]) %}

<!-- Below Navbar -->
<div class="container">
	<form class="form-group color-lightgrey" action="{{ url_for('.changeclubinfo_submit', club=g.club.callsign) }}" method="post" enctype="multipart/form-data">
		<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
		<h1 class="title">Change Club Info</h1>
		<h2 class="title_next">{{ g.club.name }}</h2>
		{% if messages %}
		<ul class="list-group" style="color:black">
			{% for message in messages %}
			<li class="list-group-item">{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		<label for="intro" style="font-size:200%">One sentence Intro:</label>
		<input type="text" class="form-control" name="intro" id="intro" value="{{ g.club.intro }}">
		<br>
		<p>The shorter the better.</p>
		<br>
		<label for="picture" style="font-size:200%">Picture:</label>
		<input type="file" name="picture" id="picture" accept="image/*" style="width:0.1px; height:0.1px; opacity:0">
		<label for="picture" class="upload_button">
			<span class="glyphicon glyphicon-upload"></span>
			<span>Choose an image...</span>
		</label>
		<p class="upload_content" id="upload_content"></p>
		<br>
		<br>
		<label for="description" style="font-size:200%">Introduction Paragraphs:</label>
		<textarea class="form-control" rows="10" name="description" id="description">{{ g.club.description.raw }}</textarea>
		<br>
		<p>*We support markdown in description.</p>
		<p>*For a new paragraph, please leave a blank line between two paragraphs so that we can format it into what you entered.</p>
		<br>
		<input type="submit" class="btn btn-primary" value="Submit">
	</form>
</div>

<div class="clearfix"></div>

{% endwith %}
{% endblock %}