{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages(category_filter=["success"]) %}

<!-- Below Navbar -->
<div class="large_container">
	<form class="form-group" action="{{ url_for('.changeclubinfo_submit', club=g.club.callsign) }}" method="post" style="color:#f2f2f2">
		<h1 class="title">Change Club Info</h1>
		<h2 class="title_next">{{ club }}</h2>
		{% if messages %}
		<ul class="list-group">
			{% for message in messages %}
			<li class="list-group-item">{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		<p>*Please input below.</p>
		<label for="intro" style="font-size:200%">One sentence intro:</label>
		<p>Current:</p>
		<p>{{ intro}}</p>
		<p>New:</p>
		<input type="text" class="form-control" name="intro">
		<br>
		<label for="picture" style="font-size:200%">Picture:</label>
		<input type="file" name="picture" id="picture" accept="image/*" style="width:0.1px; height:0.1px; opacity:0">
		<label for="picture" class="upload_button">
			<span class="glyphicon glyphicon-upload"></span>
			<span>Choose an image...</span>
		</label>
		<br>		
		<label for="desc" style="font-size:200%">Introduction Paragraphs:</label>
		<p>Current:</p>
		{{ desc }}
		<p>New:</p>
		<textarea class="form-control" rows="10" name="desc"></textarea>
		<br>
		<input type="submit" class="btn btn-primary" value="Submit">
	</form>
</div>

<div class="clearfix"></div>

{% endwith %}
{% endblock %}