{% extends "base.html.j2" %}

{% block additionalcssjs %}
<script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/content.min.js') }}"></script>
{% endblock %}

{% block title %}{{ g.club.name }}{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Photos <small> - {{ g.club.name }}</small></h1>
		</div>
	</div>

	<hr class="separator" id="separator_title">

	<div class="row">
		<div class="col-md-12">
			<div class="grid" id="photo_gallery">
				<div class="grid-sizer"></div>
				<div class="gutter-sizer"></div>
				{% for upload in uploads %}
				<div class="grid-item">
					<div class="thumbnail photo_gallery_thumbnail">
						<a href="{{ upload.upload.location_external }}">
							<img src="{{ upload.upload.location_external }}" class="img-responsive" alt="{{ upload.activity.club.name }}">
						</a>
					</div>
				</div>
				{% endfor %}
			</div>
			<!-- /.grid -->
		</div>
		<!-- /.col-md-12 -->
	</div>
	<!-- /.row -->
</div>
<!-- /.container -->

{% endblock %}
