{% extends "base.html" %}{% from 'macros.html' import get_messages %}
{% block title %}Club Intro{% endblock %}
{% block content %}

<!-- Below Navbar -->
<div class="large_container">
	<!-- Side Menu -->
	<div id="sidebar" class="col-md-2">
		<div class="list-group">
			<li class="list-group-item active">Club Types</li>
			{% for typ in [('all', 'All')] + ClubType|list %}
			<a href="{{ url_for('.clublist', club_type=typ[0].lower()) }}" class="list-group-item {% if g.club.type.name==typ[0] %}selected{% endif %}">{{ typ[1] }}</a>
			{% endfor %}
		</div>
		<div class="list-group">
			<li class="list-group-item active">This Club's</li>
			<a href="{{ url_for('.clubactivities', club=g.club.callsign) }}" class="list-group-item">Activities</a>
			<a href="{{ url_for('.clubphoto', club=g.club.callsign) }}" class="list-group-item">Photos</a>
		</div>
	</div>
	<!-- Main Content -->
	<div class="col-md-10 main-content" id="intropage">
		<div class="jumbotron">
			<h1 class="title">{{ g.club.name }}</h1>
			<p>{{ g.club.intro }}</p>
			<p>Club Leader:&nbsp;{{ g.club.leader.nickname }},&nbsp;{{ g.club.leader.grade }}-{{ g.club.leader.currentclass }}</p>
			<p>Location:&nbsp;{{ g.club.location }}</p>
			{% if g.club.is_active %}
			<p>Active</p>
			{% else %}
			<p>Inactive</p>
			{% endif %}
		</div>
		<p class="text-right white">Written by: {{ g.club.leader.nickname }}</p>
		<center><img src="{{ g.club.picture.location_external }}" class="img-thumbnail" alt="Club Picture"></center>

		{% if current_user == g.club.leader and g.club.is_active %}
		<br>
		<center>
		<a class="btn btn-success btn-lg" href="{{ url_for('.club', club=g.club.callsign) }}">Manage {{ g.club.name }}</a>
		</center>
		{% endif %}

		<div class="longdesc">{{g.club.description.formatted}}</div>

		<div class="intro_function">
			{{ get_messages(['join']) }}
			<div class="col-sm-4">
				<center>
					<a class="btn btn-info btn-lg" href="{{ url_for('.clubactivities', club=g.club.callsign) }}">Activities</a>
				</center>
			</div>
			<div class="col-sm-4">
				<center>
					<a class="btn btn-info btn-lg" href="{{ url_for('.clubphoto', club=g.club.callsign) }}">Photos</a>
				</center>
			</div>
			{% if free_join %}
			<div class="col-sm-4">
				<center>
					<a class="btn btn-info btn-lg" href="#joinClub" data-toggle="modal" data-target="#joinClub">Join</a>
				</center>
			</div>
			{% endif %}
			{% if current_user in g.club.members %}
			<div class="col-sm-4">
				<center>
					<a class="btn btn-info btn-lg" href="{{ url_for('clubblueprint.memberinfo', club=g.club.callsign) }}">Member List</a>
				</center>
			</div>
			{% if g.club.activities(types=[ActivityTime.HONGMEI]) %}
			<div class="col-sm-4">
				<center>
					<a class="btn btn-info btn-lg" href="{{ url_for('.registerhm', club=g.club.callsign) }}">Register HongMei Activities</a>
				</center>
			</div>
			{% endif %}
			{% endif %}
		</div>
	</div>
</div>

<div class="clearfix"></div>

<div class="modal fade" id="joinClub">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Join {{ g.club.name }}</h4>
			</div>
			<div class="modal-body">
				<p>Due to SHSID's rule, please do not join more than two afternoon clubs. Also, director's order: please do not join too many clubs.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<form action="{{ url_for('clubblueprint.clubintro_submit', club=g.club.callsign) }}" method="post" class="inline empty-left">
					<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
					<input type="submit" class="btn btn-primary" value="Join">
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
