{% extends "base.html" %}
{% block title %}Club Intro{% endblock %}
{% block content %}
{% with messages_join = get_flashed_messages(category_filter=["join"]) %}

<!-- Below Navbar -->
<div class="large_container">
	<!-- Side Menu -->
	<div id="sidebar" class="col-md-2">
		<div class="list-group">
			<li class="list-group-item active">Club Types</li>
			{% for typ in [('all', 'All')] + list(ClubType) %}
			<a href="{{ url_for('.clublist', club_type=typ[0].lower()) }}" class="list-group-item {% if g.club.type.name==typ[0] %}selected{% endif %}">{{ typ[1] }}</a>
			{% endfor %}
		</div>
		<div class="list-group">
			<li class="list-group-item active">This Club's</li>
			<a href="{{ url_for('actblueprint.clubactivities', club=g.club.callsign, page='1') }}" class="list-group-item">Activities</a>
			<a href="{{ url_for('actblueprint.clubphoto', club=g.club.callsign, page='1') }}" class="list-group-item">Photos</a>
		</div>
	</div>
	<!-- Main Content -->
	<div class="col-md-10" id="intropage">
		<div class="jumbotron">
			<h1 class="title">{{ g.club.name }}</h1>
			<p>{{ g.club.intro }}</p>
			{% if g.club.is_active %}
			<p>Active</p>
			{% else %}
			<p>Inactive</p>
			{% endif %}
		</div>
		<p class="text-right color-lightgrey">Written by: {{ g.club.leader.nickname }}</p>
		<center><img src="{{ g.club.picture.location_external }}" class="img-thumbnail" alt="Club Picture"></center>

		<div class="longdesc">{{g.club.description.formatted}}</div>

		<div class="intro_function">
			{% if messages_join %}
			<ul class="list-group">
				{% for message in messages_join %}
				<li class="list-group-item">{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			<div class="col-sm-4">
				<center><a href="{{ url_for('actblueprint.clubactivities', club=g.club.callsign, page='1') }}">
					<button class="btn btn-info btn-lg">Activities</button>
				</a></center>
			</div>
			<div class="col-sm-4">
				<center><a href="{{ url_for('actblueprint.clubphoto', club=g.club.callsign, page='1') }}">
					<button class="btn btn-info btn-lg">Photos</button>
				</a></center>
			</div>
			{% if free_join %}
			<div class="col-sm-4">
				<center><a href="#joinClub" data-toggle="modal" data-target="#joinClub">
					<button class="btn btn-info btn-lg">Join</button>
				</a></center>
			</div>
			{% endif %}
			{% if current_user in g.club.members %}
			<div class="col-sm-4">
				<center><a href="{{ url_for('clubblueprint.memberinfo', club=g.club.callsign) }}">
					<button class="btn btn-info btn-lg">Member List</button>
				</a></center>
			</div>
			<div class="col-sm-4">
				<center><a href="{{ url_for('userblueprint.registerhm', club=g.club.callsign) }}">
					<button class="btn btn-info btn-lg">Register HongMei Activities</button>
				</a></center>
			</div>
			{% endif %}
		</div>
	</div>
</div>

<div class="clearfix"></div>

<div class="modal fade" id="joinClub">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Join {{ g.club.name }}</h4>
			</div>
			<div class="modal-body">
				<p>Due to SHSID's rule, please do not join more than two afternoon clubs.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<form action="{{ url_for('clubblueprint.clubintro_submit', club=g.club.callsign) }}" method="post">
					<input type="submit" class="btn btn-primary" value="Join">
				</form>
			</div>
		</div>
	</div>
</div>

{% endwith %}
{% endblock %}
