{% extends "base.html" %}
{% block content %}

<!-- Below Navbar -->
<div class="large_container">
	<!-- Side Menu -->
	<div class="col-md-2" style="padding-left:30px">
		<div class="list-group">
			<li class="list-group-item active">Achievement</li>
			<a href="{{ url_for('.clublist', club_type='all') }}" class="list-group-item {% if club_type=='all' %}selected{% endif %}">All Clubs</a>
			<a href="{{ url_for('.clublist', club_type='excellent') }}" class="list-group-item {% if club_type=='excellent' %}selected{% endif %}">Excellent Clubs</a>
		</div>
		<div class="list-group">
			<li class="list-group-item active">Club Types</li>
			<a href="{{ url_for('.clublist', club_type='all') }}" class="list-group-item {% if club_type=='all' %}selected{% endif %}">All</a>
			<a href="{{ url_for('.clublist', club_type='academics') }}" class="list-group-item {% if club_type=='academics' %}selected{% endif %}">Academics</a>
			<a href="{{ url_for('.clublist', club_type='sports') }}" class="list-group-item {% if club_type=='sports' %}selected{% endif %}">Sports</a>
			<a href="{{ url_for('.clublist', club_type='arts') }}" class="list-group-item {% if club_type=='arts' %}selected{% endif %}">The Arts</a>
			<a href="{{ url_for('.clublist', club_type='services') }}" class="list-group-item {% if club_type=='services' %}selected{% endif %}">Services</a>
			<a href="{{ url_for('.clublist', club_type='entertainment') }}" class="list-group-item {% if club_type=='entertainment' %}selected{% endif %}">Entertainment</a>
			<a href="{{ url_for('.clublist', club_type='others') }}" class="list-group-item {% if club_type=='others' %}selected{% endif %}">Others</a>
			<a href="{{ url_for('.clublist', club_type='school_teams') }}" class="list-group-item {% if club_type=='school_teams' %}selected{% endif %}">School Teams</a>
		</div>
	</div>

	<!-- Main Content -->
	<div class="col-md-10">
		<h1 class="title" style="clear:right">Clubs - {{ club_type.replace('_', ' ').title() }}		<button class="btn btn-info refresh" style="font-family:'Georgia'; font-weight:bold; color:#f2f2f2; font-size: 50%; "><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</button></h1>
		<p style="color:#f2f2f2; font-size:150%">For fairness, we randomly choose 18 clubs each time you click refresh button.</p>

		<select onchange="window.location=this.value;">
			<option value="{{ url_for('.clublist', club_type='all', page='1') }}" {% if club_type=='all' %}selected="selected"{% endif %}>All</option>
			<option value="{{ url_for('.clublist', club_type='academics', page='1') }}" {% if club_type=='academics' %}selected="selected"{% endif %}>Academics</option>
			<option value="{{ url_for('.clublist', club_type='sports', page='1') }}" {% if club_type=='sports' %}selected="selected"{% endif %}>Sports</option>
			<option value="{{ url_for('.clublist', club_type='arts', page='1') }}" {% if club_type=='arts' %}selected="selected"{% endif %}>The Arts</option>
			<option value="{{ url_for('.clublist', club_type='services', page='1') }}" {% if club_type=='services' %}selected="selected"{% endif %}>Services</option>
			<option value="{{ url_for('.clublist', club_type='entertainment', page='1') }}" {% if club_type=='entertainment' %}selected="selected"{% endif %}>Entertainment</option>
			<option value="{{ url_for('.clublist', club_type='others', page='1') }}" {% if club_type=='others' %}selected="selected"{% endif %}>Others</option>
			<option value="{{ url_for('.clublist', club_type='school_teams', page='1') }}" {% if club_type=='school_teams' %}selected="selected"{% endif %}>School Team</option>
		</select>
		<select onchange="window.location=this.value;">
			<option value="{{ url_for('.clublist', club_type='all') }}" {% if club_type=='all' %}selected="selected"{% endif %}>All Clubs</option>
			<option value="{{ url_for('.clublist', club_type='excellent') }}"{% if club_type=='excellent' %}selected="selected"{% endif %}>Excellent Clubs</option>
		</select>
		<div class="clearfix"></div>
		<div class="smallBlock">
			{% for club in clubs %}
			<a href="{{ url_for('clubblueprint.clubintro', club=club.callsign) }}">
				<img src="{{ club.picture.location_external }}" class="img-responsive" alt="{{ current_user.nickname }}">
				<p style="font-size:150%">{{ club.name }}</p>
				<p>{{ club.intro }}</p>
			</a>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}