{% extends "base.html" %}
{% block title %}{{ g.club.name }}{% endblock %}
{% block content %}

<!-- Below Navbar -->
<div class="container">
	<h1 class="title">{{ g.club.name }}</h1>
	<div class="col-xs-3 function_block clickable" data-href="{{ url_for('clubblueprint.memberinfo', club=g.club.callsign) }}">
		<img src="{{ url_for('static', filename='images/club1.jpg') }}" class="img-responsive img-thumbnail" alt="Club1">
		<div style="background-color:rgba(77, 77, 77, 0.5)">
			<p>Check Members' Info</p>
		</div>
	</div>
	<div class="col-xs-3 function_block clickable" data-href="{{ url_for('.changeclubinfo', club=g.club.callsign) }}">
		<img src="{{ url_for('static', filename='images/club2.jpg') }}" class="img-responsive img-thumbnail" alt="Club2">
		<div style="background-color:rgba(0, 153, 153, 0.5)">
			<p>Change Club Info</p>
		</div>
	</div>
	<div class="col-xs-3 function_block clickable" data-href="#adjust" data-toggle="modal" data-target="#adjust">
		<img src="{{ url_for('static', filename='images/club3.jpg') }}" class="img-responsive img-thumbnail" alt="Club3">
		<div style="background-color:rgba(153, 0, 61, 0.5)">
			<p>Adjust Leader/Members</p>
		</div>
	</div>
	<div class="clearfix"></div>

	<div class="container" id="clubmanage">
		<div class="col-xs-4 function_block clickable" data-href="{{ url_for('actblueprint.newact', club=g.club.callsign) }}">
			<img src="{{ url_for('static', filename='images/club4.jpg') }}" class="img-responsive img-thumbnail" alt="Club4">
			<div style="background-color:rgba(38, 153, 0, 0.5)">
				<p>Host New Activity</p>
			</div>
		</div>
		<div class="col-xs-4 function_block clickable" data-href="{{ url_for('actblueprint.clubactivities', club=g.club.callsign) }}">
			<img src="{{ url_for('static', filename='images/club5.jpg') }}" class="img-responsive img-thumbnail" alt="Club5">
			<div style="background-color:rgba(0, 0, 153, 0.5)">
				<p>Check or Manage Hosted Activity</p>
			</div>
		</div>
		<div class="col-xs-4 function_block clickable" data-href="#hongmei" data-toggle="modal" data-target="#hongmei">
			<img src="{{ url_for('static', filename='images/club6.jpg') }}" class="img-responsive img-thumbnail" alt="Club6">
			<div style="background-color:rgba(115, 77, 38, 0.5)">
				<p>Manage HongMei Activities</p>
			</div>
		</div>
	</div>

</div>

<div class="modal fade" id="adjust">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Select Whether to Adjust Leader/Members</h4>
			</div>
			<div class="modal-body">
				<div class="col-sm-6">
					<a class="btn btn-danger large_button" href="{{ url_for('.newleader', club=g.club.callsign) }}">Select New Leader</a>
				</div>
				<div class="col-sm-6">
					<a class="btn btn-warning large_button" href="{{ url_for('.adjustmember', club=g.club.callsign) }}">Adjust Club Members</a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="hongmei">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Select Whether to Input or Check HongMei Schedule</h4>
			</div>
			<div class="modal-body">
				<div class="col-sm-6">
					<a class="btn btn-primary large_button" href="{{ url_for('actblueprint.newhm', club=g.club.callsign) }}">Input HongMei Schedule</a>
				</div>
				<div class="col-sm-6">
					<a class="btn btn-success large_button" href="{{ url_for('actblueprint.hongmei_status', club=g.club.callsign) }}">Check HongMei Status</a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}
