{% extends "base.html.j2" %}
{% from 'macros.html.j2' import render_pagination %}

{% block title %}{{ g.club.name }}{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="">Activites <small>  - {{ g.club.name }}</small></h1>
		</div>
	</div>

	<hr class="separator" id="separator_title">

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Contents</th>
								<th>Time</th>
								<th>Location</th>
							</tr>
						</thead>
						<tbody>
							{% for act in acts %}
							<tr class="clickable act" data-href="{{ url_for('actblueprint.actintro', activity=act.callsign) }}">
								<td>{{ act.name }}</td>
								<td>{{ act.date }}</td>
								<td>{{ act.location }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /.table-responsive -->
			</div>
			<!-- /.panel -->
			<center>{{ render_pagination(pagination) }}</center>
		</div>
		<!-- /.col-md-12 -->
	</div>
	<!-- /.row -->

</div>
<!-- /.container -->

{% endblock %}
