{% extends "base.html.j2" %}
{% from 'macros.html.j2' import search_bar %}


{% block additionalcssjs %}
<link href="{{ url_for('static', filename='css/sidebar.min.css') }}" rel="stylesheet" type="text/css" media="all">
{% endblock %}

{% block title %}Clubs{% endblock %}

{% block content %}

<div class="container">
	<!-- Row for nav tabs -->
	<div class="row">
		<div class="col-md-2">
		</div>

		<div class="col-md-10 col-xs-12">
			{% include 'club/club_head.html.j2' %}
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
		</div>

		<div class="col-md-10">
			<div class="row">
				<div class="col-md-8">
					<h1 class="">Clubs <small>  - {{ club_filter.title() }}</small></h1>
				</div>
				<div class="col-md-4">
					{{ search_bar('club', 'Search for clubs...') }}
				</div>
			</div>
		</div>
	</div>

	<hr class="separator" id="separator_title">

	<div class="row">
		<div class="col-md-2">
			<div class="panel panel-info">
				<button class="btn btn-info refresh form-control" id="refresh_btn"><span class="glyphicon glyphicon-refresh" id="refresh_glyphicon"></span>&nbsp;Refresh for more</button>
			</div>
			<div class="hidden-xs hidden-sm">
				{% for group in club_filter.enumerate_desktop() %}
				<div class="list-group">
					<li class="list-group-item active">{{ group.name }}</li>
					{% for elmt in group.elements %}
					<a href="{{ url_for('.clublist', club_filter=elmt.url) }}" class="list-group-item{% if elmt.selected %} selected{% endif %}">{{ elmt.name }}</a>
					{% endfor %}
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="col-md-10">
			{% for club in clubs %}
			<div class="col-md-12">
				<div class="well">
					<div class="media">
						<div class="media-body">
							<div class="row">

								<div class="col-md-3 col-xs-12">
									<center>
									<div class="club_list_image">
										{% if club.picture.location_external == '/static/images/icons/icon101.jpg' %}
											<img class="img-thumbnail" src="{{ url_for('static', filename='cdn/picsum/640/640/' + range(10, 50)|random|string) }}" alt="{{ club.name }}">
											<a tabindex="0" class="btn btn-xs" role="button" data-toggle="popover" data-trigger="focus" title="This is a placeholder image" data-content="No image was uploaded because the club leader is lazy. <br> Image source: <a href='https://picsum.photos'>Lorem Picsum</a>"><span class="glyphicon glyphicon-info-sign"></span></a>
										{% else %}
										<a class="" href="{{ club.picture.location_external }}">
											<img class="img-thumbnail" src="{{ club.picture.location_external }}" alt="{{ club.name }}">
										</a>
										{% endif %}
									</div>
								</center>
								</div>

								<div class="col-md-9 col-xs-12">
									<br class="visible-xs">
									<br class="visible-xs">
									<h4 class="media-heading"><a class="title_link" href="{{ url_for('.clubintro', club=club.callsign) }}">{{ club.name }}</a></h4>
									<hr class="separator">
									<p>{{ club.intro }}</p>
									{% if info[club.name] %}
									<br>
									<p><b>Most recent activity</b>: <a class="title_link" href="{{ url_for('actblueprint.actintro', activity=info[club.name].callsign) }}">{{ info[club.name].name }}</a></p>
									<p>{{ info[club.name].description.formatted }}
									{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>

		</div> <!-- ./row -->
	</div> <!-- ./container -->

	{% endblock %}
