{% extends "base.html.j2" %}
{% from 'macros.html.j2' import get_messages %}


{% block title %}Members{% endblock %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-10">
			<h1> Members <small> - {{ g.club.name }}</small></h1>
		</div>

		<div class="col-md-1">
		</div>
	</div>

	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-10">
			<hr class="separator" id="separator_title">
		</div>

		<div class="col-md-1">
		</div>
	</div>

	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-10">
			{% if get_flashed_messages(['notify_members']) %}
			<div class="alert alert-warning">
				<span class="glyphicon glyphicon-warning-ok"></span>
				{% for message in get_flashed_messages(category_filter=['notify_members']) %}
				{{ message }}
				{% endfor %}
			</div>
			{% endif %}

			<a class="btn btn-primary" href="#notifyMembers" data-toggle="modal" data-target="#notifyMembers">Notify Members</a>

			<div class="modal fade" id="notifyMembers" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Invite Member</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<form action="{{ url_for('.invitemember', club=g.club.callsign) }}" method="post" id="invite_form">
									<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">

									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon">Grade and class</span>
											<input class="form-control" id="gradeclass" type="text" name="gradeclass">
										</div>
									</div>

									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon">Passport Name</span>
											<input class="form-control" id="passportname" type="text" name="passportname">
										</div>
									</div>

									<hr class="separator">
									<div class="btn-toolbar">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										<input type="submit" class="btn btn-primary" value="Invite">
									</div>
								</form>
							</div>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			<div class="modal fade" id="notifyMembers">
				<div class="modal-dialog">
					<div class="modal-content">
						<form class="form-group" action="{{ url_for('clubblueprint.memberinfo_notify_members', club=g.club.callsign) }}" id="notify_form" method="post">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Notify Members</h4>
							</div>
							<div class="modal-body">
								<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
								<label for="contents">Contents:</label>
								<textarea class="form-control" rows="10" id="contents" name="contents"></textarea>
								<div class="clearfix"></div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<input type="submit" class="btn btn-primary" value="Notify Members">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-1">
		</div>
	</div>
	<!-- /.row -->

	<br>

	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-10">
			<div class="panel panel-default">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Nickname</th>
								<th>Class</th>
								<th>Passport name</th>
								<th>Email address</th>
							</tr>
						</thead>
						<tbody>
							{% for member in g.club.members %}
							<tr>
								<td>{{ member.nickname }}</td>
								<td>{{ member.grade_and_class }}</td>
								<td>{{ member.passportname }}</td>
								<td>{{ member.email }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /.table-responsive -->
			</div>
			<!-- /.panel -->

			{% if has_access %}
				<a class="btn btn-success" href="{{ url_for('.memberinfo_download', club=g.club.callsign) }}" target="_blank">Download Excel Spreadsheet (.xlsx)</a>
			{% endif %}
		</div>
		<!-- /.col-md-10 -->

		<div class="col-md-1">
		</div>
	</div>
	<!-- /.row -->

</div>
<!-- /.container -->





{% endblock %}
