{% extends "base.html" %}
{% block title %}Member Info{% endblock %}
{% block content %}

<!-- Below Navbar -->
<div class="container">
	<h1 class="title">Member Info</h1>
	<h2 class="title_next">{{ g.club.name }}</h2>
	<table class="table table-hover table-bordered" id="memberinfotable">
		{% if has_access %}
		<thead>
			<tr>
				<th class="width-25">Nick Name</th>
				<th class="width-25">Student ID</th>
				<th class="width-25">Passport Name</th>
				<th class="width-25">Email Address</th>
			</tr>
		</thead>
		<tbody>
			{% for member in g.club.members %}
			<tr class="act">
				<td>{{ member.nickname }}</td>
				<td>{{ member.studentid }}</td>
				<td>{{ member.passportname }}</td>
				<td>{{ member.email }}</td>
			</tr>
			{% endfor %}
		</tbody>
		{% else %}
		<thead>
			<tr>
				<th class="width-25">Picture</th>
				<th class="width-75">Nick Name</th>
			</tr>
		</thead>
		<tbody>
			{% for member in g.club.members %}
			<tr class="act">
				<td><img src="{{ member.picture.location_external }}" class="img-responsive img-thumbnail table-photo-lg" alt="{{ member.nickname }}"></td>
				<td>{{ member.nickname }}</td>
			</tr>
			{% endfor %}
		</tbody>
		{% endif %}
	</table>
	<br>
	{% if has_access %}
	<center>
		<a class="btn btn-success downloadbtn" href="{{ url_for('.memberinfo_download', club=g.club.callsign) }}" target="_blank">Download as Excel Document</a>
	</center>
	{% endif %}
</div>

{% endblock %}
