{% extends "base.html.j2" %}{% from 'macros.html.j2' import get_messages %}
{% block title %}New Club{% endblock %}
{% block content %}

<!-- Below Navbar -->
<div class="container">
	<form class="form-group white" action="{{ url_for('.newclub_submit') }}" method="post" enctype="multipart/form-data">
		<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
		<h1 class="title">Create New Club</h1>
		<h2 class="title_next">Club Leader: {{ current_user.nickname }}</h2>
		{{ get_messages(['newclub']) }}
		<p>*Please input below.</p>
		<label class="largetext" for="clubname">Club Name:</label>
		<input type="text" class="form-control" name="clubname" id="clubname">
		<br>
		<label class="largetext" for="email">Club Teacher's Email Address:</label>
		<input type="email" class="form-control" name="email" id="email">
		<p class="smalltext">Your club teacher's email address, not yours.</p>
		<br>
		<label class="largetext" for="clubtype">Club Type:</label>
		<br>
		<select class="form-control" name="clubtype" id="clubtype">
			{% for type in clubtype %}
			<option value="{{ type.value }}">{{ type.format_name }}</option>
			{% endfor %}
		</select>
		<br>
		<label class="largetext" for="location">Club Location:</label>
		<input type="text" class="form-control" name="location" id="location">
		<br>
		<label class="largetext" for="intro">Club One-Sentence Introduction:</label>
		<input type="text" class="form-control" name="intro" id="intro" maxlength="90">
		<p>Please keep this as short and precise as possible.</p>
		<br>
		<label for="description" class="largetext">Club Paragragh Description:</label>
		<textarea class="form-control" rows="10" name="description" id="description"></textarea>
		<br>
		<p>*We support <a class="white-a" href={{ url_for('markdown') }}>markdown</a> in this post. </p>
		<p>*For a new paragraph, please leave a blank line between two paragraphs so that we can format it into what you entered.</p>
		<br>
		<input type="submit" class="btn btn-primary btn-lg" value="Create Club">
	</form>
</div>

<div class="clearfix"></div>

{% endblock %}
