{% extends "base.html.j2" %}

{% block additionalcssjs %}
<link href="{{ url_for('static', filename='cdn/cdnjs/select2/4.0.5/css/select2.min.css') }}" rel="stylesheet" type="text/css" media="all" integrity="sha384-HIipfSYbpCkh5/1V87AWAeR5SUrNiewznrUrtNz1ux4uneLhsAKzv/0FnMbj3m6g">
<script src="{{ url_for('static', filename='cdn/cdnjs/select2/4.0.5/js/select2.min.js') }}" integrity="sha384-xMX6VHK1HYyCMM8zHAVkLHgg2rIDhN01+z4rI70RV2dwzzVlHP95uaDOc5ds7Pow"></script>
<script src="{{ url_for('static', filename='js/selection.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/newreservation.min.js') }}"></script>
<link href="{{ url_for('static', filename='css/form.min.css') }}" rel="stylesheet" type="text/css" media="all">
{% endblock %}

{% from 'macros.html.j2' import get_messages %}

{% block title %}New Club{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-10">
			<h1> New Club </h1>
		</div>

		<div class="col-md-1">
		</div>
	</div>

	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-10">
			<hr class="separator" id="separator_title">
		</div>

		<div class="col-md-1">
		</div>
	</div>

	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-10">
			<form class="form-group" action="{{ url_for('.newclub_submit') }}" method="post" enctype="multipart/form-data">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
				{% if get_flashed_messages(['newclub']) %}
				<div class="alert alert-warning">
					<span class="glyphicon glyphicon-warning-sign"></span>
					{% for message in get_flashed_messages(category_filter=['newclub']) %}
					{{ message }}
					{% endfor %}
				</div>
				{% endif %}
				<p>Club leader: {{ current_user.nickname }}</p>

				<div class="form-group">
					<div class="row">
						<div class="col-md-12">
							<div class="input-group">
								<span class="input-group-addon">Club name</span>
								<input type="text" class="form-control" name="clubname" id="clubname">
							</div>
						</div>
					</div>
					<!-- /.row -->
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-md-12">
							<div class="input-group">
								<span class="input-group-addon">One sentence description</span>
								<input type="text" class="form-control" name="intro" id="intro" maxlength="90">
							</div>
						</div>
					</div>
					<!-- /.row -->
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-md-12">
							<div class="input-group">
								<span class="input-group-addon">Instructor's email</span>
								<input type="email" class="form-control" name="email" id="email">
							</div>
						</div>
					</div>
					<!-- /.row -->
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-md-6">
							<div class="input-group">
								<span class="input-group-addon">Club type</span>
								<select class="form-control" name="clubtype" id="clubtype">
									{% for type in clubtype %}
									<option value="{{ type.value }}">{{ type.format_name }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="input-group">
								<span class="input-group-addon">Location (general)</span>
								<input type="text" class="form-control" name="location" id="location">
							</div>
						</div>
					</div>
					<!-- /.row -->
				</div>

				<div class="form-group">
					<div class="input-group">
						<label>Upload club image</label>: &nbsp;&nbsp;
						<label class="btn btn-default btn-sm">
							<span class="glyphicon glyphicon-upload"></span> Upload
							<input type="file" name="picture" id="picture" accept="image/*" hidden>
						</label>
						<p id="upload_content"></p>
					</div>
				</div>

				<div class="form-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							Club description
							</div>
							<div class="panel-body">
								<textarea class="form-control" rows="10" name="description" id="description"></textarea>
								<br>
								<span class="help-block">
									Post content supports &nbsp;<button class="btn btn-default btn-xs btn_stop_default" id="markdownhelp_btn" data-toggle="collapse" data-target="#markdownhelp">markdown <span class="caret"></span></button>&nbsp;.
									Enter a blank line for a new paragraph.
								</span>
								<div class="collapse" id="markdownhelp">
									{% include 'static/markdown-tooltip.html.j2' %}
								</div>
							</div>
						</div>
						<!-- /.panel -->
					</div>

					<div class="form-group">
						<div class="input-group">
							<button class="btn btn-primary" type="submit">Create club</button>
						</div>
					</div>
			</form>
		</div>

		<div class="col-md-1">
		</div>
	</div>

</div>
<!-- /.container -->

{% endblock %}
