{% extends "base.html" %}
{% block title %}New Leader{% endblock %}
{% block content %}

<!-- Below Navbar -->
<h1 class="title text-center">{{ g.club.name }}</h1>
<div class="huge_block" id="currentleader">
	<h1>Current Club Leader</h1>
	<img src="{{ g.club.leader.picture.location_external }}" class="img-responsive img-circle" alt="{{ g.club.leader.nick_name }}">
	<h2>{{ g.club.leader.nickname }}</h2>
	<h3>{{ g.club.leader.passportname }}</h3>
</div>

<div class="clearfix"></div>

<br><br>

<div class="container">
	<form id="leader_radio" action="{{ url_for('.newleader_submit', club=g.club.callsign)}}" method="post">
		<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
		{% for member in g.club.members %}
		{% if member != g.club.leader %}
		<label class="radio_block" for="{{ member.id }}">
			<img src="{{ member.picture.location_external }}" class="img-responsive" alt="">
			<p>{{ member.passportname }}</p>
			<p>{{ member.nickname }}</p>
			<center><input type="radio" id="{{ member.id }}" name="leader" value="{{ member.passportname }}"></center>
		</label>
		{% endif %}
		{% endfor %}
	</form>
	<div class="clearfix"></div>
	<center><button class="btn btn-info btn-lg" data-toggle="modal" data-target="#confirmation" id="updatecheck">Submit</button></center>
</div>

<div id="confirmation" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Confirmation</h4>
			</div>
			<div class="modal-body">
				<p></p>
			</div>
			<div class="modal-footer">

			</div>
		</div>
	</div>
</div>

{% endblock %}
