{% extends "base.html.j2" %}{% from 'macros.html.j2' import get_messages %}
{% block title %}Quit Club{% endblock %}
{% block content %}

<!-- Below Navbar -->
<div class="container">
	<div class="col-sm-3">
		<img src="{{ url_for('static', filename='images/areyousure1.jpg') }}" class="img-responsive img-thumbnail" alt="Are you sure?">
	</div>
	<div class="col-sm-6">
		<h1 class="white title_next">Quitting Club</h1>
		{{ get_messages(['quit'], br_after=True) }}
		{% if quitting_clubs %}
		<form class="form-group white middle">
			<p class="midtext"><i>If you really want to quit a club, then please select the club and state your reason. Your quitting request will be emailed to the club leader.</i></p>
			<br>
			<label for="clubs">The club:</label>
			<select class="form-control black" id="_clubs" name="_clubs" type="dropdown">
				{% for club in quitting_clubs %}
				<option value="{{ club.id }}">{{ club.name }}</option>
				{% endfor %}
			</select>
			<br>
			<label for="reason">Reason:</label>
			<textarea class="form-control" rows="10" name="_reason" id="_reason"></textarea>
			<br>
			<button type="button" class="btn btn-info" data-toggle="modal" data-target="#confirmation" id="updatequit">Submit</button>
		</form>
		{% else %}
		<p class="white midtext">You do not have any club to quit yet.</p>
		{% endif %}
	</div>
	<div class="col-sm-3">
		<img src="{{ url_for('static', filename='images/areyousure2.jpg') }}" class="img-responsive img-thumbnail" alt="Are you sure?">
	</div>
</div>

<div id="confirmation" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Confirmation</h4>
			</div>
			<div class="modal-body">
				<p></p>
			</div>
			<div class="modal-footer">
				<form id='quit_club' action="{{ url_for('.quitclub_submit') }}" method="post">
					<button type="button" class="btn btn-default" data-dismiss="modal">No!</button>
					<input type="submit" class="btn btn-primary" value="Confirm">
					<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
					<input name="clubs" id="clubs" type="hidden" value="">
					<input name="reason" id="reason" type="hidden" value="">
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
