{% extends "base.html.j2" %}
{% block title %}Success{% endblock %}
{% block content %}

<!-- Below Navbar -->
<div class="container">
	<h1 class="title">Information Successfully Submitted</h1>
	<center><img src="{{ url_for('static', filename='images/success.jpg') }}" class="img-responsive img-thumbnail" alt="Success"></center>
	<br>
	<p class="text-center white midtext">The information you have written has been successfully changed in our database.</p>
</div>

{% endblock %}