{% extends "base.html" %}
{% block content %}
{% with messages_signup = get_flashed_messages(category_filter=["signup"]) %}

<!-- Below Navbar -->
<div class="large_container">
	<!-- Side Menu -->
	<div class="col-sm-2">
		<div class="list-group" style="margin-top:50px">
			<li class="list-group-item active">Club Types</li>
			<a href="{{ url_for('.allactivities', club_type='all', page='1') }}" class="list-group-item {% if club_type=='all' %}selected{% endif %}">All</a>
			<a href="{{ url_for('.allactivities', club_type='academics', page='1') }}" class="list-group-item {% if club_type=='academics' %}selected{% endif %}">Academics</a>
			<a href="{{ url_for('.allactivities', club_type='sports', page='1') }}" class="list-group-item {% if club_type=='sports' %}selected{% endif %}">Sports</a>
			<a href="{{ url_for('.allactivities', club_type='arts', page='1') }}" class="list-group-item {% if club_type=='arts' %}selected{% endif %}">The Arts</a>
			<a href="{{ url_for('.allactivities', club_type='services', page='1') }}" class="list-group-item {% if club_type=='services' %}selected{% endif %}">Services</a>
			<a href="{{ url_for('.allactivities', club_type='entertainment', page='1') }}" class="list-group-item {% if club_type=='entertainment' %}selected{% endif %}">Entertainment</a>
			<a href="{{ url_for('.allactivities', club_type='others', page='1') }}" class="list-group-item {% if club_type=='others' %}selected{% endif %}">Others</a>
			<a href="{{ url_for('.allactivities', club_type='school_teams', page='1') }}" class="list-group-item {% if club_type=='school_teams' %}selected{% endif %}">School Teams</a>
		</div>
	</div>

	<!-- Main Content -->
	<div class="col-sm-10" style="padding-right:50px">
		<div class="container">
			<div class="jumbotron" style="background-color:#3366ff;color:#e6e6e6">
				<h1 class="title">{{ g.activity.name }}</h1>
				<p>{{ g.activity.club.name }}</p>
			</div>
			<div style="font-size:150%;color:#f2f2f2">
				<p>Time: {{ g.activity.date }}</p>
				<br>
				<p>Description:</p>
				{% if g.activity.description.raw %}
				{{ g.activity.description.formatted }}
				{% else %}
				<p>None</p>
				{% endif %}
				<br>
			</div>
		</div>
		<div class="container">
			{% if messages_signup %}
            <ul class="list-group">
                {% for message in messages_signup %}
                <li class="list-group-item">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
			<div class="intro_function">
				<div class="col-sm-6">
					<a href="{{ url_for('clubblueprint.clubintro', club=g.activity.club.callsign) }}">
						<button class="btn btn-info btn-lg" style="width:80%">Club Introduction</button>
					</a>
				</div>
				<div class="col-sm-6">
					{% if is_other_act %}
					<form action="{{ url_for('.activity_submit', activity=g.activity.callsign) }}" method="post">
						<input class="btn btn-info btn-lg" type="submit" style="width:80%" value="Join">
					</form>
					{% endif %}
				</div>

				<div class="clearfix"></div>
				<br>
				{% if has_access and is_past %}
				<div class="col-sm-6">
					<a href="{{ url_for('.inputatten', activity=g.activity.callsign) }}">
						<button class="btn btn-info btn-lg" style="width:80%">Input Attendance</button>
					</a>
				</div>
				<div class="col-sm-6">
					<a href="{{ url_for('.checkatten', activity=g.activity.callsign) }}">
						<button class="btn btn-info btn-lg" style="width:80%">Check Attendance</button>
					</a>
				</div>

				<div class="clearfix"></div>
				<br>

				<div class="col-sm-6">
					<a href="{{ url_for('.changeactpost', activity=g.activity.callsign) }}">
						<button class="btn btn-info btn-lg" style="width:80%">Change Activity Post</button>
					</a>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="clearfix"></div>

{% endwith %}
{% endblock %}