{% extends "base.html" %}{% from 'macros.html' import get_messages %}
{% block title %}{{ g.activity.name }}{% endblock %}
{% block content %}

<!-- Below Navbar -->
<div class="large_container">
	<!-- Side Menu -->
	<div id="sidebar" class="col-md-2">
		<div class="list-group">
			<li class="list-group-item active">Club Types</li>
			{% for typ in [('all', 'All')] + ClubType|list %}
			<a href="{{ url_for('.allactivities', club_type=typ[0].lower()) }}" class="list-group-item {% if g.activity.club.type.name==typ[0] %}selected{% endif %}">{{ typ[1] }}</a>
			{% endfor %}
		</div>
	</div>

	<!-- Main Content -->
	<div class="main-content col-md-10" id="intropage">
		<div class="jumbotron">
			<h1 class="title">{{ g.activity.name }}</h1>
			<p>{{ g.activity.club.name }}</p>
		</div>
		<div class="longdesc">
			<p>Time: {{ g.activity.date }}</p>
			{% if g.activity.description.raw %}
			<br>
			<p class="midtext">Description:</p>
			{{ g.activity.description.formatted }}
			{% endif %}
		</div>
		{{ get_messages(['signup']) }}

		{% if g.activity.selections %}
		{% if selection %}
		<p class="white midtext">Your Selection:</p>
		<p class="white midtext">{{ selection }}</p>
		{% else %}
		<p class="white midtext">Selection:</p>
		<select name="selection" form="join_form" class="selection_bar white">
			{% for choice in g.activity.selections %}
			<option class="black" value="{{ choice }}">{{ choice }}</option>
			{% endfor %}
		</select>
		{% endif %}
		{% endif %}
		{% if not g.activity.is_future %}
		<div class="longdesc">
		<h1 class="midtext">Post for {{ g.activity.name }}:</h1>
		{% for pic in g.activity.pictures %}
		<div class="col-sm-3 emptyline">
			<img src="{{ pic.location_external }}" class="img-thumbnail" alt="{{ g.activity.name }}">
		</div>
		{% endfor %}
		<div class="clearfix"></div>
		{% if g.activity.post.raw %}
		<p>Post:</p>
		{{ g.activity.post.formatted }}
		{% elif not g.activity.pictures %}
		<p>There is no post for this activity yet.</p>
		{% endif %}
		</div>
		{% endif %}
		<center>
		<div class="intro_function">
			<div class="col-sm-6">
				<a class="btn btn-info btn-lg" href="{{ url_for('clubblueprint.clubintro', club=g.activity.club.callsign) }}">Club Introduction</a>
			</div>

			{% if is_other_act and g.activity.is_future and can_join %}
			<div class="col-sm-6">
				<form action="{{ url_for('.actintro_submit', activity=g.activity.callsign) }}" method="post" id="join_form">
					<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
					<input class="btn btn-info btn-lg" type="submit" value="Join">
				</form>
			</div>
			{% endif %}

			{% if has_access and g.activity.is_future %}
			<div class="col-sm-6">
				<a class="btn btn-info btn-lg" href="{{ url_for('.actstatus', activity=g.activity.callsign) }}">Signup Status</a>
			</div>
			{% endif %}

			{% if has_access and not g.activity.is_future %}
			<div class="col-sm-6">
				<a class="btn btn-info btn-lg" href="{{ url_for('.attendance', activity=g.activity.callsign) }}">Attendance</a>
			</div>
			<div class="col-sm-6">
				<a class="btn btn-info btn-lg" href="{{ url_for('.changeactpost', activity=g.activity.callsign) }}">{% if g.activity.post.raw or g.activity.pictures %}Edit{% else %}Create{% endif %} Activity Post</a>
			</div>
			{% endif %}
		</div>
		</center>
	</div>
</div>

<div class="clearfix"></div>

{% endblock %}
