{% extends "base.html.j2" %}

{% from 'macros.html.j2' import get_messages %}

{% block additionalcssjs %}
<script src="{{ url_for('static', filename='cdn/cdnjs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js') }}" integrity="sha384-YnGSHPPWEUDKMHFPOVmNP7Xyfwx5G0CHet6IoNgiX6CbFZS8gCeIfEgB1MgPwjdI"></script>
<script src="{{ url_for('static', filename='cdn/cdnjs/masonry/4.2.2/masonry.pkgd.min.js') }}" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D"></script>
<script src="{{ url_for('static', filename='js/content.min.js') }}"></script>
{% endblock %}

{% block title %}{{ g.activity.name }}{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-10">
			<h1 class="">{{ g.activity.name }}</h1>
		</div>
		<!-- /.col-md-10 -->

		<div class="col-md-1">
		</div>
	</div>
	<!-- /.row -->

	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-10">
			<hr class="separator" id="separator_title">
		</div>

		<div class="col-md-1">
		</div>
	</div>

	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-10">
			<div class="panel panel-primary">
				<div class="panel-body">
					<p><b><a class="title_link" href="{{ url_for('clubblueprint.clubintro', club=g.activity.club.callsign) }}">{{ g.activity.club.name }}</a></b></p>
					<p><b>Time</b>: {{ g.activity.date.strftime("%Y-%m-%d, %A") }}, {{ g.activity.time.format_name }}</p>
					<p><b>Location</b>: {{ g.activity.location }} {% if g.activity.has_reservation %} (<a href="{{ url_for('resblueprint.reservationinfo', reservation=g.activity.reservation.callsign) }}">Reserved</a>){% endif %}</p>
					<p>
						{% if g.activity.description.raw %}
						<b>Description</b>: {{ g.activity.description.formatted }}
						{% endif %}
					</p>
					<p>
						{% if g.activity.post.raw %}
						<b>Post</b>: {{ g.activity.post.formatted }}
						{% endif %}
					</p>
				</div>
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-md-10 -->

		<div class="col-md-1">
		</div>
	</div>
	<!-- /.row -->

	{% if g.activity.pictures %}
	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-10 text-center">
			<div class="grid" id="photo_gallery">
				<div class="grid-sizer"></div>
				<div class="gutter-sizer"></div>
				{% for photo in g.activity.pictures %}
				<div class="grid-item">
					<div class="thumbnail photo_gallery_thumbnail">
						<a class="" href="{{ photo.location_external }}">
						<img src="{{ photo.location_external }}" class="img-responsive" alt="{{ g.activity.name }}">
					</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<!-- /.col-md-10 -->

		<div class="col-md-1">
		</div>
	</div>
	<!-- /.row -->
	{% endif %}

	{% if has_access %}

	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-10">
			<hr class="separator" >
		</div>

		<div class="col-md-1">
		</div>
	</div>

	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-10 text-center">

			{% if g.activity.is_future %}
			<div class="btn-group btn_content" role="button">
				<a class="btn btn-default btn-lg" href="{{ url_for('.changeactinfo', activity=g.activity.callsign) }}">Edit Activity</a>
			</div>

			{% if g.activity.club.reservation_allowed %}
			<div class="btn-group btn_content" role="button">
				{% if has_reservation %}
				<a class="btn btn-default btn-lg" href="{{ url_for('.pairreservation', activity=g.activity.callsign) }}">Change Reservation</a>
				{% else %}
				<a class="btn btn-default btn-lg" href="{{ url_for('.pairreservation', activity=g.activity.callsign) }}">Pair a Reservation</a>
				{% endif %}
			</div>
			{% endif %}

			{% endif %}

			{% if not g.activity.is_future %}
			<div class="btn-group btn_content" role="button">
				<a class="btn btn-default btn-lg" href="{{ url_for('.changeactpost', activity=g.activity.callsign) }}">{% if g.activity.post.raw or g.activity.pictures %}Edit{% else %}Create{% endif %} Post</a>
			</div>

			<div class="btn-group btn_content" role="button">
				<a class="btn btn-default btn-lg" href="{{ url_for('.attendance', activity=g.activity.callsign) }}">Attendance</a>
			</div>
			{% endif %}

		</div>
		<!-- /.col-md-10 -->

		<div class="col-md-1">
		</div>
	</div>
	<!-- /.row -->
	{% endif %}

</div>
<!-- /.container -->

{% endblock %}
