{% extends "base.html" %}{% from 'macros.html' import get_messages %}
{% block title %}{{ g.activity.name }}{% endblock %}
{% block content %}

<!-- Below Navbar -->
<div class="container white">
	<h1 class="title">Activity - {{ g.activity.name }}</h1>
	<h2 class="title_next">{{ g.activity.club.name }}</h2>
	<h2 class="midtext">Date: {{ g.activity.date }}</h2>
	<h2 class="midtext">Current participating people: {{ members_num }}</h2>
	{{ get_messages(['consent_form']) }}
	<br>
	<table class="table table-hover table-bordered black" id="actstatustable">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Phone Number</th>
				<th>Consent Form</th>
				{% if g.activity.selections %}
				<th>Selection</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for member in g.activity.signup_list() %}
			<tr class="act">
				<td>{{ member.user.nickname }}</td>
				<td>{{ member.user.email }}</td>
				<td>{{ member.user.phone }}</td>
				<td>
					<form action="{{ url_for('.actstatus_submit', activity=g.activity.callsign) }}" method="post">
						<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
						<input type="hidden" name="studentid" value="{{ member.user.id }}">
						<input type="hidden" name="status" value="{{ member.consentform }}">
						{% if member.consentform == 0 %}
						<input type="submit" class="btn btn-primary tinytext" value="Hand In">
						{% else %}
						Handed in&nbsp;
						<input type="submit" class="btn btn-primary tinytext" value="Cancel">
						{% endif %}
					</form>
				</td>
				{% if g.activity.selections %}
				<td>{{ member.selection }}</td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<br>
	<center>
		<a class="btn btn-success downloadbtn" href="{{ url_for('.actstatus_download', activity=g.activity.callsign) }}" target="_blank">Download as Excel Document</a>
	</center>
</div>

{% endblock %}
