{% extends "base.jinja2" %}{% from 'macros.jinja2' import render_pagination, desktop_sidebar, mobile_selection %}
{% block title %}All Activities{% endblock %}
{% block content %}

<!-- Below Navbar -->
<div class="large_container">
	{{ desktop_sidebar('.allactivities', club_filter) }}

	<div class="main-content col-md-10" id="act-club-list">
		<h1 class="title_next bold">Activites - {{ club_filter.title() }}</h1>
		{{ mobile_selection('.allactivities', club_filter) }}
		<table class="table table-hover table-bordered" id="actinfotable">
			<thead>
				<tr>
					<th>Contents</th>
					<th>Club</th>
					<th>Date</th>
					<th>Type</th>
					<th>Location</th>
				</tr>
			</thead>
			<tbody>
				{% for act in acts %}
				<tr class="clickable act" data-href="{{ url_for('.actintro', activity=act.callsign) }}">
					<td>{{ act.name }}</td>
					<td>{{ act.club.name }}</td>
					<td>{{ act.date }}</td>
					<td>{{ act.time.format_name }}</td>
					<td>{{ act.location }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<center>{{ render_pagination(pagination) }}</center>
	</div>
</div>

{% endblock %}
