{% extends "base.html" %}{% from 'macros.html' import render_pagination %}
{% block content %}

<!-- Below Navbar -->
<div class="large_container">
	<div class="col-md-2">
		<div class="list-group" style="margin-top:50px">
			<li class="list-group-item active">Club Types</li>
			<a href="{{ url_for('.allactivities', club_type='all', page='1') }}" class="list-group-item {% if club_type=='all' %}selected{% endif %}">All</a>
			<a href="{{ url_for('.allactivities', club_type='academics', page='1') }}" class="list-group-item {% if club_type=='academics' %}selected{% endif %}">Academics</a>
			<a href="{{ url_for('.allactivities', club_type='sports', page='1') }}" class="list-group-item {% if club_type=='sports' %}selected{% endif %}">Sports</a>
			<a href="{{ url_for('.allactivities', club_type='arts', page='1') }}" class="list-group-item {% if club_type=='arts' %}selected{% endif %}">The Arts</a>
			<a href="{{ url_for('.allactivities', club_type='services', page='1') }}" class="list-group-item {% if club_type=='services' %}selected{% endif %}">Services</a>
			<a href="{{ url_for('.allactivities', club_type='entertainment', page='1') }}" class="list-group-item {% if club_type=='entertainment' %}selected{% endif %}">Entertainment</a>
			<a href="{{ url_for('.allactivities', club_type='others', page='1') }}" class="list-group-item {% if club_type=='others' %}selected{% endif %}">Others</a>
			<a href="{{ url_for('.allactivities', club_type='school_teams', page='1') }}" class="list-group-item {% if club_type=='school_teams' %}selected{% endif %}">School Teams</a>
		</div>
	</div>

	<div class="col-md-10">
		<h1 class="title" style="clear:right">Activites - {{ club_type.replace('_', ' ').title() }}</h1>
		<select onchange="window.location=this.value;">
			<option value="{{ url_for('.allactivities', club_type='all', page='1') }}" {% if club_type=='all' %}selected="selected"{% endif %}>All</option>
			<option value="{{ url_for('.allactivities', club_type='academics', page='1') }}"{% if club_type=='academics' %}selected="selected"{% endif %}>Academics</option>
			<option value="{{ url_for('.allactivities', club_type='sports', page='1') }}"{% if club_type=='sports' %}selected="selected"{% endif %}>Sports</option>
			<option value="{{ url_for('.allactivities', club_type='arts', page='1') }}"{% if club_type=='arts' %}selected="selected"{% endif %}>The Arts</option>
			<option value="{{ url_for('.allactivities', club_type='services', page='1') }}"{% if club_type=='services' %}selected="selected"{% endif %}>Services</option>
			<option value="{{ url_for('.allactivities', club_type='entertainment', page='1') }}"{% if club_type=='entertainment' %}selected="selected"{% endif %}>Entertainment</option>
			<option value="{{ url_for('.allactivities', club_type='others', page='1') }}"{% if club_type=='others' %}selected="selected"{% endif %}>Others</option>
			<option value="{{ url_for('.allactivities', club_type='school_teams', page='1') }}"{% if club_type=='school_teams' %}selected="selected"{% endif %}>School Team</option>
		</select>
		<table class="table table-hover table-bordered" id="actinfotable">
			<thead class="list">
				<tr style="background-color:#bfbfbf">
					<th>Contents</th>
					<th>Club</th>
					<th>Time</th>
					<th>Location</th>
				</tr>
			</thead>
			<tbody>
				{% for act in acts %}
				<tr class="clickable act" data-href="{{ url_for('.activity', activity=act.callsign) }}">
					<td>{{ act.name }}</td>
					<td>{{ act.club.name }}</td>
					<td>{{ act.date }}</td>
					<td>{{ act.location }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<center>{{ render_pagination(pagination) }}</center>
	</div>
</div>

{% endblock %}
