{% extends "base.html" %}
{% block title %}Check Attendance{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(category_filter=["attendance"]) %}


<!-- Below Navbar -->
<div class="container">
	<h1 class="title">Attendance for {{ g.activity.name }}</h1>
	<h2 class="title_next">{{ g.activity.club.name }}</h2>
	{% if messages %}
	<ul class="list-group">
		{% for message in messages %}
		<li class="list-group-item">{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	<table class="table table-hover table-bordered" id="attendancetable">
		<thead>
			<tr>
				<th class="width-10">Picture</th>
				<th>Nick Name</th>
				<th>Student ID</th>
				<th>Attendance</th>
			</tr>
		</thead>
		<tbody>
			{% for member in attend %}
			<tr class="act">
				<td><img src="{{ member.picture.location_external }}" class="img-responsive width-70" alt="{{ member.nickname }}"></td>
				<td>{{ member.nickname }}</td>
				<td>{{ member.studentid }}</td>
				<td>
					<span class="glyphicon glyphicon-check"></span>
					<form action="{{ url_for('.attendance_submit', activity=g.activity.callsign) }}" method="post">
						<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
						<input type="hidden" name="userid" value="{{ member.id }}">
						<input class="btn btn-warning" type="submit" value="Cancel">
					</form>
				</td>
			</tr>
			{% endfor %}
			{% for member in absent %}
			<tr class="act">
				<td><img src="{{ member.picture.location_external }}" class="img-responsive width-70" alt="{{ member.nickname }}"></td>
				<td>{{ member.nickname }}</td>
				<td>{{ member.studentid }}</td>
				<td>
					<span class="glyphicon glyphicon-unchecked"></span>
					<form action="{{ url_for('.attendance_submit', activity=g.activity.callsign) }}" method="post">
						<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
						<input type="hidden" name="userid" value="{{ member.id }}">
						<input class="btn btn-primary" type="submit" value="Attend">
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<br>
	<center>
		<a class="btn btn-success downloadbtn" href="{{ url_for('.attendance_download', activity=g.activity.callsign) }}" target="_blank">Download as Excel Document</a>
	</center>
</div>

{% endwith %}
{% endblock %}
