{% extends "base.html" %}
{% block title %}Change Activity Post{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(category_filter=["actpost"]) %}

<!-- Below Navbar -->
<div class="container">
	<form class="form-group white" action="{{ url_for('.changeactpost_submit', activity=g.activity.callsign) }}" method="post" enctype="multipart/form-data">
		<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
		<h1 class="title">Change Activity Info</h1>
		<h2 class="title_next">{{ g.activity.club.name }}</h2>
		<h2 class="title_next">{{ g.activity.name }}</h2>
		{% if messages %}
		<ul class="list-group black">
			{% for message in messages %}
			<li class="list-group-item">{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		<p>*Please input below.</p>
		<label class="largetext" for="picture">Picture:</label>
		<div class="clearfix"></div>
		<input class="hide" type="file" multiple="multiple" name="picture" id="picture" accept="image/*">
		<label for="picture" class="upload_button">
			<span class="glyphicon glyphicon-upload"></span>
			<span>Choose images...</span>
		</label>
		<p class="upload_content" id="upload_content"></p>
		<br>
		<div class="clearfix"></div>
		<br>
		<label class="largetext" for="post">Activity Post Contents:</label>
		<textarea class="form-control" rows="10" name="post" id="post">{{ g.activity.post.raw }}</textarea>
		<br>
		<p>*We support markdown in this post.</p>
		<p>*For a new paragraph, please leave a blank line between two paragraphs so that we can format it into what you entered.</p>
		<br>
		<input type="submit" class="btn btn-primary" value="Submit">
	</form>
</div>

<div class="clearfix"></div>

{% endwith %}
{% endblock %}
