{% extends "base.html" %}{% from 'macros.html' import render_pagination %}
{% block title %}{{ g.club.name }}{% endblock %}
{% block content %}

<!-- Below Navbar -->
<div class="large_container">
	<h1 class="text-center title">Photos of {{ g.club.name }}</h1>
	{% if acts %}
	{% for upload in uploads %}
	<div class="photo bright">
		<img src="{{ upload.location_external }}" class="img-responsive" alt="{{ upload.club.name }}">
	</div>
	{% endfor %}
	{% else %}
	<p class="text-center color-lightgrey" style="font-size:125%">{{ g.club.name }} does not have any activity with photos yet.</p>
	{% endif %}
	<br>
	<center>{{ render_pagination(pagination) }}</center>
</div>

{% endblock %}
