{% extends "base.html" %}{% from 'macros.html' import render_pagination %}
{% block title %}{{ g.club.name }}{% endblock %}
{% block content %}

<!-- Below Navbar -->
<div class="large_container">
	<div id="sidebar" class="col-sm-2">
		{% for pic in club_pic %}
		<img src="{{ pic.location_external }}" class="img-responsive img-thumbnail" alt="Club Image">
		{% endfor %}
	</div>

	<div class="col-sm-10">
		<h1 class="title">Activites of {{ g.club.name }}</h1>
		<table class="table table-hover table-bordered">
			<thead class="darklist">
				<tr style="background-color:#bfbfbf">
					<th>Contents</th>
					<th>Time</th>
					<th>Location</th>
				</tr>
			</thead>
			<tbody>
				{% for act in acts %}
				<tr class="clickable act" data-href="{{ url_for('.actintro', activity=act.callsign) }}">
					<td>{{ act.name }}</td>
					<td>{{ act.date }}</td>
					<td>{{ act.location }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<center>{{ render_pagination(pagination) }}</center>
	</div>
</div>

{% endblock %}