{% extends "base.html" %}
{% block title %}HongMei Status{% endblock %}
{% block content %}

<!-- Below Navbar -->
<div class="container">
	<h1 class="title">HongMei Activities</h1>
	<h2 class="title_next">{{ g.club.name }}</h2>
	<table class="table table-hover table-bordered" id="memberinfotable">
		<thead class="list">
			<tr style="background-color:#bfbfbf">
				<th style="width:50%">Date</th>
				<th style="width:50%">Members</th>
			</tr>
		</thead>
		<tbody>
			{% for act in acts %}
			<tr class="act">
				<td>{{ act.date }}</td>
				<td>
					{% for member in act.signup_list() %}
					{{ member.user.nickname }}: {{ member.user.phone }} (Consent Form Handed? {% if member.consentform == 1 %}Yes{% else %}No{% endif %})<br>
					{% endfor %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<br>
	<center><a href="{{ url_for('.hongmei_status_download', club=g.club.callsign) }}" target="_blank">
		<button class="btn btn-success downloadbtn">Download as Excel Document</button>
	</a></center>
</div>

{% endblock %}