{% extends "base.html" %}
{% block title %}Input Attendance{% endblock %}
{% block content %}
{% with atten = get_flashed_messages(category_filter=["atten"]) %}

<!-- Below Navbar -->
<div class="container">
	<h1 class="title">Input Attendance for {{ g.activity.name }}</h1>
	<h2 class="title_next">{{ g.activity.club.name }}</h2>
	<br>
	{% if atten %}
	<ul class="list-group">
		{% for message in atten %}
		<li class="list-group-item">{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	<p class="color-lightgrey" style="font-size:125%">Please select those who attended the meeting/activity.</p>
	<div class="checkbox_block">
		{% for member in g.activity.club.members %}
		<label for="{{ member.id }}">
			<div class="col-sm-3" style="padding:0 5px 0 5px">
				<img src="{{ member.picture.location_external }}" class="img-responsive" alt="{{ member.nickname }}">
			</div>
			<div class="col-sm-7">
				<p>{{ member.nickname }}</p>
				<p>{{ member.passportname }}</p>
			</div>
			<div class="col-sm-2">
				<input type="checkbox" name="attendance" form="atten_form" value="{{ member.id }}"" id="{{ member.id }}">
			</div>
		</label>
		{% endfor %}
	</div>
	<br>
	<center>
		<form action="{{ url_for('.inputatten_submit', activity=g.activity.callsign) }}" method="post" id="atten_form">
			<input class="btn btn-info" type="submit" style="width:20%;padding: 3% 0 3% 0; font-size:200%" value="Submit">
			<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
		</form>
	</center>
</div>

{% endwith %}
{% endblock %}