{% extends "base.html" %}
{% block title %}HongMei Schedule{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(category_filter=["newhm"]) %}

<!-- Below Navbar -->
<div class="container">
	<h1 class="title">Input HongMei Schedule</h1>
	<h2 class="title_next">{{ g.club.name }}</h2>
	<br>

	<h2 class="color-lightgrey">Schedule</h2>
	<table class="table table-bordered" id="schedule">
		<thead class="list">
			<tr style="background-color:#bfbfbf">
				<th>Date</th>
				<th>Contents</th>
			</tr>
		</thead>
		<tbody>
			{% for act in acts %}
			<tr class="act">
				<td>{{ act.date.strftime('%b-%d-%y') }}</td>
				<td>{{ act.name }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	{% if messages %}
	<br>
	<ul class="list-group">
		{% for message in messages %}
		<li class="list-group-item">{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}

	<div class="container" id="hminfoinput">
		<form class="form-group color-lightgrey" action="{{ url_for('.newhm_submit', club=g.club.callsign) }}" method="post" id="newhm" style="background-color:#66a3ff; padding:5%; border-style:solid; border-color:#b3cce6">
			<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
			<h1>Input Information</h1>
			<label for="date">Date:</label>
			<div class="clearfix"></div>
			<div class="col-sm-4">
				<select name="year" class="form-control">
					{% for year in years %}
					<option value="{{ year }}">{{ year }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-sm-4">
				<select name="month" class="form-control">
					{% for month in range(1,13) %}
					<option value="{{ month }}">{{ month }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-sm-4">
				<select name="day" class="form-control">
					{% for day in range(1,32) %}
					<option value="{{ day }}">{{ day }}</option>
					{% endfor %}
				</select>
			</div>
			<br>
			<label for="contents">Contents:</label>
			<input type="text" class="form-control" name="contents" id="contents">
			<br>
			<center><input class="btn btn-primary" value="Submit" type="submit" style="font-size:125%; padding:3%"></center>
		</form>
	</div>
	<center><a href="{{ url_for('clubblueprint.club', club=g.club.callsign) }}">
		<button class="btn btn-success" style="padding: 3%; font-size:175%; max-width:100%; white-space: normal">Return to Club Management Page</button>
	</a></center>
</div>

{% endwith %}
{% endblock %}
