{% extends "base.html.j2" %}

{% block additionalcssjs %}
<link href="{{ url_for('static', filename='cdn/cdnjs/select2/4.0.5/css/select2.min.css') }}" rel="stylesheet" type="text/css" media="all" integrity="sha384-HIipfSYbpCkh5/1V87AWAeR5SUrNiewznrUrtNz1ux4uneLhsAKzv/0FnMbj3m6g">
<script src="{{ url_for('static', filename='cdn/cdnjs/select2/4.0.5/js/select2.min.js') }}" integrity="sha384-xMX6VHK1HYyCMM8zHAVkLHgg2rIDhN01+z4rI70RV2dwzzVlHP95uaDOc5ds7Pow"></script>
<script src="{{ url_for('static', filename='js/selection.min.js') }}"></script>
<link href="{{ url_for('static', filename='css/form.min.css') }}" rel="stylesheet" type="text/css" media="all">
{% endblock %}


{% block title %}Pair Reservation{% endblock %}

{% block content %}

<div class="container">

	<br>
	<br>
	<br>

	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Pair Reservation - {{ g.activity.name }}</h4>
					</div>
					<div class="panel-body">
						<a class="btn btn-default" href="{{ url_for('resblueprint.newreservation_club', club=g.activity.club.callsign) }}">New Reservation</a>
						{% if form.errors %}
						<br>
						<div class="alert alert-warning">
							<span class="glyphicon glyphicon-warning-sign"></span>
							{% for field in form.errors %}
							{{ form.errors[field] }}
							{% endfor %}
						</div>
						{% endif %}
						<form class="form-group" action="{{ url_for('.pairreservation', activity=g.activity.callsign) }}" method="post">
							<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
							<div class="form-group">
								<div class="input-group">
									{{ form.reservations_for_pairing.label }} {{ form.reservations_for_pairing }}
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									{{ form.submit(class_="btn btn-primary") }}
								</div>
							</div>
						</form>
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.form-group -->
		</div>
		<!-- /.col-md-4 -->
		<div class="col-md-4">
		</div>
	</div>
	<!-- /.row -->
</div>
<!-- /.container -->

{% endblock %}
