{% extends "base.html" %}{% from 'macros.html' import render_pagination %}
{% block title %}All Photos{% endblock %}
{% block content %}

<!-- Below Navbar -->
<div class="large_container" id="allphotospage">
	<h1 class="text-center title">All Photos</h1>
	{% if act_recent %}
	<div class="jumbotron">
		<div class="col-sm-4" id="photo-image">
			<img src="{{ act_recent.pictures[0].location_external }}" class="img-responsive img-thumbnail" alt="Image">
		</div>
		<div class="col-sm-7" id="photo-desc">
			<h1>{{ act_recent.club.name }}</h1>
			<h1>{{ act_recent.name }}</h1>
			<h3>Recent Event - This activity is most recently happened event with pictures.</h3>
			<h3>Feel free to click it to check the activity.</h3>
			<h3>Below are other fantastic photos from clubs.</h3>
		</div>
		<div class="clearfix"></div>
	</div>
	<br>
	{% endif %}
	<div class="clearfix"></div>
	{% if acts %}
	{% for act in acts %}
	<div class="photo clickable bright" data-href="{{ url_for('.actpost', activity=act.callsign) }}">
		<img src="{{ act.pictures[0].location_external }}" class="img-responsive" alt="{{ act.name }}">
		<h4>{{ act.name }}</h4>
		<p>{{ act.club.name }}</p>
	</div>
	{% endfor %}
	{% else %}
	<p class="text-center color-lightgrey smalltext">No club has any activity with photos yet.</p>
	{% endif %}
	<div class="clearfix"></div>
	<br>
	<center>{{ render_pagination(pagination) }}</center>
</div>

{% endblock %}
