{% extends "base.html" %}
{% block content %}

<!-- Below Navbar -->
<div class="large_container">
	<!-- Side Menu -->
	<div class="col-sm-2">
		<div class="list-group" style="margin-top:50px">
			<li class="list-group-item active">Achievement</li>
			<a href="#" class="list-group-item selected">All Clubs</a>
			<a href="#" class="list-group-item">Excellent Clubs</a>
		</div>
		<div class="list-group">
			<li class="list-group-item active">Club Types</li>
			<a href="#" class="list-group-item selected">All</a>
			<a href="#" class="list-group-item">Academics</a>
			<a href="#" class="list-group-item">Sports</a>
			<a href="#" class="list-group-item">The Arts</a>
			<a href="#" class="list-group-item">Services</a>
			<a href="#" class="list-group-item">Others</a>
			<a href="#" class="list-group-item">School Teams</a>
		</div>
	</div>

	<!-- Main Content -->
	<div class="col-sm-10" style="padding-right:50px">
		<div class="container">
			<div class="jumbotron" style="background-color:#3366ff;color:#e6e6e6">
				<h1>{{ activity.actname }}</h1>
				<p>{{ activity.club }}</p>
			</div>
			<p style="font-size:150%">Time: {{ activity.time }}</p>
			<p style="font-size:150%">Amount of people: {{ activity.people }}</p>
			<br>
			<p style="font-size:150%">Introduction:</p>
			<p style="font-size:150%">{{ activity.intro }}</p>
		</div>
		<div class="container">
			<div class="intro_function">
				<a href="clubintro">
					<div class="col-sm-5">
						<h2>Club Introduction</h2>
					</div>
				</a>
				<a href="#">
					<div class="col-sm-5">
						<h2>Join</h2>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="clearfix"></div>

{% endblock %}