{% block content %}

<!-- Below Navbar -->
<div>
    <!-- Side Menu -->
	<div class="col-sm-2" style="padding-left:30px">
        <div class="list-group">
            <li class="list-group-item active">Club Types</li>
            <a href="#" class="list-group-item">Academics</a>
            <a href="#" class="list-group-item">Sports</a>
            <a href="#" class="list-group-item">The Arts</a>
            <a href="#" class="list-group-item">Services</a>
            <a href="#" class="list-group-item">Others</a>
            <a href="#" class="list-group-item">School Teams</a>
        </div>
        <div class="list-group">
            <li class="list-group-item active">This Club's</li>
            <a href="#" class="list-group-item">Activities</a>
            <a href="#" class="list-group-item">Photos</a>
        </div>
    </div>
    <!-- Main Content -->
    <div class="col-sm-10" style="padding-right:50px">
        <div class="container">
            <div class="jumbotron">
                <h1>Club Name</h1>
                <p>Here's one-sentence introduction of the club.</p>
            </div>
            <p class="text-right">Written by: Club Leader</p>
            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <footer>Teacher's/Student's name</footer>
            </blockquote>
            <center><img src="images/picture.jpg" class="img-thumbnail" alt="Club Photo"></center>
            <br><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <br><br><br>
        </div>
    </div>
</div>


<center><button type="button" class="btn btn-primary"><a href="#" style="color:#fff">Back to the top</a></button></center>

<br><br><br>

<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="col-md-4 soci">
            <h3>Join Clubs</h3>
            <a href="#"><p style="text-decoration:underline">Fill out application form.</p></a>
        </div>
        <div class="col-md-4 footer-left">
            <h3>Notes</h3>
            <p>This is a student-made website. We are always welcoming advice about improving this website. Feel free to contact us and check our school, SHSID.</p>
        </div>
        <div class="col-md-4 footer-left">
            <h3>Contact Us</h3>
            <p>oclubs@outlook.com</p>
            <div class="clearfix"> </div>
            <h3>Advice/Opinion</h3>
            <a href="#"><p style="text-decoration:underline">Click Here</p></a>
        </div>
    </div>
</div>
<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 0;"></span> <span id="toTopHover" style="opacity: 0;"> </span></a>


{% endblock %}