{% extends "base.html" %}
{% block content %}

<!-- Below Navbar -->
<div>
    <!-- Side Menu -->
	<div class="col-sm-2" style="padding-left:30px">
        <div class="list-group">
            <li class="list-group-item active">Club Types</li>
            <a href="#" class="list-group-item">Academics</a>
            <a href="#" class="list-group-item">Sports</a>
            <a href="#" class="list-group-item">The Arts</a>
            <a href="#" class="list-group-item">Services</a>
            <a href="#" class="list-group-item">Others</a>
            <a href="#" class="list-group-item">School Teams</a>
        </div>
        <div class="list-group">
            <li class="list-group-item active">This Club's</li>
            <a href="#" class="list-group-item">Activities</a>
            <a href="#" class="list-group-item">Photos</a>
        </div>
    </div>
    <!-- Main Content -->
    <div class="col-sm-10" style="padding-right:50px">
        <div class="container">
            <div class="jumbotron" style="background-color:#3366ff;color:#e6e6e6">
                <h1>Club Name</h1>
                <p>Here's one-sentence introduction of the club.</p>
            </div>
            <p class="text-right">Written by: Club Leader</p>
            <blockquote style="border-left:5px solid #3366ff">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <footer>Teacher's/Student's name</footer>
            </blockquote>
            <center><img src="static/images/intro5.jpg" class="img-thumbnail" alt="Club Photo"></center>
            <br><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <br><br><br>
        </div>
        <div class="container">
            <div class="intro_function">
                <a href="clubact">
                    <div class="col-sm-3">
                        <h2>Activities</h2>
                    </div>
                </a>
                <a href="#">
                    <div class="col-sm-3">
                        <h2>Photos</h2>
                    </div>
                </a>
                <a href="#">
                    <div class="col-sm-3">
                        <h2>Join</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

{% endblock %}