{% extends "base.html" %}
{% block content %}

<!-- Below Navbar -->
<div class="container">
    <h1 class="title">Three creators of this website</h1>
    <h2 class="title_next">Here are some basic introduction for them.</h2>
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Ichiro Tai</div>
            <div class="panel-body">
                <img class="img-circle img-responsive" src="static/images/picture.jpg" alt="Ichiro Tai">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">YiFei Zhu</div>
            <div class="panel-body">
                <img class="img-circle img-responsive" src="static/images/picture.jpg" alt="YiFei Zhu">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-info">
            <div class="panel-heading">Frank Lee</div>
            <div class="panel-body">
                <img class="img-circle img-responsive" src="static/images/picture.jpg" alt="Frank Lee">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
	<h2 class="title_next">*Special thanks to Jasmine Gu.</h2>
	<br>
</div>

<div class="container">
<a href="http://www.shsid.org"><button type="button" class="btn btn-info btn-block btn-lg">Check school homepage! - Shanghai High School International Division</button></a>
</div>

{% endblock %}