{% extends "base.html" %}
{% block content %}
<div class="main">
		<div class="container">
				<div class="col-md-3 blockpic">
					<div class="view view-eighth">
						<img src="static/images/shsid1.jpg" class="img-responsive" alt="" />
						<div class="mask">
							<h2>Letraset sheets</h2>
							<p>with the release Letraset sheets Lorem</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 blockpic">
					<div class="view1 view-eighth">
						<img src="static/images/shsid2.jpg" class="img-responsive" alt="" />
						<div class="mask">
							<h2>sheets Lorem Ipsum containing</h2>
							<p> Letraset sheets with the release Letraset</p>
						</div>
					</div>
				 </div>
				<div class="col-md-3 blockpic">
					<div class="view view-eighth">
						<img src="static/images/shsid3.jpg" class="img-responsive" alt="" />
						<div class="mask">
							<h2>sheets release</h2>
							<p>with the release Letraset sheets Lorem </p>
						</div>
					</div>
				 </div>
				<div class="col-md-6 blockpic">
					<div class="view1 view-eighth">
						<img src="static/images/shsid4.jpg" class="img-responsive" alt="" />
						<div class="mask">
							<h2>Letraset sheets with</h2>
							<p>Lorem Ipsum containing Lorem Ipsum passages</p>
							
						</div>
					</div>
				 </div>
				 <div class="col-md-3 blockpic">
					<div class="view view-eighth">
						<img src="static/images/shsid5.jpg" class="img-responsive" alt="" />
						<div class="mask">
							<h2>containing Lorem</h2>
							<p> sheets Lorem Ipsum containing Lorem passages</p>
						</div>
					</div>
				 </div>
				 <div class="col-md-3 blockpic">
					<div class="view view-eighth">
						<img src="static/images/shsid1.jpg" class="img-responsive" alt="" />
						<div class="mask">
							<h2>with the release</h2>
							<p> Letraset sheets with the release Letraset sheets</p>
						</div>
					</div>
				 </div>
            </div>
        </div>
{% endblock %}