{% extends "base.html.j2" %}
{% from 'macros.html.j2' import render_pagination, desktop_sidebar_res,
  mobile_selection_res %}
{% block title %}All Reservations{% endblock %}
{% block content %}

<!-- Below Navbar -->
<div class="large_container">
  {{ desktop_sidebar_res('.allreservations', res_filter, form, clearBtn, is_admin) }}

  <div class="main-content col-md-10" id="reservation-list">
    <h1 class="title_next bold">Reservations - {{ res_filter.title() }}</h1>
    {{ mobile_selection_res('.allreservations', res_filter, is_admin) }}
    <table class="table table-hover table-bordered" id="resinfotable">
      <thead>
        <tr>
          <th>Activity Name</th>
          <th>Reserver</th>
          <th>Date</th>
          <th>Time</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        {% for reservation in res %}
        <tr>
          <td>{{ reservation.activity.name }}</td>
          <td>{{ reservation.activity.club.name }}</td>
          <td>{{ reservation.activity.date }}</td>
          <td>{{ reservation.activity.time.format_name }}</td>
          <td>{{ reservation.classroom.location }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <center>{{ render_pagination(pagination) }}</center>
  </div>
</div>

{% endblock %}
