Hi {{ member.nickname }},

{{ club.leader.nickname }} has changed {{ club.name }}'s information.


Below is the newest update.


Introduction:

{{ club.intro }}


Description:

{{ club.description.raw }}


Thank you for using Connect.


Sincerely,
Connect Team
