Hi {{ member.nickname }},


{{ club.name }}'s information has been changed.

The latest update:


Introduction:

{{ club.intro }}


Description:

{{ club.description.raw }}


Thank you for using Connect.

Sincerely,
Connect Team
