Hi {{ member.nickname }},


{{ club.name }} is going to host {{ act.name }}.


Name: {{ act.name }}
Club: {{ act.club.name }}
Date: {{ act.date }}
Time: {{ act.time.format_name }}
Location: {{ act.location }}
CAS hour: {{ act.cas }}


Description:

{{ act.description.raw }}


Thank you for using Connect.

Sincerely,
Connect Team
