Hi {{ member.nickname }},


{{ club.leader.nickname }} from {{ club.name }} has contacted all members from the club.

Below is the information:

{{ notify_contents }}


If you have question, please contact him/her for more information.


Thank you for using Connect.

Sincerely,
Connect Team
