Hi {{ club.leader.nickname }},


{{ user.nickname }} ({{ user.grade_and_class }}) has quit {{ club.name }}.


Below is their reason for quitting:
{{ reason }}


Thank you for using Connect.

Sincerely,
Connect Team
