Hi {{ user.nickname }},

You have successfully submitted your HongMei plan.

Below is your schedule:

Club: {{ club.name }}

{{ plan }}

Please remember to attend these HongMei activities.

Thank you for using Connect.


Sincerely,
Connect Team
